<nav class="main-header navbar navbar-expand navbar-olive navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a [routerLink]="['/Inicio']" [routerLinkActive]="['active']" class="nav-link">Início</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="https://gmail.com/"  target="_blank" class="nav-link">E-mail</a>
    </li>
    
    <li class="nav-item d-none d-sm-inline-block">
      <a href="https://guardiaov4.seplag.ce.gov.br/auth"  target="_blank" class="nav-link">Guardião</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="https://irso.pm.ce.gov.br/irso_login_ctr/"  target="_blank" class="nav-link">IRSO</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="https://sapm.pm.ce.gov.br/login_sapm/"  target="_blank" class="nav-link">SAPM</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="https://siarm.pm.ce.gov.br/login_siarm/"  target="_blank" class="nav-link">SIARM</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="https://sisbol.pm.ce.gov.br/login_bcg/"  target="_blank" class="nav-link">SISBOL</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="https://sistemas.pm.ce.gov.br/"  target="_blank" class="nav-link">Sistemas PMCE</a>
    </li>
   
    
  </ul>

  <ul class="navbar-nav ml-auto">
    <!--<li class="nav-item">
      <a class="nav-link" data-widget="navbar-search" href="#" role="button">
        <i class="fas fa-search"></i>
      </a>
      <div class="navbar-search-block">
        <form class="form-inline">
          <div class="input-group input-group-sm">
            <input
              class="form-control form-control-navbar"
              type="search"
              placeholder="Pesquisar..."
              aria-label="Pesquisar..."
              [(ngModel)]="textsearch"
            />
            <div class="input-group-append">
              <button (click)="search()" class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
              <button
                class="btn btn-navbar"
                type="button"
                data-widget="navbar-search"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    
    <li class="nav-item dropdown">
      <a (click)="showmenu2()" class="nav-link" data-bs-toggle="dropdown" [ngClass]="{ 'show': menu2 == true }" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">15</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" [ngClass]="{ 'show': menu2 == true }">
        <span class="dropdown-item dropdown-header">15 Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> 4 new messagesasd  das d  sdda dasd ds s
          <span class="float-right text-muted text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-users mr-2"></i> 8 friend requests
          <span class="float-right text-muted text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i> 3 new reports
          <span class="float-right text-muted text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer"
          >See All Notifications</a
        >
      </div>
    </li>
    
    <li class="nav-item">
      <a [routerLink]="['/Usuario', user.id]" [routerLinkActive]="['active']" class="nav-link"  title="Perfil" role="button">
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" title="Logout" role="button">
        <i class="fas fa-sign-out"></i>
      </a>
    </li>-->
   
    
    <li class="nav-item dropdown user-menu" style="margin-right: 100px!important;">
      <a (click)="showmenu()" href="#" class="nav-link dropdown-toggle " [ngClass]="{ 'show': menu == true }" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{url}}casamil.png" class="user-image img-circle elevation-2" alt="User Image">        
        <span class="d-none d-md-inline">{{user?.nome}}</span>
      </a>
    
      <ul  class="dropdown-menu dropdown-menu-lg dropdown-menu-right " style="margin-top: 8px!important;" [ngClass]="{ 'show': menu == true }">
        
        <li class="user-header bg-olive">
          <img src="{{url}}casamil.png" class="img-circle elevation-2" alt="User Image">

          <p>
            {{user?.nome}}
            <small></small>
          </p>
        </li>
        
        <li class="user-body">
          <div class="row">
            
            <div class="col-12 text-center">
              <a data-bs-toggle="modal" data-bs-target="#modalsenha" class="point">Alterar senha</a>
            </div>
            
          </div>
         
        </li>
       
        <li class="user-footer">
          <a [routerLink]="['/Usuario', user.id]" class="btn btn-default btn-flat">Perfil</a>
          <a (click)="logout()" class="btn btn-default btn-flat float-right">Sair</a>
        </li>
      </ul>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-widget="control-sidebar"
        data-slide="true"
        href="#"
        role="button"
      >
        <i class="fas fa-th-large"></i>
      </a>
    </li>-->
  </ul>
</nav>

<div class="modal fade" id="modalsenha" aria-modal="true" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alterar senha</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <form [formGroup]="formcadsenha" (ngSubmit)="alterarsenha()">
        <div class="modal-body">
         
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="password">Senha<span class="text-danger">*</span></label>
                <input formControlName="password" required type="password" minlength="6" class="form-control form-control-border"
                  id="password" placeholder="Senha" [ngClass]="{
                    'is-invalid':
                    formcadsenha.controls.password.invalid &&
                      (formcadsenha.controls.password.dirty ||
                      formcadsenha.controls.password.touched)
                  }" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="confirm">Confirmar Senha<span class="text-danger">*</span></label>
                <input formControlName="confirm" required type="password" minlength="6" class="form-control form-control-border"
                  id="confirm" placeholder="Confirmar Senha" [ngClass]="{
                    'is-invalid':
                    formcadsenha.controls.confirm.invalid &&
                      (formcadsenha.controls.confirm.dirty ||
                      formcadsenha.controls.confirm.touched)
                  }" />
              </div>
            </div>

          </div>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button [disabled]="!formcadsenha.valid || formcadsenha.value.password != formcadsenha.value.confirm" data-bs-dismiss="modal" type="submit"
            class="btn btn-success">
            Salvar
          </button>
        </div>
      </form>
      
    </div>
  </div>
</div>
