<form  [formGroup]="form" >
    <div class="row">
        <input-text class="col-sm-4" formControlName="nome" label="Nome" id="nome" tipo="text" />
        <input-text class="col-sm-2" formControlName="abreviatura" label="Abreviatura" id="abreviatura" tipo="text" />
    </div>    
    
    <div class="d-flex justify-content-end">
        <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
        <button [disabled]="form.invalid" type="button" (click)="cadastrar()" data-bs-dismiss="modal" class="btn btn-primary">Cadastrar</button>
    </div>
</form>