<!--<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>-->
  <div class="content-wrapper" style="min-height: 1604.44px">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Início</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Início</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="row">
        <div *ngIf="user.perfil.usuarios" class="col-sm-2">
          <div class="info-box shadow-sm">
            <span class="info-box-icon bg-success"
              ><i class="fa fa-users"></i
            ></span>
            <div class="info-box-content" >
              <span class="info-box-text"><b>Policiais</b></span>
              <span class="info-box-number" *ngIf="quantpm">{{ quantpm }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="user.perfil.afastamentos" class="col-sm-2">
          <div class="info-box shadow-sm">
            <span class="info-box-icon bg-danger"
              ><i class="fa fa-medkit"></i
            ></span>
            <div class="info-box-content" >
              <span class="info-box-text"><b>Afastamentos</b></span>
              <span class="info-box-number" *ngIf="quantafast">{{ quantafast }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="user.perfil.usuarios_cad" class="col-sm-2">
          <div class="info-box shadow-sm">
            <span class="info-box-icon bg-danger"
              ><i class="fa fa-map"></i
            ></span>
            <div class="info-box-content" >
              <span class="info-box-text"><b>Férias</b></span>
              <span class="info-box-number" *ngIf="quantferias">{{ quantferias }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="user.perfil.veiculos" class="col-sm-2">
          <div class="info-box shadow-sm">
            <span class="info-box-icon bg-primary"
              ><i class="fa fa-car"></i
            ></span>
            <div class="info-box-content">
              <span class="info-box-text"><b>Veiculos</b></span>
              <span class="info-box-number" *ngIf="quantaveiculos">{{ quantaveiculos }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="user.perfil.oficial_dia" class="col-sm-2">
          <div class="info-box shadow-sm">
            <span class="info-box-icon bg-success"
              ><i class=" fa fa-calendar"></i
            ></span>
            <div class="info-box-content">
              <span class="info-box-text"><b>Escala do dia</b></span>
              <span class="info-box-number" *ngIf="escaladia && escaladia.length > 0"><a target="_blank" [routerLink]="['/Escala', escaladia[0].id]">{{ escaladia[0].codigo }}/{{ escaladia[0].created_at | date: 'yyyy' }}</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!--INICIO USUARIOS POR SETOR-->
        <div *ngIf="user.perfil.usuarios_cad"  class="col-sm-4">
          <div class="card card-outline card-orange">
            <div class="card-header">
              <h3 class="card-title">Policiais por Setores</h3>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 500px;overflow-y: scroll;">
              <table                
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>SETOR</th>                  
                    <th>QUANT</th>     
                  </tr>
                </thead>
                <tbody *ngIf="quantasetores" >
                  <tr *ngFor="let data of quantasetores" class="hovers">
                    <td>{{ data.nome }}</td>                
                    <td>{{ data.quant }}</td> 
                   
                  </tr>
                </tbody>
              </table>

             
            </div>
          </div>
        </div>
        <!--FIM USUARIOS POR SETOR-->
        <!--INICIO MATERIAIS EMPRESTIMOS -->
        <div *ngIf="user.perfil.materiais_emprestimos" class="col-sm-4">
          <div class="card card-outline card-orange">
            <div class="card-header">
              <h3 class="card-title">Materiais Emprestados</h3>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 500px;overflow-y: scroll;">
              <table                
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>ID</th>                  
                    <th>MARCA/MODELO</th>     
                    <th>SERIAL</th> 
                    <th>USUÁRIO</th>
                    <th>DATA</th>
                  </tr>
                </thead>
                <tbody *ngIf="materiaisemprestimos">
                  <tr *ngFor="let data of materiaisemprestimos" class="hovers">
                    <td>{{ data.id }}</td>                
                    <td>{{ data.material.marca.nome }} / {{ data.material.modelo.nome }}</td> 
                    <td>
                      {{ data.material.serial }}                      
                    </td> 
                    <td>{{ data.usuario.graduacao.abreviatura }} {{ data.usuario.numeral }} {{ data.usuario.nome_guerra }}</td> 
                    <td>{{ data.data_saida | date:'dd/MM/yyyy' }}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--FIM MATERIAIS EMPRESTIMOS-->
        <!--INICIO MATERIAIS VENCIMENTOS-->
        <div *ngIf="user.perfil.materiais" class="col-sm-4">
          <div class="card card-outline card-orange">
            <div class="card-header">
              <h3 class="card-title">Materiais Próximos do Vencimento</h3>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 500px;overflow-y: scroll;">
              <table                
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>ID</th>                  
                    <th>MARCA</th>     
                    <th>MODELO</th> 
                    <th>SERIAL</th> 
                    <th>DATA VENC.</th>
                  </tr>
                </thead>
                <tbody *ngIf="materiaisvencimentos">
                  <tr *ngFor="let data of materiaisvencimentos" class="hovers">
                    <td>{{ data.id }}</td>                
                    <td>{{ data.marca.nome }}</td> 
                    <td>{{ data.modelo.nome }}</td> 
                    <td>{{ data.serial }}</td> 
                    <td>{{ data.data_venc | date:'dd/MM/yyyy' }}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--FIM MATERIAIS VENCIMENTOS-->
        <!--INICIO ARMAMENTOS VENCIMENTOS-->
        <div *ngIf="user.perfil.armamentos" class="col-sm-4">
          <div class="card card-outline card-orange">
            <div class="card-header">
              <h3 class="card-title">Armamentos Próximos do Vencimento</h3>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 500px;overflow-y: scroll;">
              <table                
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>ID</th>                  
                    <th>TIPO</th>   
                    <th>MARCA</th>     
                    <th>MODELO</th> 
                    <th>SERIAL</th> 
                    <th>DATA VENC.</th>
                  </tr>
                </thead>
                <tbody *ngIf="armamentosvencimentos">
                  <tr *ngFor="let data of armamentosvencimentos" class="hovers">
                    <td>{{ data.id }}</td>                
                    <td>{{ data.armamento_tipo?.nome }}</td> 
                    <td>{{ data.marca.nome }}</td> 
                    <td>{{ data.modelo.nome }}</td> 
                    <td>{{ data.serial }}</td> 
                    <td>{{ data.data_venc | date:'dd/MM/yyyy' }}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--FIM ARMAMENTOS VENCIMENTOS-->
        <!--INICIO VEICULOS EMPRESTIMOS -->
        <div *ngIf="user.perfil.veiculos_emprestimos" class="col-sm-4">
          <div class="card card-outline card-orange">
            <div class="card-header">
              <h3 class="card-title">Veículos Emprestados</h3>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 500px;overflow-y: scroll;">
              <table                
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>ID</th>                  
                    <th>MARCA/MODELO</th>     
                    <th>PLACA</th> 
                    <th>USUÁRIO</th>
                    <th>DATA</th>
                  </tr>
                </thead>
                <tbody *ngIf="veiculosemprestimos">
                  <tr *ngFor="let data of veiculosemprestimos" class="hovers">
                    <td>{{ data.id }}</td>                
                    <td>{{ data.veiculo.marca.nome }} / {{ data.veiculo.modelo.nome }}</td> 
                    <td>
                      <span *ngIf="!data.veiculo.placa_esp">{{ data.veiculo.placa }}</span>
                      <span *ngIf="data.veiculo.placa_esp">{{ data.veiculo.placa_esp }}</span>
                    </td> 
                    <td>{{ data.usuario.graduacao.abreviatura }} {{ data.usuario.numeral }} {{ data.usuario.nome_guerra }}</td> 
                    <td>{{ data.data_saida | date:'dd/MM/yyyy' }}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--FIM VEICULOS EMPRESTIMOS-->
        <!--INICIO TROCA OLEO-->
        <div *ngIf="user.perfil.veiculos" class="col-sm-4">
          <div class="card card-outline card-orange">
            <div class="card-header">
              <h3 class="card-title">Próximas Trocas de Óleo</h3>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 500px;overflow-y: scroll;">
              <table                
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>ID</th>                  
                    <th>MARCA</th>     
                    <th>MODELO</th> 
                    <th>PLACA</th> 
                    <th>KM ATUAL</th>
                    <th>TROCA DE ÓLEO</th>
                  </tr>
                </thead>
                <tbody *ngIf="trocaoleo">
                  <tr *ngFor="let data of trocaoleo" class="hovers">
                    <td>{{ data.id }}</td>                
                    <td>{{ data.marca.nome }}</td> 
                    <td>{{ data.modelo.nome }}</td> 
                    <td>
                      <span *ngIf="!data.placa_esp">{{ data.placa }}</span>
                      <span *ngIf="data.placa_esp">{{ data.placa_esp }}</span>
                    </td> 
                    
                    <td>{{ data.km_atual }} km</td> 
                    <td>{{ data.troca_oleo }} km</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--FIM TROCA OLEO-->

        

        
      </div>
    </section>
  </div>
  <!--<app-footer></app-footer>
</div>-->
