<!--<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>-->
<div class="content-wrapper" *ngIf="user && data$" >
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Usuário</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="['/Inicio']">Início</a>
            </li>
            <li class="breadcrumb-item active">Usuário</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content" *ngIf="data$">
    <!--  INICIO PROFILE  -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-orange card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img *ngIf="data$.foto" class="profile-user-img img-fluid img-circle" src="{{'imagens/'+data$.foto}}"
                  alt="{{data$.nome_guerra}}" />
              </div>
              <h3 class="profile-username text-center">{{ data$.nome }}</h3>
              <p class="text-muted text-center">
                {{ data$.graduacao.abreviatura }}
                {{ data$.numeral | mask: "00.000" }}
                {{ data$.nome_guerra }}
              </p>
              <p class="text-center">
              <!--<a class="text-primary point " *ngIf="user.id == data$.id" data-bs-toggle="modal" data-bs-target="#modalsenha">Alterar senha</a>-->
            </p>
              <!--INICIO MODAL CADASTRO
                <div class="modal fade" id="modalsenha" aria-modal="true" role="dialog">
                  <div class="modal-dialog ">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Alterar senha</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      
                      <form [formGroup]="formcadsenha" (ngSubmit)="alterarsenha()">
                        <div class="modal-body">
                         
                          <div class="row">

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="password">Senha<span class="text-danger">*</span></label>
                                <input formControlName="password" required type="password" minlength="6" class="form-control form-control-border"
                                  id="password" placeholder="Senha" [ngClass]="{
                                    'is-invalid':
                                    formcadsenha.controls.password.invalid &&
                                      (formcadsenha.controls.password.dirty ||
                                      formcadsenha.controls.password.touched)
                                  }" />
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="confirm">Confirmar Senha<span class="text-danger">*</span></label>
                                <input formControlName="confirm" required type="password" minlength="6" class="form-control form-control-border"
                                  id="confirm" placeholder="Confirmar Senha" [ngClass]="{
                                    'is-invalid':
                                    formcadsenha.controls.confirm.invalid &&
                                      (formcadsenha.controls.confirm.dirty ||
                                      formcadsenha.controls.confirm.touched)
                                  }" />
                              </div>
                            </div>

                          </div>
                          

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                            Cancelar
                          </button>
                          <button [disabled]="!formcadsenha.valid || formcadsenha.value.password != formcadsenha.value.confirm" data-bs-dismiss="modal" type="submit"
                            class="btn btn-success">
                            Salvar
                          </button>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                </div>-->
                <!--FIM MODAL CADASTRO-->

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item" *ngIf="data$.graduacao">
                  <b>Graduação</b>
                  <a class="float-right">{{ data$.graduacao.nome }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.numeral">
                  <b>Numeral</b>
                  <a class="float-right">{{
                    data$.numeral | mask: "00.000"
                    }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.matricula">
                  <b>Matrícula</b>
                  <a class="float-right">{{
                    data$.matricula | mask: "000.000-0-A"
                    }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.cpf">
                  <b>CPF</b>
                  <a class="float-right">{{
                    data$.cpf | mask: "000.000.000-00"
                    }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.data_nascimento">
                  <b>Data Nascimento</b>
                  <a class="float-right">{{ data$.data_nascimento | date: 'dd/MM/yyyy' }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.sexo_id">
                  <b>Sexo</b>
                  <a class="float-right">
                    <span *ngIf="data$.sexo_id == 1">Masculino</span>
                    <span *ngIf="data$.sexo_id == 2">Feminino</span>
                  </a>
                </li>
                <li class="list-group-item" *ngIf="data$.cpf">
                  <b>CPF</b>
                  <a class="float-right">{{
                    data$.cpf | mask: "000.000.000-00"
                    }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.telefone1">
                  <b>Telefone 1</b>
                  <a class="float-right">{{
                    data$.telefone1 | mask: "(00) 00000-0000"
                    }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.telefone2">
                  <b>Telefone 2</b>
                  <a class="float-right">{{
                    data$.telefone2 | mask: "(00) 00000-0000)"
                    }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.email">
                  <b>E-mail</b> <a class="float-right">{{ data$.email }}</a>
                </li>
                <li class="list-group-item" *ngIf="data$.setor">
                  <b>Setor</b> <a class="float-right">{{ data$.setor?.nome }}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="card card-orange card-outline" *ngIf="data$.rua">
            <div class="card-header">
              <b>Endereço</b>
            </div>
            <div class="card-body">
              {{ data$.rua }}
              <span *ngIf="data$.numero">, {{ data$.numero }}</span>
              <span *ngIf="data$.bairro">, {{ data$.bairro }}</span>
              <span *ngIf="data$.cidade">, {{ data$.cidade.nome }}</span>
              <span *ngIf="data$.estado">, {{ data$.estado.nome }}</span>
              <span *ngIf="data$.pais">- {{ data$.pais.uf }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card card-orange card-outline">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item ">
                  <a class="nav-link active" href="#informacoes" data-bs-toggle="tab">Informações</a>
                </li>
                <li *ngIf="user.perfil.afastamentos || userid == this.user.id" class="nav-item ">
                  <a class="nav-link" href="#afastamentos" data-bs-toggle="tab">Afastamentos</a>
                </li>
                <li *ngIf="user.perfil.armamentos || userid == this.user.id" class="nav-item">
                  <a class="nav-link" href="#armamento" data-bs-toggle="tab">Armamentos</a>
                </li>
                <li *ngIf="user.perfil.materiais_emprestimos || userid == this.user.id" class="nav-item">
                  <a class="nav-link" href="#materiaisemprestimos" data-bs-toggle="tab">Emp. de Materiais</a>
                </li>
                <li *ngIf="user.perfil.veiculos_emprestimos || userid == this.user.id" class="nav-item">
                  <a class="nav-link" href="#veiculosemprestimos" data-bs-toggle="tab">Emp. de Veículos</a>
                </li>
                <li *ngIf="user.perfil.escalas || userid == this.user.id" class="nav-item">
                  <a class="nav-link" href="#escalas" data-bs-toggle="tab">Escalas</a>
                </li>
                <li *ngIf="user.perfil.usuarios_cad || userid == this.user.id" class="nav-item">
                  <a class="nav-link" href="#ferias" data-bs-toggle="tab">Férias</a>
                </li>
                <li *ngIf="user.perfil.irsos || userid == this.user.id" class="nav-item">
                  <a class="nav-link" href="#irso" data-bs-toggle="tab">Irsos</a>
                </li>
                <li *ngIf="user.perfil.usuarios_cad || userid == this.user.id" class="nav-item">
                  <a class="nav-link" href="#promocoes" data-bs-toggle="tab">Promoções</a>
                </li>
                <li *ngIf="user.perfil.publicacoes || userid == this.user.id" class="nav-item">
                  <a class="nav-link " href="#publicacoes" data-bs-toggle="tab">Publicações</a>
                </li>
              </ul>
            </div>
            <div class="card-body" style="overflow-x: scroll;">
              <div class="tab-content">
                <!--INICIO INFORMACOES-->
                <div class="active tab-pane" id="informacoes">

                  <dl class="row">

                    <dt class="col-sm-3">Boletim Inclusão:</dt>
                    <dd class="col-sm-8">{{ data$.boletim_inclusao }}</dd>

                    <dt class="col-sm-3">Data Ingresso:</dt>
                    <dd class="col-sm-8">{{ data$.data_ingresso | date: 'dd/MM/yyyy' }}</dd>

                    <dt class="col-sm-3">Tempo de Serviço:</dt>
                    <dd class="col-sm-8">{{ temppm }}</dd>

                    <dt class="col-sm-3">Boletim Entrada:</dt>
                    <dd class="col-sm-8">{{ data$.boletim_entrada }}</dd>

                    <dt class="col-sm-3">Data Apresentação:</dt>
                    <dd class="col-sm-8">{{ data$.data_apresentacao | date: 'dd/MM/yyyy' }}</dd>

                    <dt class="col-sm-3">Boletim Saída:</dt>
                    <dd class="col-sm-8">{{ data$.boletim_saida }}</dd>


                  </dl>

                </div>
                <!--FIM INFORMACOES-->

                <!--INICIO AFASTAMENTOS-->
                <div class="tab-pane" id="afastamentos">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>TIPO AFASTAMENTO</th>
                        <th>DATA</th>
                        <th>DIAS</th>
                        <th>DATA FIM</th>
                        <th>APTO</th>
                        <th>CID</th>
                        <th>OBJETO SERVIÇO</th>
                        <th>DATA COPEM</th>
                        <th>RESULTADO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                            let data of data$.afastamentos
                              | paginate
                                : {
                                    id: 'paglts',
                                    itemsPerPage: 10,
                                    currentPage: q
                                  }
                          ">
                        <td>{{ data.afastamento_tipo.nome }}</td>
                        <td>{{ data.data | date: "dd/MM/yyyy" }}</td>
                        <td>{{ data.dias }}</td>
                        <td>{{ data.data_fim | date: "dd/MM/yyyy" }}</td>
                        <td>{{ data.apto | date: "dd/MM/yyyy" }}</td>
                        <td>{{ data.cid }}</td>
                        <td>
                          <span *ngIf="data.objeto_servico">Sim</span>
                          <span *ngIf="!data.objeto_servico">Não</span>
                        </td>
                        <td>{{ data.copem | date: "dd/MM/yyyy" }}</td>
                        <td>
                          <span *ngIf="data.resultado == 1">Apto a seguir</span>
                          <span *ngIf="data.resultado == 2">Sem Observações</span>
                          <span *ngIf="data.resultado == 3">Serviços leves</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="paglts" (pageChange)="q = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>
                <!--FIM AFASTAMENTOS-->
                <!--INICIO ARMAMENTO-->
                <div class="tab-pane" id="armamento">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        
                        <!--<th>TIPO</th><th>MARCA</th>
                        <th>MODELO</th>
                        <th>SERIAL</th>
                          <th>DANIFICADO</th>
                        <th>EXTRAVIADO</th>
                      -->
                        <th>DATA EMP.</th>
                        <th>ARMAMENTOS</th>
                        <th>ARMEIRO</th>
                        <th>DATA DEV</th>                        
                        <!--<th>OBS.</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                              let data of data$.armamentos
                                | paginate
                                  : {
                                      id: 'pagarma',
                                      itemsPerPage: 10,
                                      currentPage: t
                                    }
                            ">
                        <!--<td>{{ data.armamento_tipo.nome }}</td>
                        <td>{{ data.marca.nome }}</td>
                        <td>{{ data.modelo.nome }}</td>
                        <td>{{ data.serial }}</td>
                          <td>
                          <span *ngIf="data.pivot.danificado">Sim</span>
                        </td>
                        <td>
                          <span *ngIf="data.pivot.extraviado">Sim</span>
                        </td>
                      
                        -->
                        <td>{{ data.data_emp | date: 'dd/MM/yyyy' }}</td>
                        <td>
                          <ol>
                            <li *ngFor="let data2 of data.armamentos">
                              {{ data2.armamento_tipo.nome }} - {{ data2.marca.nome }}/{{ data2.modelo.nome }} - {{ data2.serial }}
                            </li>
                          </ol>
                        </td>
                        <td>{{ data.armeiro.graduacao.abreviatura }} {{ data.armeiro?.numeral }} {{ data.armeiro.nome_guerra }}</td>
                        <td>{{ data.data_dev | date: 'dd/MM/yyyy' }}</td>
                       
                        <!--<td style="max-width: 500px; white-space: normal;" [innerHTML]="data.observacoes"></td>-->
                      </tr>
                    </tbody>
                  </table>
                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagarma" (pageChange)="t = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>
                <!--FIM ARMAMENTO-->
                <!--INICIO  EMPRESTIMOS MATERIAIS-->
                <div class="tab-pane" id="materiaisemprestimos">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>MATERIAIS</th>
                        <th>DATA EMPRÉSTIMO</th>
                        <th>HORA EMPRÉSTIMO</th>
                        <th>DATA DEVOLUÇÃO</th>
                        <th>HORA DEVOLUÇÃO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                              let data of data$.emprestimosmateriais
                                | paginate
                                  : {
                                      id: 'pagempmat',
                                      itemsPerPage: 10,
                                      currentPage: w
                                    }
                            ">
                        <td>
                          <ol>
                            <li *ngFor="let data2 of data.materiais">
                              {{ data2.material_tipo.nome }} - {{ data2.marca.nome }}/{{ data2.modelo.nome }} - {{ data2.serial }}
                            </li>
                          </ol>
                        </td>
                        <td>{{ data.data_emp | date: "dd/MM/yyyy" }}</td>
                        <td>{{ data.hora_emp }}</td>
                        <td>{{ data.data_dev | date: "dd/MM/yyyy" }}</td>
                        <td>{{ data.hora_dev }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagempmat" (pageChange)="w = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>
                <!--FIM EMPRESTIMOS MATERIAIS-->
                <!--INICIO  EMPRESTIMOS VEICULOS-->
                <div class="tab-pane" id="veiculosemprestimos">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>MARCA/MODELO</th>
                        <th>PLACA</th>
                        <th>PLACA ESP.</th>
                        <th>DATA SAÍDA</th>
                        <th>HORA SAÍDA</th>
                        <th>KM INICIAL</th>
                        <th>DATA CHEGADA</th>
                        <th>HORA CHEGADA</th>
                        <th>KM FINAL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                              let data of data$.emprestimosveiculos
                                | paginate
                                  : {
                                      id: 'pagempvei',
                                      itemsPerPage: 10,
                                      currentPage: u
                                    }
                            ">
                        <td>{{ data.marca?.nome }} / {{ data.modelo.nome }}</td>
                        <td>{{ data.placa }}</td>
                        <td>{{ data.placa_esp }}</td>
                        <td>{{ data.pivot.data_saida | date: "dd/MM/yyyy" }}</td>
                        <td>{{ data.pivot.hora_saida }}</td>
                        <td>{{ data.pivot.km_inicial }}</td>
                        <td>{{ data.pivot.data_chegada | date: "dd/MM/yyyy" }}</td>
                        <td>{{ data.pivot.hora_chegada }}</td>
                        <td>{{ data.pivot.km_final }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagempvei" (pageChange)="u = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>
                <!--FIM EMPRESTIMOS VEICULOS-->
                <!--INICIO ESCALAS-->
                <div class="tab-pane" id="escalas">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>DATA</th>
                        <th>MODALIDADE</th>
                        <th>POSTO</th>
                        <th>TURNO</th>
                        <th>ATRASADO</th>
                        <th>AUSENTE</th>
                        <th>ATESTADO</th>
                        <th>DISPENSADO</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                              let data of data$.escalas
                                | paginate
                                  : {
                                      id: 'pagesc',
                                      itemsPerPage: 10,
                                      currentPage: s
                                    }
                            ">
                        <td><a target="_blank" [routerLink]="['/Escala', data$.escala?.id]">{{ data.escala?.data |
                            date:'dd/MM/yyyy' }}</a></td>

                        <td>{{ data.modalidade?.nome }}</td>
                        <td>{{ data.posto?.nome }}</td>
                        <td>{{ data.turno?.nome }} <span *ngIf="data.turno?.data_ini">({{ data.turno?.data_ini }} às {{
                            data.turno?.data_fim }})</span></td>
                        <td><span *ngIf="data.atrasado">Sim</span></td>
                        <td><span *ngIf="data.ausente">Sim</span></td>
                        <td><span *ngIf="data.atestado">Sim</span></td>
                        <td><span *ngIf="data.dispensado">Sim</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagesc" (pageChange)="s = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>
                <!--FIM ESCALAS-->


                <!--INICIO FERIAS -->
                <div class="tab-pane" id="ferias">
                  <!--<button *ngIf="user.perfil.usuarios_cad" data-bs-toggle="modal" data-bs-target="#modalcadferias" style="margin-bottom: 10px;" class="btn btn-outline-primary">
                    <i class="right fa fa-plus " data-toggle="tooltip" data-placement="top" title="Ficha"></i>
                  </button>-->

                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>DATA INI.</th>
                        <th>DIAS</th>
                        <th>DATA FIM</th>
                        <th>DATA APTO</th>
                        <th>ANO REF.</th>
                        <th>BOLETIM</th>
                        <!--<th>OPÇÕES</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                            let data of data$.ferias
                              | paginate
                                : {
                                    id: 'pagferias',
                                    itemsPerPage: 10,
                                    currentPage: x
                                  }
                          " class="hovers">
                        <td>{{ data.data_ini | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ data.dias }}</td>
                        <td>{{ data.data_fim | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ data.apto | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ data.ano }}</td>
                        <td>{{ data.boletim }}</td>
                        <!--<td>
                          <span class="editdata">
                            <i *ngIf="user.perfil.usuarios_cad" (click)="deletferias(data)"
                              class="right fas fa-trash text-danger point margin5" data-toggle="tooltip"
                              data-placement="top" title="Excluir"></i>
                          </span>
                        </td>-->
                      </tr>
                    </tbody>
                  </table>

                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagferias" (pageChange)="x = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>

                </div>


                <!--INICIO MODAL CADASTRO
                <div class="modal fade" id="modalcadferias" aria-modal="true" role="dialog">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Cadastrar Férias</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      
                      <form [formGroup]="formcadferias" (ngSubmit)="salvarferias()">
                        <div class="modal-body">
                         
                          <div class="row">

                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="data_ini">Data Ini<span class="text-danger">*</span></label>
                                <input formControlName="data_ini" required type="date" class="form-control form-control-border"
                                  id="data_ini" placeholder="Data" [ngClass]="{
                                    'is-invalid':
                                    formcadferias.controls.data_ini.invalid &&
                                      (formcadferias.controls.data_ini.dirty ||
                                      formcadferias.controls.data_ini.touched)
                                  }" />
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="dias">Dias<span class="text-danger">*</span></label>
                                <input formControlName="dias" required type="number" min="1" max="30" class="form-control form-control-border"
                                  id="dias" placeholder="Dias" [ngClass]="{
                                    'is-invalid':
                                    formcadferias.controls.dias.invalid &&
                                      (formcadferias.controls.dias.dirty ||
                                      formcadferias.controls.dias.touched)
                                  }" />
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="ano">Ano Ref.<span class="text-danger">*</span></label>
                                <input formControlName="ano" required type="number" class="form-control form-control-border"
                                  id="ano" placeholder="Ano Ref." [ngClass]="{
                                    'is-invalid':
                                    formcadferias.controls.ano.invalid &&
                                      (formcadferias.controls.ano.dirty ||
                                      formcadferias.controls.ano.touched)
                                  }" />
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="boletim">Boletim<span class="text-danger">*</span></label>
                                <input formControlName="boletim" required type="text" class="form-control form-control-border"
                                  id="boletim" placeholder="Boletim" [ngClass]="{
                                    'is-invalid':
                                    formcadferias.controls.boletim.invalid &&
                                      (formcadferias.controls.boletim.dirty ||
                                      formcadferias.controls.boletim.touched)
                                  }" />
                              </div>
                            </div>
                          </div>
                          

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                            Cancelar
                          </button>
                          <button [disabled]="!formcadferias.valid" data-bs-dismiss="modal" type="submit"
                            class="btn btn-success">
                            Salvar
                          </button>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                </div>-->
                <!--FIM MODAL CADASTRO-->


                <!--FIM FERIAS-->


                <!--INICIO IRSO-->
                <div class="tab-pane" id="irso">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>NOME</th>
                        <th>DATA</th>
                        <th>HORA</th>
                        <th>ATRASADO</th>
                        <th>AUSENTE</th>
                        <th>ATESTADO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                              let data of data$.irsos
                                | paginate
                                  : {
                                      id: 'pagirso',
                                      itemsPerPage: 10,
                                      currentPage: r
                                    }
                            ">
                        <td><a target="_blank" [routerLink]="['/Irso', data.pivot.id]">{{ data.nome }}</a></td>
                        <td>{{ data.data | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ data.hora }}</td>
                        <td><span *ngIf="data.pivot.atrasado">Sim</span></td>
                        <td><span *ngIf="data.pivot.ausente">Sim</span></td>
                        <td><span *ngIf="data.pivot.atestado">Sim</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagirso" (pageChange)="r = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>
                <!--FIM IRSO-->
                <!--INICIO PROMOCOES-->
                <div class="tab-pane" id="promocoes">
                  <!--<button *ngIf="user.perfil.usuarios_cad" data-bs-toggle="modal" data-bs-target="#modalcadpromo" style="margin-bottom: 10px;" class="btn btn-outline-primary">
                    <i class="right fa fa-plus " data-toggle="tooltip" data-placement="top" title="Ficha"></i>
                  </button>-->


                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>GRADUAÇÃO</th>
                        <th>DATA</th>
                        <th>TIPO</th>
                        <th>BOLETIM</th>
                        <!--<th>OPÇÕES</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                            let data of data$.promocoes
                              | paginate
                                : {
                                    id: 'pagpromo',
                                    itemsPerPage: 10,
                                    currentPage: v
                                  }
                          " class="hovers">
                        <td>{{ data.nome }}</td>
                        <td>{{ data.pivot.data | date: 'dd/MM/yyyy' }}</td>
                        <td>
                          <span *ngIf="data.pivot.tipo_id == 1">Antiguidade</span>
                          <span *ngIf="data.pivot.tipo_id == 2">Merecimento</span>
                        </td>
                        <td>{{ data.pivot.boletim }}</td>
                        <!--<td>
                          <span class="editdata">
                            <i *ngIf="user.perfil.usuarios_cad" (click)="deletpromo(data)"
                              class="right fas fa-trash text-danger point margin5" data-toggle="tooltip"
                              data-placement="top" title="Excluir"></i>
                          </span>
                        </td>-->
                      </tr>
                    </tbody>
                  </table>

                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagpromo" (pageChange)="v = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>


                <!--INICIO MODAL CADASTRO
                <div class="modal fade" id="modalcadpromo" aria-modal="true" role="dialog">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Cadastrar Promoção</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      
                      <form [formGroup]="formcadpromo" (ngSubmit)="salvarpromo()">
                        <div class="modal-body">
                      
                          <div class="row">
                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="graduacao_id"
                                  >Graduação<span class="text-danger">*</span></label
                                >
                                <select
                                  formControlName="graduacao_id"
                                  required
                                  [ngClass]="{
                                    'is-invalid':
                                    formcadpromo.controls.graduacao_id.invalid &&
                                      (formcadpromo.controls.graduacao_id.dirty ||
                                      formcadpromo.controls.graduacao_id.touched)
                                  }"
                                  class="custom-select form-control-border"
                                  id="graduacao_id"
                                >
                                  <option></option>
                                  <option *ngFor="let data of graduacoes$" value="{{data.id}}">{{data.nome}}</option>
                                </select>
                              </div>
                            </div>
                           
                            
                            
                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="data">Data<span class="text-danger">*</span></label>
                                <input formControlName="data" required type="date" class="form-control form-control-border"
                                  id="data" placeholder="Data" [ngClass]="{
                                    'is-invalid':
                                    formcadpromo.controls.data.invalid &&
                                      (formcadpromo.controls.data.dirty ||
                                      formcadpromo.controls.data.touched)
                                  }" />
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="tipo_id"
                                  >Tipo<span class="text-danger">*</span></label
                                >
                                <select
                                  formControlName="tipo_id"
                                  required
                                  [ngClass]="{
                                    'is-invalid':
                                    formcadpromo.controls.tipo_id.invalid &&
                                      (formcadpromo.controls.tipo_id.dirty ||
                                      formcadpromo.controls.tipo_id.touched)
                                  }"
                                  class="custom-select form-control-border"
                                  id="tipo_id"
                                >
                                  <option></option>
                                  <option value="1">Antiguidade</option>
                                  <option value="2">Merecimento</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="boletim">Boletim<span class="text-danger">*</span></label>
                                <input formControlName="boletim" required type="text" class="form-control form-control-border"
                                  id="boletim" placeholder="Boletim" [ngClass]="{
                                    'is-invalid':
                                    formcadpromo.controls.boletim.invalid &&
                                      (formcadpromo.controls.boletim.dirty ||
                                      formcadpromo.controls.boletim.touched)
                                  }" />
                              </div>
                            </div>
                          </div>
                        

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                            Cancelar
                          </button>
                          <button [disabled]="!formcadpromo.valid" data-bs-dismiss="modal" type="submit"
                            class="btn btn-success">
                            Salvar
                          </button>
                        </div>
                      </form>
                   
                    </div>
                  </div>
                </div>-->
                <!--FIM MODAL CADASTRO-->


                <!--FIM PROMOCOES-->
                <!--INICIO PUBLICACOES-->
                <div class="tab-pane" id="publicacoes">
                  <a  style="float: right;" [routerLink]="['/Ficha', data$.id]"><i
                      class="right fa fa-print text-primary point" data-toggle="tooltip" data-placement="top"
                      title="Ficha"></i></a>
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>TIPO</th>
                        <th>DESCRIÇÃO</th>
                        <th>BOLETIM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                            let data of data$.publicacoes
                              | paginate
                                : {
                                    id: 'pagpubli',
                                    itemsPerPage: 10,
                                    currentPage: p
                                  }
                          ">
                        <td>{{ data.tipo_publicacao.nome }}</td>
                        <td style="max-width: 500px; text-align: justify; white-space: normal;"
                          [innerHTML]="data.descricao"></td>
                        <td>{{ data.boletim }}</td>

                      </tr>
                    </tbody>
                  </table>

                  <div style="width: 100%; text-align: center; ">
                    <pagination-controls id="pagpubli" (pageChange)="p = $event" previousLabel="Anterior"
                      nextLabel="Próximo" screenReaderCurrentLabel="Você está na página"></pagination-controls>
                  </div>
                </div>
                <!--FIM PUBLICACOES-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--   FIM PROFILE  -->
  </section>
</div>
<!--
  <app-footer></app-footer>
</div>-->