<div class="page-header" style="text-align: center; margin-bottom: 10px;" *ngIf="data$">
    <img src="{{url}}cabecalho.png" class="cabecalho" />
    <br />
    <h4>
      Empréstimo de Veículo Nº {{ data$.id }}
      - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}
    </h4>
  </div>
  
  <div class="page-footer" *ngIf="data$">
    <div class="row rodape2 " *ngIf="user" >
      <div class="col-sm-3 text-center">
        <qrcode
          [qrdata]="qrcod"
          [allowEmptyString]="true"
          [cssClass]="'center'"
          [elementType]="'canvas'"
          [errorCorrectionLevel]="'M'"
          [scale]="1"
          [width]="120"
        ></qrcode>
      </div>
      <div class="col-sm-6 text-center">
        <p>
          {{ user.subunidade?.nome }} – {{ user.subunidade.unidade?.nome
          }}<br />
          {{ user.subunidade?.rua }}, {{ user.subunidade?.numero }} -
          {{ user.subunidade?.bairro }} | CEP:
          {{ user.subunidade?.cep | mask: "00.000-00" }}
          {{ user.subunidade.cidade?.nome }} /
          {{ user.subunidade.cidade?.estado.uf }} <br />
          Fones: {{ user.subunidade?.telefone1 | mask: "(00) 0000-0000" }} |
          E-mail: {{ user.subunidade?.email }}<br />
          <b>“Raça de Fortes, Povo de Bravos”</b>
        </p>
      </div>
      <div class="col-sm-3">
        <p>
          <b>Usuário:</b> {{ user.graduacao?.abreviatura }} {{ user.numeral }}
          {{ user.nome_guerra }}<br />
          <b>Data:</b> {{ date | date: "dd/MM/yyyy HH:mm" }}
        </p>
      </div>
    </div>
    <img src="{{url}}rodape.png" class="rodape" />
  </div>
  
  <table style="width: 100%; min-width: 100%;" *ngIf="data$">
  
    <thead class="thead">
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="page-header-space">
            
          </div>
        </td>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td>
          <!--*** CONTENT GOES HERE ***
          <div class="page">PAGE 1</div>
          <div class="page">PAGE 2</div>-->
          <div class="page" >
            <div class="noprint text-center">
              <img src="{{url}}cabecalho.png" class="cabecalho" />
              <h4 style="margin-top: 30px;">
                Empréstimo de Veículo Nº {{ data$.id }}
      - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}
              </h4>
            </div>
            <h5 style="margin-top: 20px;">
              Fortaleza - CE, {{ datahj }}
            </h5>
            <div style="margin-top: 40px;" class="row">
                <div class="col-sm-3">
                    <b>Marca/Modelo:</b> {{data$.veiculo.marca.nome}}/{{data$.veiculo.modelo.nome}}
                </div>
                <div class="col-sm-3">
                    <b>Placa:</b> {{data$.veiculo.placa}}
                </div>
                <div *ngIf="data$.veiculo.placa_esp" class="col-sm-3">
                  <b>Placa Esp.:</b> {{data$.veiculo.placa_esp}}
              </div>
                <div class="col-sm-3">
                  <b>Cor:</b> {{data$.veiculo.cor.nome}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <b>Graduação:</b> {{data$.usuario.graduacao.nome}}
              </div>
              <div class="col-sm-2" *ngIf="data$.usuario.numeral">
                <b>Numeral:</b> {{data$.usuario.numeral | mask: '00.000'}}
              </div>
              <div class="col-sm-4">
                  <b>Usuário:</b> {{data$.usuario.nome}}
              </div>
              <div class="col-sm-3">
                  <b>Matrícula:</b> {{data$.usuario.matricula | mask: '000.000-0-0'}}
              </div>
              
          </div>
            <div class="row">

                <div class="col-sm-3">
                    <b>Data Saída:</b> {{data$.data_saida | date:'dd/MM/yyyy'}}
                </div>
                <div class="col-sm-3">
                    <b>Hora Saída:</b> {{data$.hora_saida}}
                </div>
                <div class="col-sm-3">
                    <b>KM Inicial:</b> {{data$.km_inicial}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>Data Chegada:</b> {{data$.data_chegada| date:'dd/MM/yyyy'}}
                </div>
                <div class="col-sm-3">
                    <b>Hora Chegada:</b> {{data$.hora_chegada}}
                </div>
                <div class="col-sm-3">
                    <b>KM Final:</b> {{data$.km_final}}
                </div>
            </div>

            <div  style="margin-top: 40px;" [innerHTML]="data$.observacoes"></div>
            <div  style="margin-top: 60px;" class="text-center" >
              <b>{{data$.usuario.nome}}</b><br />
              Mat.: {{data$.usuario.matricula | mask:'000.000-0-0'}}<br />
              
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  
    <tfoot class="tfoot">
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space">
            
            
          </div>
        </td>
      </tr>
    </tfoot>
  
  </table>
  