<div
  class="page-header"
  style="text-align: center; margin-bottom: 10px"
  *ngIf="data$"
>
  <img src="imagens/cabecalho.png" class="cabecalho" />
  <br />
  <h4>
    {{ data$.ocorrencia?.nome }} Nº {{ data$.codigo }}/{{
      data$.created_at | date: "yyyy"
    }}
    - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}
  </h4>
</div>

<div class="page-footer" *ngIf="data$">
  <div class="row rodape2" *ngIf="user">
    <div class="col-sm-3 text-center">
      <qrcode
        [qrdata]="qrcod"
        [allowEmptyString]="true"
        [cssClass]="'center'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
          [scale]="1"
          [width]="120"
      ></qrcode>
    </div>
    <div class="col-sm-6 text-center">
      <p>
        {{ user.subunidade?.nome }} – {{ user.subunidade.unidade?.nome }}<br />
        {{ user.subunidade?.rua }}, {{ user.subunidade?.numero }} -
        {{ user.subunidade?.bairro }} | CEP:
        {{ user.subunidade?.cep | mask: "00.000-00" }}
        {{ user.subunidade.cidade?.nome }} /
        {{ user.subunidade.cidade?.estado.uf }} <br />
        Fones: {{ user.subunidade?.telefone1 | mask: "(00) 0000-0000" }} |
        E-mail: {{ user.subunidade?.email }}<br />
        <b>“Raça de Fortes, Povo de Bravos”</b>
      </p>
    </div>
    <div class="col-sm-3">
      <p>
        <b>Usuário:</b> {{ user.graduacao?.abreviatura }} {{ user.numeral }}
        {{ user.nome_guerra }}<br />
        <b>Data:</b> {{ date | date: "dd/MM/yyyy HH:mm" }}
      </p>
    </div>
  </div>
  <img src="imagens/rodape.png" class="rodape" />
</div>

<table style="width: 100%; min-width: 100%" *ngIf="data$">
  <thead class="thead">
    <tr>
      <td>
        <!--place holder for the fixed-position header-->
        <div class="page-header-space"></div>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <!--*** CONTENT GOES HERE ***
          <div class="page">PAGE 1</div>
          <div class="page">PAGE 2</div>-->
        <div class="page">
          <div class="noprint text-center">
            <img src="imagens/cabecalho.png" class="cabecalho" />
            <h4 style="margin-top: 30px;">
              {{ data$.ocorrencia?.nome }} Nº {{ data$.codigo }}/{{
                data$.created_at | date: "yyyy"
              }}
              - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}
            </h4>
          </div>
          <h5 style="margin-top: 40px;">Fortaleza - CE, {{ datadoc }}</h5>
          <h5 style="margin-top: 40px;">
            <b>Escala:</b> {{ data$.escala?.escala_modelo.nome }} Nº
            {{ data$.escala?.codigo }}/{{ data$.escala?.created_at | date: "yyyy" }}<br />
            <b>Data:</b> {{ data$.escala?.data | date: "dd/MM/yyyy" }}
          </h5>
          <div style="margin-top: 20px;" [innerHTML]="data$.descricao"></div>
          <div style="margin-top: 60px;" class="text-center">
            <b>{{data$.user.nome}}</b><br />
            Mat.: {{data$.user.matricula | mask: '000.000-0-A'}}
          </div>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot class="tfoot">
    <tr>
      <td>
        <!--place holder for the fixed-position footer-->
        <div class="page-footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>
