<form [formGroup]="form">
    <div class="row">
      <input-text
        class="col-sm-2"
        formControlName="km_final"
        label="KM Final"
        id="km_final"
        tipo="number"
        [min]="veiculopolicial.km_inicial"
      />
    </div>
    <div class="row" style="height: 350px;">
      <input-textarea class="col-sm-12" formControlName="observacoes" label="Observações" id="observacoes" />
    </div>
  
    <div class="d-flex justify-content-end">
      <a
        (click)="form.reset()"
        data-bs-dismiss="modal"
        class="btn btn-link text-danger"
        >Cancelar</a
      >
      <button
        [disabled]="form.invalid"
        type="button"
        (click)="cadastrar()"
        data-bs-dismiss="modal"
        class="btn btn-primary"
      >
        Cadastrar
      </button>
    </div>
  </form>
  