<!--<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>-->
    <!--INICIO CONTENT WRAPPER-->
    <div class="content-wrapper" *ngIf="user" >
        <!--INICIO SECTION HEADER-->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Logs</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a [routerLink]="['/Inicio']">Início</a>
                  </li>
                  <li class="breadcrumb-item active">Logs</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <!--FIM SECTION HEADER-->
        <!--INICIO SECTION TABELA-->
        <section class="content">
          <!--INICIO CARD-->
          <div class="card card-outline card-orange">
            <!--INICIO HEADER CARD-->
            <div class="card-header">
             
            </div>
            <!--FIM HEADER CARD-->
            <!--INICIO BODY CARD-->
            <div class="card-body" style="overflow-x: scroll;">
              <!--INICIO TABLE CARD-->
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>ID</th>                  
                    <th>USUÁRIO</th>       
                    <th>MENSAGEM</th>  
                    <th>TABELA</th>  
                    <th>FK</th>  
                    <th>AÇÃO</th>                  
                    <th>OBJETO</th>  
                    <th>OBJETO ANT.</th>  
                    <th>OPÇÕES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of data$" class="hovers">
                    <td>{{ data.id }}</td>                
                    <td>{{ data.user.nome }}</td> 
                    <td>{{ data.mensagem }}</td>     
                    <td>{{ data.table }}</td>     
                    <td>{{ data.fk }}</td>                
                    <td>{{ data.action }}</td>     
                    <td style="max-width: 400px; white-space: normal;">{{ data.object }}</td>     
                    <td style="max-width: 400px; white-space: normal;">{{ data.object_old }}</td>     
                    <td>
                      <span class="editdata">
                        <i
                          (click)="editar(data)"
                          data-bs-toggle="modal"
                          data-bs-target="#modalcad"
                          class="right fas fa-edit text-primary point"
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Editar"
                        ></i>
                        <i
                          (click)="deletar(data)"
                          data-bs-toggle="modal"
                          data-bs-target="#modaldel"
                          class="right fas fa-trash text-danger point margin5"
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Excluir"
                        ></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--FIM TABLE CARD-->
            </div>
            <!--FIM BODY CARD-->
          </div>
          <!--FIM CARD-->
    
          
    
          <!--INICIO MODAL DELETE-->
          <div class="modal fade" id="modaldel" aria-modal="true" role="dialog">
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Excluir</h4>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
    
                <div class="modal-body">
                  <p>Tem certeza que deseja excluir o log <b>{{excluir$?.id}}</b>?</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    (click)="confirm()"
                    data-bs-dismiss="modal"
                    type="button"
                    class="btn btn-danger"
                  >
                    Excluir
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--FIM MODAL DELETE-->
        </section>
        <!--FIM SECTION TABELA-->
      </div>
      <!--FIM CONTENT WRAPPER-->
      <!--<app-footer></app-footer>
    </div>-->
    