@if(data$ | async; as data){
  <div class="page">
    <div class="noprint text-center">
      <h4 style="margin-top: 20px">
        Empréstimo de Veículo Nº {{ data.id }}
      </h4>
    </div>

    <div class="row mt-4">
      <div class="col-sm-5 offset-sm-1">
        <h4>Policial</h4>
        {{ data.policial.graduacao.abreviatura }}
        @if(data.policial.numeral){ {{ data.policial.numeral | mask: "00.000" }} }
        {{ data.policial.nome }}<br />
        <b>Mat.:</b> {{ data.policial.matricula | mask: "000.000-0-A" }}
      
      </div>
      <div class="col-sm-5">
        <h4>Veículo</h4>

        {{ data.veiculo.veiculo_tipo.nome }}
        {{ data.veiculo.modelo.marca.nome }}
        {{ data.veiculo.modelo.nome }}<br />
        
        
        <b>Placa:</b> {{ data.veiculo.placa }}<br />
        @if(data.veiculo.placa_especial){
          <b>Placa Especial:</b> {{ data.veiculo.placa_especial }}<br />
        }
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.data_inicial | date: "dd/MM/yyyy HH:mm" }}</h5>
          <span class="description-text">Data Empréstimo</span>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.km_inicial }}</h5>
          <span class="description-text">KM Inicial</span>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.data_final | date: "dd/MM/yyyy HH:mm" }}</h5>
          <span class="description-text">Data Devolução</span>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.km_final }}</h5>
          <span class="description-text">KM Final</span>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      @if(data.cidade){
        <div class="col-sm-4">
          <b>Destino: </b> {{data.cidade.nome}}, {{data.cidade.estado.nome}}
        </div>
      }
  </div>
    


    <h4 class="mt-3">Observações empréstimo:</h4>
    <div [innerHTML]="data.observacoes"></div>
    <h4 class="mt-3">Observações devolução:</h4>
    <div [innerHTML]="data.observacoes_devolucao"></div>

    @if(data.veiculos_policiais_alteracoes){
      <div class="row mt-4">
        @for(row of fotos; track row){
          <div class="card mb-4 box-shadow col-sm-3">
            <img class="card-img-top" [src]="row.foto" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <div class="card-text" [innerHtml]="row.observacoes"></div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{row.created_at | date: 'dd/MM/yyyy HH:mm'}}</small>
              </div>
            </div>
          </div>
        }
      </div>
    }
   
  </div>
}