<div class="page-header" style="text-align: center; margin-bottom: 10px;" *ngIf="data$">
  <img src="{{url}}cabecalho.png" class="cabecalho" />
  <h3>
    <b>Escala IRSO - {{ subunidade.abreviatura }}/{{ subunidade.unidade?.abreviatura }}</b>
  </h3>
</div>

<div class="page-footer" *ngIf="data$">
  <div class="row rodape2 " *ngIf="user">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <p>
        {{ user.subunidade?.nome }} – {{ user.subunidade.unidade?.nome
        }}<br />
        {{ user.subunidade?.rua }}, {{ user.subunidade?.numero }} -
        {{ user.subunidade?.bairro }} | CEP:
        {{ user.subunidade?.cep | mask: "00.000-00" }}
        {{ user.subunidade.cidade?.nome }} /
        {{ user.subunidade.cidade?.estado.uf }} <br />
        Fones: {{ user.subunidade?.telefone1 | mask: "(00) 0000-0000" }} |
        E-mail: {{ user.subunidade?.email }}<br />
        <b>“Raça de Fortes, Povo de Bravos”</b>
      </p>
    </div>
    <div class="col-sm-3">
      <p>
        <b>Usuário:</b> {{ user.graduacao?.abreviatura }} {{ user.numeral }}
        {{ user.nome_guerra }}<br />
        <b>Data:</b> {{ date | date: "dd/MM/yyyy HH:mm" }}
      </p>
    </div>
  </div>
  <img src="{{url}}rodape.png" class="rodape" />
</div>

<table style="width: 100%; min-width: 100%;" *ngIf="data$">

  <thead class="thead">
    <tr>
      <td>
        <!--place holder for the fixed-position header-->
        <div class="page-header-space">

        </div>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <!--*** CONTENT GOES HERE ***
        <div class="page">PAGE 1</div>
        <div class="page">PAGE 2</div>-->
        <div class="page">
          <div class="noprint">
            <img src="{{url}}cabecalho.png" class="cabecalho" />
          </div>
          <br />
          <div *ngFor="let data of data$">
            <h4  class="cabecalho2">
              {{ data.nome }}
            </h4>

            
            <div class="row">
              <div class="col-sm-4">
                <h5><b>Data:</b> {{ data.data | date: 'dd/MM/yyyy' }}</h5>
              </div>
              <div class="col-sm-4">
                <h5><b>Horário:</b> {{ data.hora }}</h5>
              </div>
              <div class="col-sm-4">
                <h5><b>Duração:</b> {{ data.duracao }} h</h5>
              </div>
            </div>

            <br />
  
            <table style="margin-bottom: 50px;" class="table table-bordered  table-hover text-nowrap tableprint">
              <thead>
                <tr class="titlemodalidade">
                  <th>POSTO</th>
                  <th>GRAD</th>
                  <th>NUM</th>
                  <th>NOME</th>
                  <th>MATRÍCULA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data2 of data.usuarios">
                  <td class="titlemodalidade2">{{ data2.posto.nome }}</td>
                  <td>{{ data2.user.graduacao.abreviatura }}</td>
                  <td>{{ data2.user.numeral | mask: "00.000" }}</td>
                  <td>{{ data2.user.nome }}</td>
                  <td>{{ data2.user.matricula | mask: "000.000-0-A" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          
          <h5>Fortaleza - CE, {{ datahj }}</h5>
          <br /><br />
          <div class="text-center" *ngIf="subunidade.comandante">
            <b>{{subunidade.comandante?.nome}}</b><br />
            Mat.: {{subunidade.comandante?.matricula | mask:'000.000-0-A'}}<br />
            Comandante da {{subunidade.nome}} -  {{subunidade.unidade?.nome}}
          </div>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot class="tfoot">
    <tr>
      <td>
        <!--place holder for the fixed-position footer-->
        <div class="page-footer-space">


        </div>
      </td>
    </tr>
  </tfoot>

</table>