<div class="body" *ngIf="data$">
  <table>
    <thead class="theadfix">
      <img class="cabecalho" src="../../../assets/cabecalho.png" />
    </thead>
    <tbody>
      <div class="corpo">
        <br />
        <h4 class="cabecalho2">
          {{ data$.nome }}
        </h4>
        <br />
        <h5><b>Data:</b> {{ data$.data | date: 'dd/MM/yyyy' }}</h5>
        <h5><b>Horário:</b> {{ data$.hora }}</h5>
        <br />
        <h5>Fortaleza - CE, {{ datahj }}</h5>
        <br /><br />

        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>GRAD</th>
              <th>NUM</th>
              <th>NOME</th>
              <th>MATRÍCULA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of data$.usuarios">
              <td>{{ data.user.graduacao.abreviatura }}</td>
              <td>{{ data.user.numeral | mask: "00.000" }}</td>
              <td>{{ data.user.nome }}</td>
              <td>{{ data.user.matricula | mask: "000.000-0-0" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </tbody>
    <tfoot class="tfootfix">
      <div class="row" *ngIf="user">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <p class="rodape2">
            {{ user.subunidade?.nome }} – {{ user.subunidade.unidade?.nome
            }}<br />
            {{ user.subunidade?.rua }}, {{ user.subunidade?.numero }} -
            {{ user.subunidade?.bairro }} | CEP:
            {{ user.subunidade?.cep | mask: "00.000-00" }}
            {{ user.subunidade.cidade?.nome }} /
            {{ user.subunidade.cidade?.estado.uf }} <br />
            Fones: {{ user.subunidade?.telefone1 | mask: "(00) 0000-0000" }} |
            E-mail: {{ user.subunidade?.email }}<br />
            <b>“Raça de Fortes, Povo de Bravos”</b>
          </p>
        </div>
        <div class="col-sm-3">
          <p class="rodape3">
            <b>Usuário:</b> {{ user.graduacao?.abreviatura }} {{ user.numeral }}
            {{ user.nome_guerra }}<br />
            <b>Data:</b> {{ date | date: "dd/MM/yyyy HH:mm" }}
          </p>
        </div>
      </div>

      <img class="rodape" src="../../../assets/rodape.png" />
    </tfoot>
  </table>
</div>
