<div class="content-wrapper">
  <app-title titulo="Usuários" />

  <!--INICIO SECTION content-->
  <section class="content">
    <!-- INICIO CARD-->
    <div class="card">
      <!-- INICIO CARD HEADER-->
      <div class="card-header border-0">
        <h3 class="card-title">
          @if(user.perfil.usuarios_cad){
            <button
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalcad"
              title="Cadastrar"
            >
              <i class="fa fa-plus"></i> Cadastrar
            </button>
          }
        </h3>
        <div class="card-tools">
          
        </div>
      </div>
      <!-- FIM CARD HEADER-->
      <!-- INICIO CARD BODY-->
      <div class="card-body table-responsive p-1">

        @if(data$ | async; as data){
          <!--INICIO TABLE-->
          <table
            datatable
            [dtOptions]="dtOptions"
            class="table table-hover table-head-fixed text-nowrap"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Policial</th>
                <th>Perfil</th>
                <th>Subunidades</th>
                <th>Opções</th>
              </tr>
            </thead>
  
            <tbody>
              @for(row of data; track row){
              <tr class="optionshover2">
                <td>{{ row.id }}</td>
              <!-- <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td> -->
              <td>{{ row.nome }}</td>
              <td>{{ row.cpf | mask: '000.000.000-00' }}</td>
              <td>@if(row.telefone){{{ row.telefone | mask: '(00) 00000-0000' }}}</td>
              <td>
                @if(row.policial){
                  <i class="fa fa-check" aria-hidden="true"></i>
                }
              </td>
              <td>@if(row.perfil){{{ row.perfil.nome }}}</td>
              <td>
                <button
                  (click)="showSubunidades(row)"
                  data-bs-toggle="modal"
                  data-bs-target="#modalsubs"
                  class="btn btn-xs btn-outline-primary"
                >
                <i class="fa fa-eye" aria-hidden="true"></i> Ver Subunidades
                </button>
              </td>
                <td class="options2">
                  @if(user.perfil.usuarios_edt){
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-xs"
                        (click)="editar(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalcad"
                    title="Editar"
                      >
                      Editar
                      </button>
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-hover dropdown-icon"
                        data-bs-toggle="dropdown"
                      >
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu" role="menu">
                        <a
                            class="dropdown-item point"
                            title="Resetar Senha"
                            (click)="reset(row)"
                            data-bs-toggle="modal"
                            data-bs-target="#modalreset"
                            >Resetar Senha</a
                          >
                        @if(user.perfil.usuarios_del){
                          <a
                            class="dropdown-item point"
                            (click)="delete(row)"
                            data-bs-toggle="modal"
                            data-bs-target="#modaldel"
                            title="Excluir"
                            >Excluir</a
                          >
                        }
                      </div>
                    </div>
                }
                </td>
              </tr>
              }
            </tbody>
          </table>
          <!--FIM TABLE-->
          }
      </div>
      <!-- FIM CARD BODY-->
    </div>
    <!--FIM CARD-->
  </section>
  <!--FIM SECTION content-->

  <!-- INICIO MODAL CADASTRO-->
  <div
    class="modal fade"
    id="modalcad"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Cadastrar</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-users-form (refresh)="refresh()" />
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL CADASTRO-->

   <!-- INICIO MODAL RESET-->
   <div
   class="modal fade"
   id="modalreset"
   style="display: none"
   aria-hidden="true"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header border-0">
         <h4 class="modal-title">Resetar senha</h4>
         <button
           type="button"
           class="close"
           data-bs-dismiss="modal"
           aria-label="Close"
         >
           <span aria-hidden="true">×</span>
         </button>
       </div>
       <div class="modal-body">
         @if(usuario){ 
          Tem certeza que deseja resetar a senha de <b>{{ usuario.nome }}</b>?
         
          <div class="d-flex justify-content-end">
           <a data-bs-dismiss="modal" class="btn btn-link text-danger"
             >Cancelar</a
           >
           <button
             type="button"
             (click)="confirmReset()"
             data-bs-dismiss="modal"
             class="btn btn-primary"
           >
             Confirmar
           </button>
         </div>
         }
       </div>
     </div>
   </div>
 </div>
 <!--FIM MODAL exclusRESETao-->

  <!-- INICIO MODAL exclusao-->
  <div
    class="modal fade"
    id="modaldel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Excluir</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(excluir){ Tem certeza que deseja excluir:
          <b>{{ excluir.nome }}</b>
          <div class="d-flex justify-content-end">
            <a data-bs-dismiss="modal" class="btn btn-link text-primary"
              >Cancelar</a
            >
            <button
              type="button"
              (click)="confirm()"
              data-bs-dismiss="modal"
              class="btn btn-danger"
            >
              Excluir
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL exclusao-->

  <!-- INICIO MODAL SUBUNIDADES-->
  <div
  class="modal fade"
  id="modalsubs"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title">
          Subunidades
          <button
            class="btn btn-outline-primary"
            title="Cadastrar"
            (click)="cadsubunidade = true;"
          >
            <i class="fa fa-plus"></i>
          </button>
        </h4>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        @if(cadsubunidade){
          <app-users-subunidades-form  [user]="usuario.id || 0" (refresh)="refreshSubunidades()" (cancel)="cancelarCadSubunidade()" />
        }

        @if(usuario){
          <table class="table table-hover table-head-fixed text-nowrap mt-1">
            <thead>
              <tr>
                <th>#</th>
                <th>Unidade</th>
                <th>Subunidade</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              @for(item of
              usuario.users_subunidades; track item){
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.subunidade.unidade.nome }}</td>
                <td>{{item.subunidade.nome }} ({{item.subunidade.abreviatura }})</td>
                <td>
                  
                    <i
                      class="fa fa-trash text-danger point"
                      aria-hidden="true"
                      (click)="rmvSubunidade(item.id || 0)"
                    ></i>
                  
                </td>
              </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL LANÇAMENTOS-->
</div>
