<div class="content-wrapper">
  <app-title titulo="Usuários" />

  <!--INICIO SECTION content-->
  <section class="content">
    <!-- INICIO CARD-->
    <div class="card">
      <!-- INICIO CARD HEADER-->
      <div class="card-header border-0">
        <h3 class="card-title">
          <button
            class="btn btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalcad"
            title="Cadastrar"
          >
            <i class="fa fa-plus"></i>
          </button>
        </h3>    
      </div>
      <!-- FIM CARD HEADER-->
      <!-- INICIO CARD BODY-->
      <div class="card-body table-responsive p-1">
        <!-- INICIO TABLE-->
        <table
        id="datatableexample"
          class="table table-hover table-head-fixed text-nowrap "
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Telefone</th>
              <th>Perfil</th>
              <th>Opções</th>
            </tr>
          </thead>
          @if(data$){
            <tbody>
              @for(row of data$ | async; track row){
                <tr class="optionshover">
                  <td>{{ row.id }}</td>
                  <td>{{ row.nome }}</td>
                  <td>{{ row.cpf | mask: '000.000.000-00' }}</td>
                  <td>@if(row.telefone){{{ row.telefone | mask: '(00) 00000-0000' }}}</td>
                  <td>@if(row.perfil){{{ row.perfil.nome }}}</td>
                  <td>
                    <a
                      
                      class="options point"
                      title="Editar"
                      (click)="editar(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#modalcad"
                    >
                      <i class="fa fa-edit text-primary" aria-hidden="true"></i>
                    </a>
                    <a 
                      class="options point" 
                      title="Excluir"
                      (click)="delete(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#modaldel"
                    >
                      <i
                        class="fa fa-trash text-danger ml-1"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                </tr>
              } @empty {
              <tr>
                <td colspan="100%">Sem informação</td>
              </tr>
              }
            </tbody>
          }
        </table>
        <!-- FIM TABLE-->
      </div>
      <!-- FIM CARD BODY-->
    </div>
    <!--FIM CARD-->
  </section>
  <!--FIM SECTION content-->

  <!-- INICIO MODAL CADASTRO-->
  <div
    class="modal fade"
    id="modalcad"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Cadastrar</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-users-form (refresh)="refresh()" />
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL CADASTRO-->

  <!-- INICIO MODAL exclusao-->
  <div
    class="modal fade"
    id="modaldel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Excluir</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(excluir){
              Tem certeza que deseja excluir: <b>{{excluir.nome}}</b>
              <div class="d-flex justify-content-end">
                <a  data-bs-dismiss="modal" class="btn btn-link text-primary">Cancelar</a>
                <button type="button" (click)="confirm()" data-bs-dismiss="modal" class="btn btn-danger">Excluir</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL exclusao-->

</div>
