<div class="content-wrapper">
  <app-title titulo="Usuários" />

  <!--INICIO SECTION content-->
  <section class="content">
    <!-- INICIO CARD-->
    <div class="card">
      <!-- INICIO CARD HEADER-->
      <div class="card-header border-0">
        <h3 class="card-title">
          @if(user.perfil.usuarios_cad){
            <button
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalcad"
              title="Cadastrar"
            >
              <i class="fa fa-plus"></i> Cadastrar
            </button>
          }
        </h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px">
            <select style="width: 50px"  class="form-control float-right" [(ngModel)]="quant">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
           
            <input
            style="width: 200px"
              type="text"
              name="table_search"
              class="form-control float-right"
              placeholder="Pesquisar..."
              [(ngModel)]="pesquisa"
              (ngModelChange)="pesquisar()"
            />
           
          </div>
        </div>
      </div>
      <!-- FIM CARD HEADER-->
      <!-- INICIO CARD BODY-->
      <div class="card-body table-responsive p-1">
        <!-- INICIO TABLE-->
        <table
          [mfData]="data$"
          #mf="mfDataTable"
          [mfRowsOnPage]="quant"
          [mfSortBy]="'nome'" [mfSortOrder]="'asc'"
          class="table table-hover table-head-fixed text-nowrap"
        >
          <thead>
            <tr>
              <th><mfDefaultSorter  by="id">#</mfDefaultSorter></th>
              <!-- <th><mfDefaultSorter by="subunidade.abreviatura">Subunidade</mfDefaultSorter></th> -->
              <th><mfDefaultSorter by="nome">Nome</mfDefaultSorter></th>
              <th><mfDefaultSorter by="cpf">CPF</mfDefaultSorter></th>
              <th><mfDefaultSorter by="telefone">Telefone</mfDefaultSorter></th>
              <th><mfDefaultSorter by="policial.id">Policial</mfDefaultSorter></th>
              <th><mfDefaultSorter by="perfil.nome">Perfil</mfDefaultSorter></th>
              <th><mfDefaultSorter by="users_subunidades">Subunidades</mfDefaultSorter></th>
              <th>Opções</th>
            </tr>
          </thead>
          @if(data$){
          <tbody>
            @for(row of mf.data; track row){
            <tr class="optionshover">
              <td>{{ row.id }}</td>
              <!-- <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td> -->
              <td>{{ row.nome }}</td>
              <td>{{ row.cpf | mask: '000.000.000-00' }}</td>
              <td>@if(row.telefone){{{ row.telefone | mask: '(00) 00000-0000' }}}</td>
              <td>
                @if(row.policial){
                  <i class="fa fa-check" aria-hidden="true"></i>
                }
              </td>
              <td>@if(row.perfil){{{ row.perfil.nome }}}</td>
              <td>
                <button
                  (click)="showSubunidades(row)"
                  data-bs-toggle="modal"
                  data-bs-target="#modalsubs"
                  class="btn btn-xs btn-outline-primary"
                >
                  Subunidades
                </button>
              </td>
              <td>
                @if(user.perfil.usuarios_edt){
                  <a
                    class="options point"
                    title="Resetar Senha"
                    (click)="reset(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalreset"
                  >
                    <i class="fa fa-refresh text-primary" aria-hidden="true"></i>
                  </a>
                }
                @if(user.perfil.usuarios_edt){
                  <a
                    class="options point ml-1"
                    title="Editar"
                    (click)="editar(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalcad"
                  >
                    <i class="fa fa-edit text-primary" aria-hidden="true"></i>
                  </a>
                }
                @if(user.perfil.usuarios_del){
                  <a
                    class="options point ml-1"
                    title="Excluir"
                    (click)="delete(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modaldel"
                  >
                    <i
                      class="fa fa-trash text-danger "
                      aria-hidden="true"
                    ></i>
                  </a>
                }
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="100%">Sem informação</td>
            </tr>
            }
          </tbody>
          }
          <tfoot>
            <tr>
              <td colspan="100%">
                <div style="display: flex; align-items: center; justify-content: center;">
                  <mfBootstrapPaginator
                ></mfBootstrapPaginator>
                </div>
               
              </td>
            </tr>
          </tfoot>
        </table>
        <!-- FIM TABLE-->
      </div>
      <!-- FIM CARD BODY-->
    </div>
    <!--FIM CARD-->
  </section>
  <!--FIM SECTION content-->

  <!-- INICIO MODAL CADASTRO-->
  <div
    class="modal fade"
    id="modalcad"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Cadastrar</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-users-form (refresh)="refresh()" />
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL CADASTRO-->

   <!-- INICIO MODAL RESET-->
   <div
   class="modal fade"
   id="modalreset"
   style="display: none"
   aria-hidden="true"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header border-0">
         <h4 class="modal-title">Excluir</h4>
         <button
           type="button"
           class="close"
           data-bs-dismiss="modal"
           aria-label="Close"
         >
           <span aria-hidden="true">×</span>
         </button>
       </div>
       <div class="modal-body">
         @if(usuario){ 
          Tem certeza que deseja resetar a senha de <b>{{ usuario.nome }}</b>?
         
          <div class="d-flex justify-content-end">
           <a data-bs-dismiss="modal" class="btn btn-link text-danger"
             >Cancelar</a
           >
           <button
             type="button"
             (click)="confirmReset()"
             data-bs-dismiss="modal"
             class="btn btn-primary"
           >
             Confirmar
           </button>
         </div>
         }
       </div>
     </div>
   </div>
 </div>
 <!--FIM MODAL exclusRESETao-->

  <!-- INICIO MODAL exclusao-->
  <div
    class="modal fade"
    id="modaldel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Excluir</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(excluir){ Tem certeza que deseja excluir:
          <b>{{ excluir.nome }}</b>
          <div class="d-flex justify-content-end">
            <a data-bs-dismiss="modal" class="btn btn-link text-primary"
              >Cancelar</a
            >
            <button
              type="button"
              (click)="confirm()"
              data-bs-dismiss="modal"
              class="btn btn-danger"
            >
              Excluir
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL exclusao-->

  <!-- INICIO MODAL SUBUNIDADES-->
  <div
  class="modal fade"
  id="modalsubs"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title">
          Subunidades
          <button
            class="btn btn-outline-primary"
            title="Cadastrar"
            (click)="cadsubunidade = true;"
          >
            <i class="fa fa-plus"></i>
          </button>
        </h4>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        @if(cadsubunidade){
          <app-users-subunidades-form  [user]="usuario.id || 0" (refresh)="refreshSubunidades()" (cancel)="cancelarCadSubunidade()" />
        }

        @if(usuario){
          <table class="table table-hover table-head-fixed text-nowrap mt-1">
            <thead>
              <tr>
                <th>#</th>
                <th>Unidade</th>
                <th>Subunidade</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              @for(item of
              usuario.users_subunidades; track item){
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.subunidade.unidade.nome }}</td>
                <td>{{item.subunidade.nome }} ({{item.subunidade.abreviatura }})</td>
                <td>
                  
                    <i
                      class="fa fa-trash text-danger point"
                      aria-hidden="true"
                      (click)="rmvSubunidade(item.id || 0)"
                    ></i>
                  
                </td>
              </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL LANÇAMENTOS-->
</div>
