<div class="content-wrapper">
  <app-title titulo="Policial" />

  @if(policial){
    <!--INICIO SECTION content-->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body box-profile">
                <div class="text-center">
                  @if(policial.foto){
                    <img
                    crossorigin='anonymous'
                      class="profile-user-img img-fluid img-circle point"
                      [src]="urlfoto + policial.foto"
                      alt="Foto policial"
                      data-bs-toggle="modal"
                    data-bs-target="#modalfoto"
                    />
                  }@else{
                    <img
                    class="profile-user-img img-fluid img-circle"
                    src="assets/casamil.png"
                    alt="User profile picture"
                  />
                  }
                 
                </div>
                <h3 class="profile-username text-center">{{ policial.nome }}</h3>
                <p class="text-muted text-center">
                  {{ policial.graduacao.nome }}
                </p>
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Nome de Guerra</b>
                    <a class="float-right">{{ policial.nome_guerra }}</a>
                  </li>
                  @if(policial.numeral){
                  <li class="list-group-item">
                    <b>Numeral</b>
                    <a class="float-right">{{
                      policial.numeral | mask : "00.000"
                    }}</a>
                  </li>
                  }
                  <li class="list-group-item">
                    <b>Matrícula</b>
                    <a class="float-right">{{
                      policial.matricula | mask : "000.000-0-A"
                    }}</a>
                  </li>
                  @if(policial.matricula_cc){
                    <li class="list-group-item">
                      <b>Matrícula CC</b>
                      <a class="float-right">{{
                        policial.matricula_cc | mask : "000.000-0-A"
                      }}</a>
                    </li>
                  }
                  <li class="list-group-item">
                    <b>CPF</b>
                    <a class="float-right">{{
                      policial.cpf | mask : "000.000.000-00"
                    }}</a>
                  </li>
                  @if(policial.sexo){
                    <li class="list-group-item">
                      <b>Sexo</b>
                      <a class="float-right">{{ policial.sexo.nome }}</a>
                    </li>
                  }
                  @if(policial.funcao){
                    <li class="list-group-item">
                      <b>Função</b>
                      <a class="float-right">{{ policial.funcao.nome }}</a>
                    </li>
                  }
                  <li class="list-group-item">
                    <b>Setor</b>
                    <a class="float-right">{{ policial.setor.nome }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Subunidade</b>
                    <a class="float-right"
                      >{{ policial.setor.subunidade.abreviatura }} -
                      {{ policial.setor.subunidade.unidade.abreviatura }}</a
                    >
                  </li>
                </ul>
                <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="#informacoes"
                      data-bs-toggle="tab"
                      >Informações</a
                    >
                  </li>
                  @if(user.perfil.armamentos_emprestimos){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getEmpArmamentos()" href="#armamentos" data-bs-toggle="tab"
                      >Emp. Armamentos</a
                    >
                  </li>
                  }@if(user.perfil.materiais_policiais){
                    <li class="nav-item">
                      <a class="nav-link" (click)="getEmpMateriais()" href="#materiais" data-bs-toggle="tab"
                        >Emp. Materiais<i class="mdi mdi-battery-charging-wireless-10:"></i></a
                      >
                    </li>
                    }@if(user.perfil.veiculos_policiais){
                    <li class="nav-item">
                      <a class="nav-link" (click)="getEmpVeiculos()" href="#veiculos" data-bs-toggle="tab"
                        >Emp. Veículos</a
                      >
                    </li>
                    } @if(user.perfil.policiais_atestados){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getPolAtestados()" href="#atestados" data-bs-toggle="tab"
                      >Atestados</a
                    >
                  </li>
                  } @if(user.perfil.policiais_cursos){
                    <li class="nav-item">
                      <a class="nav-link" (click)="getPolCursos()" href="#cursos" data-bs-toggle="tab"
                        >Cursos</a
                      >
                    </li>
                    } @if(user.perfil.policiais_ferias){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getPolFerias()" href="#ferias" data-bs-toggle="tab"
                      >Férias</a
                    >
                  </li>
                  } @if(user.perfil.policiais_publicacoes){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getPolPublicacoes()" href="#publicacoes" data-bs-toggle="tab"
                      >Publicações</a
                    >
                  </li>
                  }
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <!--INICIO TAB INFORMACOES-->
                  <div class="active tab-pane" id="informacoes">
                    <!--div inicio row-->
                    <div class="row">
                      <!--div inicio col sm 6-->
                      <div class="col-sm-6">
                        <dl class="row">
                          @if(policial.data_nascimento){
                          <dt class="col-sm-4">Data Nascimento:</dt>
                          <dd class="col-sm-8">
                            {{ policial.data_nascimento | date : "dd/MM/yyyy" }}
                          </dd>
                          } @if(policial.telefone1){
                          <dt class="col-sm-4">Telefone 1:</dt>
                          <dd class="col-sm-8">
                            {{ policial.telefone1 | mask : "(00) 00000-0000" }}
                          </dd>
                          } @if(policial.telefone2){
                          <dt class="col-sm-4">Telefone 2:</dt>
                          <dd class="col-sm-8">
                            {{ policial.telefone2 | mask : "(00) 00000-0000" }}
                          </dd>
                          } @if(policial.email){
                          <dt class="col-sm-4">E-mail:</dt>
                          <dd class="col-sm-8">{{ policial.email }}</dd>
                          }
                          @if(policial.escolaridade){
                            <dt class="col-sm-4">Escolaridade:</dt>
                            <dd class="col-sm-8">{{ policial.escolaridade.nome }}</dd>
                            }
                          @if(policial.rua){
                            <dt class="col-sm-4">Endereço:</dt>
                            <dd class="col-sm-8">
                              @if(policial.rua){{{ policial.rua }}}
                              @if(policial.numero){, {{ policial.numero }}}
                              @if(policial.bairro){, {{ policial.bairro }}}
                              @if(policial.cidade){, {{ policial.cidade.nome }} - {{policial.cidade.estado.abreviatura}}}
                            </dd>
                            }
                        </dl>
                      </div>
                      <!--div fim col sm 6-->
                      <!--div inicio col sm 6-->
                      <div class="col-sm-6">
                        <dl class="row">
                          @if(policial.data_apresentacao){
                          <dt class="col-sm-4">Data Apresentação:</dt>
                          <dd class="col-sm-8">
                            {{ policial.data_apresentacao | date : "dd/MM/yyyy" }}
                          </dd>
                          } @if(policial.boletim_apresentacao){
                          <dt class="col-sm-4">BCG Apresentação:</dt>
                          <dd class="col-sm-8">
                            {{ policial.boletim_apresentacao }}
                          </dd>
                          } @if(policial.data_inclusao){
                          <dt class="col-sm-4">Data Inclusão:</dt>
                          <dd class="col-sm-8">
                            {{ policial.data_inclusao | date : "dd/MM/yyyy" }}
                          </dd>
                          } @if(policial.boletim_inclusao){
                          <dt class="col-sm-4">BCG Inclusão:</dt>
                          <dd class="col-sm-8">
                            {{ policial.boletim_inclusao }}
                          </dd>
                          } @if(policial.boletim_transferencia){
                          <dt class="col-sm-4">BCG Transferência:</dt>
                          <dd class="col-sm-8">
                            {{ policial.boletim_transferencia }}
                          </dd>
                          }
                        </dl>
                      </div>
                      <!--div fim col sm 6-->
                    </div>
                    <!--div fim row-->
                  </div>
                  <!--FIM TAB INFORMACOES-->
                  @if(user.perfil.armamentos_emprestimos){
                  <!--INICIO TAB ARMAMENTOS-->
                  <div class="tab-pane" id="armamentos">
                    <!-- -------------------------------------------- -->
                     @if(armamentosemprestimos$ | async; as armamentosemprestimos){
                        <table
                          [mfData]="armamentosemprestimos"
                          #four="mfDataTable"
                          [mfRowsOnPage]="10"
                          [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                          class="table table-hover table-head-fixed text-wrap"
                        >
                          <thead>
                            <tr>
                              <th><mfDefaultSorter by="id"
                                >#</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="data_emprestimo"
                                >Data Empréstimo</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="data_devolucao"
                                >Data Devolução</mfDefaultSorter></th>
                            </tr>
                          </thead>
                          <tbody>
                            @for(row of four.data; track row){
                            <tr data-widget="expandable-table" aria-expanded="false">
                              <td>{{ row.id }}</td>
                              <td>
                                {{ row.data_emprestimo | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td>
                                {{ row.data_devolucao | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                            </tr>
                            <tr class="expandable-body d-none">
                              <td colspan="3">
                                <div style="display: none">
                                  <ul>
                                    @for(arm of row.armamentos_emprestimos_itens;
                                    track arm){
                                    <li>
                                      <b>Armamento:</b>
                                      {{ arm.armamento.armamento_tipo.nome }}
                                      {{ arm.armamento.modelo.marca.nome }}
                                      {{ arm.armamento.modelo.nome }}
                                      @if(arm.armamento.armamento_calibre){{{arm.armamento.armamento_calibre.nome
                                      }}} @if(arm.armamento.armamento_tamanho){{{arm.armamento.armamento_tamanho.nome
                                      }}} {{ arm.armamento.serial }},

                                      <b>Quantidade:</b> {{ arm.quantidade }},
                                      @if(arm.quantidade_devolucao){<b
                                        >Quantidade Devolução:</b
                                      >
                                      {{ arm.quantidade_devolucao }}}
                                    </li>
                                    }
                                  </ul>
                                  <div [innerHTML]="row.observacoes"></div>
                                </div>
                              </td>
                            </tr>
                            }
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="100%">
                                <div
                                  style="
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <mfBootstrapPaginator
                                  ></mfBootstrapPaginator>
                                </div>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      }
                    <!--------------------------------------------------->
                  </div>
                  <!--FIM TAB ARMAMENTOS-->
                  }
                  
                  @if(user.perfil.materiais_policiais){
                    <!--INICIO TAB MATERIAIS-->
                    <div class="tab-pane" id="materiais">
                      <!-- -------------------------------------------- -->
                      @if(materiaispoliciais$ | async; as materiaispoliciais){
                        <table
                          [mfData]="materiaispoliciais"
                          #materiais="mfDataTable"
                          [mfRowsOnPage]="10"
                          [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                          class="table table-hover table-head-fixed text-wrap"
                        >
                          <thead>
                            <tr>
                              <th><mfDefaultSorter by="id"
                                >#</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="data_emprestimo"
                                >Data Empréstimo</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="data_devolucao"
                                >Data Devolução</mfDefaultSorter></th>
                            </tr>
                          </thead>
                          <tbody>
                            @for(row of materiais.data; track row){
                            <tr data-widget="expandable-table" aria-expanded="false">
                              <td>{{ row.id }}</td>
                              <td>
                                {{ row.data_emprestimo | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td>
                                {{ row.data_devolucao | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                            </tr>
                            <tr class="expandable-body d-none">
                              <td colspan="3">
                                <div style="display: none">
                                  <ul>
                                    @for(arm of row.materiais_policiais_itens;
                                    track arm){
                                    <li>
                                      <b>Material:</b>
                                      {{ arm.material.material_tipo.nome }}
                                      {{ arm.material.modelo.marca.nome }}
                                      {{ arm.material.modelo.nome }}
                                      {{ arm.material.serial }},
    
                                      <b>Quantidade:</b> {{ arm.quantidade }},
                                      @if(arm.quantidade_devolucao){<b
                                        >Quantidade Devolução:</b
                                      >
                                      {{ arm.quantidade_devolucao }}}
                                    </li>
                                    }
                                  </ul>
                                  <div [innerHTML]="row.observacoes"></div>
                                </div>
                              </td>
                            </tr>
                            }
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="100%">
                                <div
                                  style="
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <mfBootstrapPaginator
                                  ></mfBootstrapPaginator>
                                </div>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      }
                      <!--------------------------------------------------->
                    </div>
                    <!--FIM TAB MATERIAIS-->
                    }
                  
                  
                  @if(user.perfil.veiculos_policiais){
                    <!--INICIO TAB VEICULOS-->
                    <div class="tab-pane" id="veiculos">
                      <!-- -------------------------------------------- -->
                      @if(veiculospoliciais$ | async; as veiculospoliciais){
                          <table
                            [mfData]="veiculospoliciais"
                            #five="mfDataTable"
                            [mfRowsOnPage]="10"
                            [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                            class="table table-hover table-head-fixed text-wrap"
                          >
                            <thead>
                              <tr>
                                <th><mfDefaultSorter by="id"
                                  >#</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="veiculo.veiculo_tipo.nome"
                                  >Tipo</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="veiculo.modelo.marca.nome"
                                  >Marca</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="veiculo.modelo.nome"
                                  >Modelo</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="veiculo.placa"
                                  >Placa</mfDefaultSorter></th>  
                                <th><mfDefaultSorter by="veiculo.placa_especial"
                                  >Placa Esp.</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="data_emprestimo"
                                  >Data Empréstimo</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="data_devolucao"
                                  >Data Devolução</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="km_inicial"
                                  >KM Inicial</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="km_final"
                                  >KM Final</mfDefaultSorter></th>
                              </tr>
                            </thead>
                            <tbody>
                              @for(row of five.data; track row){
                              <tr data-widget="expandable-table" aria-expanded="false">
                                <td>{{ row.id }}</td>
                                <td>{{ row.veiculo.veiculo_tipo.nome }}</td>
                                <td>{{ row.veiculo.modelo.marca.nome }}</td>
                                <td>{{ row.veiculo.modelo.nome }}</td>
                                <td>{{ row.veiculo.placa }}</td>
                                <td>{{ row.veiculo.placa_especial }}</td>
                                <td>
                                  {{ row.data_inicial | date : "dd/MM/yyyy HH:mm" }}
                                </td>
                                <td>
                                  {{ row.data_final | date : "dd/MM/yyyy HH:mm" }}
                                </td>
                                <td>{{ row.km_inicial }}</td>
                                <td>{{ row.km_final }}</td>
                              </tr>
                              <tr class="expandable-body d-none">
                                <td colspan="10">
                                  <div style="display: none" [innerHTML]="row.observacoes">
                                  </div>
                                </td>
                              </tr>
                              }
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="100%">
                                  <div
                                    style="
                                      display: flex;
                                      align-items: center;
                                      justify-content: center;
                                    "
                                  >
                                    <mfBootstrapPaginator
                                    ></mfBootstrapPaginator>
                                  </div>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        }
                      <!--------------------------------------------------->
                    </div>
                    <!--FIM TAB VEICULOS-->
                    } @if(user.perfil.policiais_atestados){
                  <!--INICIO TAB ATESTADOS-->
                  <div class="tab-pane" id="atestados">
                    <!-- INICIO TABLE-->
                    @if(policiaisatestados$ | async; as policiaisatestados){
                        <table
                          [mfData]="policiaisatestados"
                          #atestados="mfDataTable"
                          [mfRowsOnPage]="10"
                          [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                          class="table table-hover table-head-fixed text-nowrap"
                        >
                          <thead>
                            <tr>
                              <th><mfDefaultSorter by="id">#</mfDefaultSorter></th>
                              <th>
                                <mfDefaultSorter by="data_inicial"
                                  >Data Inicial</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="dias">Dias</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="dataFinal(data_inicial, dias)"
                                  >Data Final</mfDefaultSorter
                                >
                              </th>
                              <th><mfDefaultSorter by="cid">CID</mfDefaultSorter></th>
                            </tr>
                          </thead>

                          <tbody>
                            @for(row of atestados.data; track row){
                            <tr class="optionshover">
                              <td>{{ row.id }}</td>
                              <td>{{ row.data_inicial | date : "dd/MM/yyyy" }}</td>
                              <td>{{ row.dias }}</td>
                              <td>{{ row.data_final | date : "dd/MM/yyyy" }}</td>
                              <td>{{ row.cid }}</td>
                            </tr>
                            }
                          </tbody>

                          <tfoot>
                            <tr>
                              <td colspan="100%">
                                <div
                                  style="
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <mfBootstrapPaginator
                                  ></mfBootstrapPaginator>
                                </div>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      }
                    <!-- FIM TABLE-->
                  </div>
                  <!--FIM TAB ATESTADOS-->
                  } @if(user.perfil.policiais_cursos){
                    <!--INICIO TAB CURSOS-->
                    
                    <div class="tab-pane" id="cursos">
                      <!-- INICIO TABLE-->
                      @if(policiaiscursos$ | async; as policiaiscursos){
                          <table
                            [mfData]="policiaiscursos"
                            #cursos="mfDataTable"
                            [mfRowsOnPage]="10"
                            [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                            class="table table-hover table-head-fixed text-nowrap"
                          >
                            <thead>
                              <tr>
                                <th><mfDefaultSorter by="id">#</mfDefaultSorter></th>
                                <th>
                                  <mfDefaultSorter by="curso.nome"
                                    >Curso</mfDefaultSorter
                                  >
                                </th>
                                <th>
                                  <mfDefaultSorter by="data_inicial"
                                    >Data Inicial</mfDefaultSorter
                                  >
                                </th>
                                
                                <th>
                                  <mfDefaultSorter by="dataFinal(data_inicial, dias)"
                                    >Data Final</mfDefaultSorter
                                  >
                                </th>
                                <th><mfDefaultSorter by="carga_horaria">Carga Horária</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="boletim">Boletim</mfDefaultSorter></th>
                              </tr>
                            </thead>
      
                            <tbody>
                              @for(row of cursos.data; track row){
                              <tr class="optionshover">
                                <td>{{ row.id }}</td>
                                <td>{{ row.curso.nome }}</td>
                                <td>{{ row.data_inicial | date : "dd/MM/yyyy" }}</td>
                                <td>{{ row.data_final | date : "dd/MM/yyyy" }}</td>
                                <td>{{ row.carga_horaria }}h</td>
                                <td>{{ row.boletim }}</td>
                              </tr>
                              }
                            </tbody>
      
                            <tfoot>
                              <tr>
                                <td colspan="100%">
                                  <div
                                    style="
                                      display: flex;
                                      align-items: center;
                                      justify-content: center;
                                    "
                                  >
                                    <mfBootstrapPaginator
                                    ></mfBootstrapPaginator>
                                  </div>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        }
                      <!-- FIM TABLE-->
                    </div>
                    <!--FIM TAB CURSOS-->
                    } @if(user.perfil.policiais_ferias){
                  <!--INICIO TAB FERIAS-->
                  <div class="tab-pane" id="ferias">
                    <!-- INICIO TABLE-->
                    @if(policiaisferias$ | async; as policiaisferias){
                      <table
                        [mfData]="policiaisferias"
                        #second="mfDataTable"
                        [mfRowsOnPage]="10"
                        [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                        class="table table-hover table-head-fixed text-nowrap"
                      >
                        <thead>
                          <tr>
                            <th><mfDefaultSorter by="id">#</mfDefaultSorter></th>
                            <th>
                              <mfDefaultSorter by="data_inicial"
                                >Data Inicial</mfDefaultSorter
                              >
                            </th>
                            <th>
                              <mfDefaultSorter by="dias">Dias</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="dataFinal(data_inicial, dias)"
                                >Data Final</mfDefaultSorter
                              >
                            </th>
                            <th>
                              <mfDefaultSorter by="boletim"
                                >Boletim</mfDefaultSorter
                              >
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          @for(row of second.data; track row){
                          <tr class="optionshover">
                            <td>{{ row.id }}</td>
                            <td>{{ row.data_inicial | date : "dd/MM/yyyy" }}</td>
                            <td>{{ row.dias }}</td>
                            <td>{{ row.data_final | date : "dd/MM/yyyy" }}</td>
                            <td>{{ row.boletim }}</td>
                          </tr>
                          }
                        </tbody>

                        <tfoot>
                          <tr>
                            <td colspan="100%">
                              <div
                                style="
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                "
                              >
                                <mfBootstrapPaginator
                                ></mfBootstrapPaginator>
                              </div>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    }
                    <!-- FIM TABLE-->
                  </div>
                  <!--FIM TAB FERIAS-->
                  } @if(user.perfil.policiais_publicacoes){
                  <!--INICIO TAB PUBLICACOES-->
                  <div class="tab-pane" id="publicacoes">
                    <div>
                      <a
                          class=""
                          title="Imprimir"
                          target="_blank"
                          [routerLink]="['/PublicacoesImprimir', encodeId(policial.id)]"
                        >
                          <i class="fa fa-print text-primary" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- INICIO TABLE-->
                    @if(policiaispublicacoes$ | async; as policiaispublicacoes){
                        <table
                          [mfData]="policiaispublicacoes"
                          #third="mfDataTable"
                          [mfRowsOnPage]="10"
                          [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                          class="table table-hover table-head-fixed"
                        >
                          <thead>
                            <tr>
                              <th><mfDefaultSorter by="id">#</mfDefaultSorter></th>
                              <th>
                                <mfDefaultSorter by="publicacao_tipo.nome"
                                  >Tipo</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="publicacao_tipo.texto"
                                  >Texto</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="boletim"
                                  >Boletim</mfDefaultSorter
                                >
                              </th>
                            </tr>
                          </thead>

                          <tbody>
                            @for(row of third.data; track row){
                            <tr class="optionshover">
                              <td>{{ row.id }}</td>
                              <td>{{ row.publicacao_tipo?.nome }}</td>
                              <td><div [innerHTML]="row.texto"></div></td>
                              <td>{{ row.boletim }}</td>
                            </tr>
                            }
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="100%">
                                <div
                                  style="
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <mfBootstrapPaginator
                                  ></mfBootstrapPaginator>
                                </div>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                  }
                    <!-- FIM TABLE-->
                  </div>
                  <!--FIM TAB PUBLICACOES-->
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--FIM SECTION content-->

    <!-- INICIO MODAL FOTO-->
      <div
      class="modal fade"
      id="modalfoto"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Foto</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(policial.foto){
              <img
              crossorigin='anonymous'
                [src]="urlfoto + policial.foto"
                
                alt="user-avatar"
                height="100px"
                class="img-circle img-fluid"
              />
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL Foto-->
  }
</div>
