<div class="content-wrapper">
  <app-title titulo="Policial" />

  @if(policial$| async; as policial){
    <!--INICIO SECTION content-->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body box-profile">
                <div class="text-center">
                  @if(policial.foto){
                    <img
                    crossorigin='anonymous'
                      class="profile-user-img img-fluid  point"
                      [src]="foto"
                      alt="Foto policial"
                      data-bs-toggle="modal"
                    data-bs-target="#modalfoto"
                    />
                  }@else{
                    <img
                    class="profile-user-img img-fluid img-circle"
                    src="assets/casamil.png"
                    alt="User profile picture"
                  />
                  }
                 
                </div>
                <h3 class="profile-username text-center">{{ policial.nome }}</h3>
                <p class="text-muted text-center">
                  {{ policial.graduacao.nome }}
                </p>
                @if(policial.inativo){
                  <p class="text-muted text-center">
                    Inativo
                  </p>
                }
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Nome de Guerra</b>
                    <a class="float-right">{{ policial.nome_guerra }}</a>
                  </li>
                  @if(policial.numeral){
                  <li class="list-group-item">
                    <b>Numeral</b>
                    <a class="float-right">{{
                      policial.numeral | mask : "00.000"
                    }}</a>
                  </li>
                  }
                  <li class="list-group-item">
                    <b>Matrícula</b>
                    <a class="float-right">{{
                      policial.matricula | mask : "000.000-0-A"
                    }}</a>
                  </li>
                  @if(policial.matricula_cc){
                    <li class="list-group-item">
                      <b>Matrícula CC</b>
                      <a class="float-right">{{
                        policial.matricula_cc | mask : "000.000-0-A"
                      }}</a>
                    </li>
                  }
                  <li class="list-group-item">
                    <b>CPF</b>
                    <a class="float-right">{{
                      policial.cpf | mask : "000.000.000-00"
                    }}</a>
                  </li>
                  @if(policial.sexo){
                    <li class="list-group-item">
                      <b>Sexo</b>
                      <a class="float-right">{{ policial.sexo.nome }}</a>
                    </li>
                  }
                  @if(policial.funcao){
                    <li class="list-group-item">
                      <b>Função</b>
                      <a class="float-right">{{ policial.funcao.nome }}</a>
                    </li>
                  }
                  <li class="list-group-item">
                    <b>Setor</b>
                    <a class="float-right">{{ policial.setor.nome }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Subunidade</b>
                    <a class="float-right"
                      >{{ policial.setor.subunidade.abreviatura }} -
                      {{ policial.setor.subunidade.unidade.abreviatura }}</a
                    >
                  </li>
                </ul>
                <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="#informacoes"
                      data-bs-toggle="tab"
                      >Informações</a
                    >
                  </li>
                  @if(user.perfil.armamentos_emprestimos){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getEmpArmamentos(policial.id||0)" href="#armamentos" data-bs-toggle="tab"
                      >Emp. Armamentos</a
                    >
                  </li>
                  }@if(user.perfil.materiais_policiais){
                    <li class="nav-item">
                      <a class="nav-link" (click)="getEmpMateriais(policial.id||0)" href="#materiais" data-bs-toggle="tab"
                        >Emp. Materiais<i class="mdi mdi-battery-charging-wireless-10:"></i></a
                      >
                    </li>
                    }@if(user.perfil.veiculos_policiais){
                    <li class="nav-item">
                      <a class="nav-link" (click)="getEmpVeiculos(policial.id||0)" href="#veiculos" data-bs-toggle="tab"
                        >Emp. Veículos</a
                      >
                    </li>
                    } @if(user.perfil.policiais_atestados){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getPolAtestados(policial.id||0)" href="#afastamentos" data-bs-toggle="tab"
                      >Afastamentos</a
                    >
                  </li>
                  } @if(user.perfil.policiais_cursos){
                    <li class="nav-item">
                      <a class="nav-link" (click)="getPolCursos(policial.id||0)" href="#cursos" data-bs-toggle="tab"
                        >Cursos</a
                      >
                    </li>
                    } @if(user.perfil.policiais_ferias){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getPolFerias(policial.id||0)" href="#ferias" data-bs-toggle="tab"
                      >Férias</a
                    >
                  </li>
                  } @if(user.perfil.policiais_publicacoes){
                  <li class="nav-item">
                    <a class="nav-link" (click)="getPolPublicacoes(policial.id||0)" href="#publicacoes" data-bs-toggle="tab"
                      >Publicações</a
                    >
                  </li>
                  }
                </ul>
              </div>
              <div class="card-body table-responsive p-2">
                <div class="tab-content">
                  <!--INICIO TAB INFORMACOES-->
                  <div class="active tab-pane" id="informacoes">
                    <!--div inicio row-->
                    <div class="row">
                      <!--div inicio col sm 6-->
                      <div class="col-sm-6">
                        <dl class="row">
                          @if(policial.data_nascimento){
                          <dt class="col-sm-4">Data Nascimento:</dt>
                          <dd class="col-sm-8">
                            {{ policial.data_nascimento | date : "dd/MM/yyyy" }}
                          </dd>
                          } @if(policial.telefone1){
                          <dt class="col-sm-4">Telefone 1:</dt>
                          <dd class="col-sm-8">
                            {{ policial.telefone1 | mask : "(00) 00000-0000" }}
                          </dd>
                          } @if(policial.telefone2){
                          <dt class="col-sm-4">Telefone 2:</dt>
                          <dd class="col-sm-8">
                            {{ policial.telefone2 | mask : "(00) 00000-0000" }}
                          </dd>
                          } @if(policial.email){
                          <dt class="col-sm-4">E-mail:</dt>
                          <dd class="col-sm-8">{{ policial.email }}</dd>
                          }
                          @if(policial.escolaridade){
                            <dt class="col-sm-4">Escolaridade:</dt>
                            <dd class="col-sm-8">{{ policial.escolaridade.nome }}</dd>
                            }
                          @if(policial.rua){
                            <dt class="col-sm-4">Endereço:</dt>
                            <dd class="col-sm-8">
                              @if(policial.rua){{{ policial.rua }}}
                              @if(policial.numero){, {{ policial.numero }}}
                              @if(policial.bairro){, {{ policial.bairro }}}
                              @if(policial.cidade){, {{ policial.cidade.nome }} - {{policial.cidade.estado.abreviatura}}}
                            </dd>
                            }
                        </dl>
                      </div>
                      <!--div fim col sm 6-->
                      <!--div inicio col sm 6-->
                      <div class="col-sm-6">
                        <dl class="row">
                          @if(policial.data_apresentacao){
                          <dt class="col-sm-4">Data Apresentação:</dt>
                          <dd class="col-sm-8">
                            {{ policial.data_apresentacao | date : "dd/MM/yyyy" }}
                          </dd>
                          } @if(policial.boletim_apresentacao){
                          <dt class="col-sm-4">BCG Apresentação:</dt>
                          <dd class="col-sm-8">
                            {{ policial.boletim_apresentacao }}
                          </dd>
                          } @if(policial.data_inclusao){
                          <dt class="col-sm-4">Data Inclusão:</dt>
                          <dd class="col-sm-8">
                            {{ policial.data_inclusao | date : "dd/MM/yyyy" }}
                          </dd>
                          } @if(policial.boletim_inclusao){
                          <dt class="col-sm-4">BCG Inclusão:</dt>
                          <dd class="col-sm-8">
                            {{ policial.boletim_inclusao }}
                          </dd>
                          } @if(policial.boletim_transferencia){
                          <dt class="col-sm-4">BCG Transferência:</dt>
                          <dd class="col-sm-8">
                            {{ policial.boletim_transferencia }}
                          </dd>
                          }
                        </dl>
                      </div>
                      <!--div fim col sm 6-->
                    </div>
                    <!--div fim row-->
                  </div>
                  <!--FIM TAB INFORMACOES-->
                  @if(user.perfil.armamentos_emprestimos){
                  <!--INICIO TAB ARMAMENTOS-->
                  <div class="tab-pane" id="armamentos">
                    <!-- -------------------------------------------- -->
                     @if(armamentosemprestimos$ | async; as armamentosemprestimos){
                          <!--INICIO TABLE-->
                          <table
                          id="armamentosemprestimos"
                          datatable
                          [dtOptions]="dtOptions"
                          class="table table-hover table-head-fixed text-nowrap"
                        >
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Data Empréstimo</th>
                              <th>Data Devolução</th>
                              <th>Ver Empréstimo</th>
                            </tr>
                          </thead>

                          <tbody>
                            @for(row of armamentosemprestimos; track row){
                            
                              <tr class="optionshover2">
                                <td>{{ row.id }}</td>
                                <td>
                                  {{ row.data_emprestimo | date : "dd/MM/yyyy HH:mm" }}
                                </td>
                                <td>
                                  {{ row.data_devolucao | date : "dd/MM/yyyy HH:mm" }}
                                </td>
                                <td class="options2">
                                  <a 
                                    class="point btn btn-outline-primary btn-xs showbtn"
                                    title="Ver Empréstimo"
                                    (click)="showArmEmprestado(row)"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalshowarmemp"
                                  >Ver empréstimo</a>
                                </td>
                              </tr>
                            }
                          </tbody>
                        </table>
                        <!--FIM TABLE-->
                      }
                    <!--------------------------------------------------->


                      <!-- INICIO MODAL SHOW EMP ARMAMENTO-->
                      <div
                      class="modal fade"
                      id="modalshowarmemp"
                      style="display: none"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header border-0">
                            <h4 class="modal-title">Empréstimo</h4>
                            <button
                              type="button"
                              class="close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            @if(armamentoEmprestado){ 
                              <app-armamento-emprestimo-show [armamentoemp]="armamentoEmprestado" />
                            
                            }
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- FIM MODAL SHOW EMP ARMAMENTO-->

                  </div>
                  <!--FIM TAB ARMAMENTOS-->
                  }
                  
                  @if(user.perfil.materiais_policiais){
                    <!--INICIO TAB MATERIAIS-->
                    <div class="tab-pane" id="materiais">
                      <!-- -------------------------------------------- -->
                      @if(materiaispoliciais$ | async; as materiaispoliciais){
                        <!--INICIO TABLE-->
                        <table
                        id="materiaispoliciais"
                        datatable
                        [dtOptions]="dtOptions"
                        class="table table-hover table-head-fixed text-nowrap"
                      >
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Data Empréstimo</th>
                            <th>Data Devolução</th>
                            <th>Ver Empréstimo</th>
                          </tr>
                        </thead>

                        <tbody>
                          @for(row of materiaispoliciais; track row){
                          
                            <tr class="optionshover2">
                              <td>{{ row.id }}</td>
                              <td>
                                {{ row.data_emprestimo | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td>
                                {{ row.data_devolucao | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td class="options2">
                                <a 
                                  class="point btn btn-outline-primary btn-xs showbtn"
                                  title="Ver Empréstimo"
                                  (click)="showMatEmprestado(row)"
                                  data-bs-toggle="modal"
                                  data-bs-target="#modalshowmatpol"
                                >Ver empréstimo</a>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                      <!--FIM TABLE-->
                      }
                      <!--------------------------------------------------->


                        <!-- INICIO MODAL SHOW EMP ARMAMENTO-->
                        <div
                          class="modal fade"
                          id="modalshowmatpol"
                          style="display: none"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                              <div class="modal-header border-0">
                                <h4 class="modal-title">Empréstimo</h4>
                                <button
                                  type="button"
                                  class="close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                @if(materialPolicial){ 
                                  <app-materiais-policiais-show [materialpolicial]="materialPolicial"/>
                                
                                }
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- FIM MODAL SHOW EMP ARMAMENTO-->
                      </div>
                      <!--FIM TAB MATERIAIS-->
                    }
                  
                  
                  @if(user.perfil.veiculos_policiais){
                    <!--INICIO TAB VEICULOS-->
                    <div class="tab-pane" id="veiculos">
                      <!-- -------------------------------------------- -->
                      @if(veiculospoliciais$ | async; as veiculospoliciais){

                        <!--INICIO TABLE-->
                        <table
                        id="veiculospoliciais"
                        datatable
                        [dtOptions]="dtOptions"
                        class="table table-hover table-head-fixed text-nowrap"
                      >
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Placa</th>
                            <th>Placa Esp.</th>
                            <th>Data Emp.</th>
                            <th>Km Inicial</th>
                            <th>Data Dev.</th>
                            <th>Km Final</th>
                            <th>Ver Empréstimo</th>
                          </tr>
                        </thead>

                        <tbody>
                          @for(row of veiculospoliciais; track row){
                          
                            <tr class="optionshover2">
                              <td>{{ row.id }}</td>
                              <td>{{ row.veiculo.veiculo_tipo.nome }}</td>
                              <td>{{ row.veiculo.modelo.marca.nome }}</td>
                              <td>{{ row.veiculo.modelo.nome }}</td>
                              <td>{{ row.veiculo.placa }}</td>
                              <td>{{ row.veiculo.placa_especial }}</td>
                              <td>
                                {{ row.data_inicial | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td>{{ row.km_inicial }}</td>
                              <td>
                                {{ row.data_final | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                            
                              <td>{{ row.km_final }}</td>
                              <td class="options2">
                                <a 
                                  class="point btn btn-outline-primary btn-xs showbtn"
                                  title="Ver Empréstimo"
                                  (click)="showVeiculosEmprestado(row)"
                                  data-bs-toggle="modal"
                                  data-bs-target="#modalshowveipol"
                                >Ver empréstimo</a>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                      <!--FIM TABLE-->

                          
                        }
                         <!-- INICIO MODAL SHOW EMP VEICULOS-->
                         <div
                         class="modal fade"
                         id="modalshowveipol"
                         style="display: none"
                         aria-hidden="true"
                       >
                         <div class="modal-dialog modal-xl">
                           <div class="modal-content">
                             <div class="modal-header border-0">
                               <h4 class="modal-title">Empréstimo</h4>
                               <button
                                 type="button"
                                 class="close"
                                 data-bs-dismiss="modal"
                                 aria-label="Close"
                               >
                                 <span aria-hidden="true">×</span>
                               </button>
                             </div>
                             <div class="modal-body">
                               @if(veiculoPolicial){ 
                                 <app-veiculos-policiais-show [veiculopolicial]="veiculoPolicial"/>
                               
                               }
                             </div>
                           </div>
                         </div>
                       </div>
                       <!-- FIM MODAL SHOW EMP VEICULOS-->
                      <!--------------------------------------------------->
                    </div>
                    <!--FIM TAB VEICULOS-->
                    } @if(user.perfil.policiais_atestados){
                  <!--INICIO TAB ATESTADOS-->
                  <div class="tab-pane" id="afastamentos">
                   
                    @if(policiaisatestados$ | async; as policiaisatestados){
                        <!--INICIO TABLE-->
                        <table
                        id="policiaisatestados"
                        datatable
                        [dtOptions]="dtOptions"
                        class="table table-hover table-head-fixed text-nowrap"
                      >
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Data Inicial</th>
                            <th>Dias</th>
                            <th>Data Final</th>
                            <th>CID</th>
                          </tr>
                        </thead>

                        <tbody>
                          @for(row of policiaisatestados; track row){
                          
                            <tr class="optionshover2">
                              <td>{{ row.id }}</td>
                              <td>{{ row.afastamento_tipo.nome }}</td>
                              <td>{{ row.data_inicial | date : "dd/MM/yyyy" }}</td>
                              <td>{{ row.dias }}</td>
                              <td>{{ row.data_final | date : "dd/MM/yyyy" }}</td>
                              <td>{{ row.cid }}</td>
                            </tr>
                          }
                        </tbody>
                      </table>
                      <!--FIM TABLE-->
                    
                      }
                
                  </div>
                  <!--FIM TAB ATESTADOS-->
                  } @if(user.perfil.policiais_cursos){
                    <!--INICIO TAB CURSOS-->
                    
                    <div class="tab-pane" id="cursos">
                      @if(policiaiscursos$ | async; as policiaiscursos){

                         <!--INICIO TABLE-->
                            <table
                            id="policiaiscursos"
                            datatable
                            [dtOptions]="dtOptions"
                            class="table table-hover table-head-fixed text-nowrap"
                          >
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Curso</th>
                                <th>Data Inicial</th>
                                <th>Data Final</th>
                                <th>Carga Horária</th>
                                <th>Boletim</th>
                              </tr>
                            </thead>
    
                            <tbody>
                              @for(row of policiaiscursos; track row){
                              
                                <tr class="optionshover2">
                                  <td>{{ row.id }}</td>
                                  <td>{{ row.curso.nome }}</td>
                                  <td>{{ row.data_inicial | date : "dd/MM/yyyy" }}</td>
                                  <td>{{ row.data_final | date : "dd/MM/yyyy" }}</td>
                                  <td>{{ row.carga_horaria }}h</td>
                                  <td>{{ row.boletim }}</td>
                                </tr>
                              }
                            </tbody>
                          </table>
                          <!--FIM TABLE-->
                        }
                    </div>
                    <!--FIM TAB CURSOS-->
                    } @if(user.perfil.policiais_ferias){
                  <!--INICIO TAB FERIAS-->
                  <div class="tab-pane" id="ferias">
                    <!-- INICIO TABLE-->
                    @if(policiaisferias$ | async; as policiaisferias){
                      <!--INICIO TABLE-->
                          <table
                          id="policiaisferias"
                          datatable
                          [dtOptions]="dtOptions"
                          class="table table-hover table-head-fixed text-nowrap"
                        >
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Data Inicial</th>
                              <th>Dias</th>
                              <th>Data Final</th>
                              <th>Ano Ref.</th>
                              <th>Boletim</th>
                            </tr>
                          </thead>

                          <tbody>
                            @for(row of policiaisferias; track row){
                            
                              <tr class="optionshover2">
                                <td>{{ row.id }}</td>
                                <td>{{ row.data_inicial | date : "dd/MM/yyyy" }}</td>
                                <td>{{ row.dias }}</td>
                                <td>{{ row.data_final | date : "dd/MM/yyyy" }}</td>
                                <td>{{ row.ano }}</td>
                                <td>{{ row.boletim }}</td>
                              </tr>
                            }
                          </tbody>
                        </table>
                        <!--FIM TABLE-->
                      
                      }
                  </div>
                  <!--FIM TAB FERIAS-->
                  } @if(user.perfil.policiais_publicacoes){
                  <!--INICIO TAB PUBLICACOES-->
                  <div class="tab-pane" id="publicacoes">
                    <div>
                      <a
                          class="btn btn-primary btn-sm"
                          title="Imprimir"
                          target="_blank"
                          [routerLink]="['/PublicacoesImprimir', encodeId(policial.id)]"
                        >
                          <i class="fa fa-print" aria-hidden="true"></i> Imprimir
                        </a>
                    </div>
                    @if(policiaispublicacoes$ | async; as policiaispublicacoes){
                      <!--INICIO TABLE-->
                      <table
                          id="policiaispublicacoes"
                          datatable
                          [dtOptions]="dtOptions"
                          class="table table-hover table-head-fixed text-nowrap"
                        >
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Tipo</th>
                              <th>Texto</th>
                              <th>Boletim</th>
                            </tr>
                          </thead>

                          <tbody>
                            @for(row of policiaispublicacoes; track row){
                            
                              <tr class="optionshover2">
                                <td>{{ row.id }}</td>
                                <td>{{ row.publicacao_tipo.nome }}</td>
                                <td><div [innerHTML]="row.texto"></div></td>
                                <td>{{ row.boletim }}</td>
                              </tr>
                            }
                          </tbody>
                        </table>
                        <!--FIM TABLE-->
                        
                    }
                  </div>
                  <!--FIM TAB PUBLICACOES-->
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--FIM SECTION content-->

    <!-- INICIO MODAL FOTO-->
      <div
      class="modal fade"
      id="modalfoto"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Foto</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(policial.foto){
              <img
              crossorigin='anonymous'
                [src]="foto"
                
                alt="user-avatar"
                height="100px"
                class=" img-fluid"
              />
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL Foto-->
  }
</div>
