<div class="content-wrapper">
    <app-title titulo="Empresa" />
    @if(empresa){
      <!--INICIO SECTION content-->
      <section class="content" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body box-profile">
                  <!-- <div class="text-center">
                    <img
                      class="profile-user-img img-fluid img-circle"
                      src="assets/casamil.png"
                      alt="User profile picture"
                    />
                  </div> -->
                  <h3 class="profile-username text-center">{{ empresa.nome }}</h3>
                  <!-- <p class="text-muted text-center">
                    {{ armamento.modelo.marca.nome }} {{ armamento.modelo.nome }}
                  </p> -->
                  <ul class="list-group list-group-unbordered mb-3">
                    @if(empresa.nome_fantasia){
                        <li class="list-group-item">
                        <b>Nome Fantasia</b>
                        <a class="float-right">{{ empresa.nome_fantasia }}</a>
                        </li>
                    }
                    <li class="list-group-item">
                      <b>CNPJ</b>
                      <a class="float-right">{{ empresa.cnpj | mask: '00.000.000/0000-00' }}</a>
                    </li>
                    <li class="list-group-item">
                      <b>Subunidade</b>
                      <a class="float-right"
                        >{{ empresa.subunidade.abreviatura }} -
                        {{ empresa.subunidade.unidade.abreviatura }}</a
                      >
                    </li>
                  </ul>
                  <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                </div>
              </div>
            </div>
    
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        href="#informacoes"
                        data-bs-toggle="tab"
                        >Informações</a
                      >
                    </li>
                    @if(user.perfil.contratos){
                        <li class="nav-item">
                        <a class="nav-link" href="#contratos" data-bs-toggle="tab"
                            >Contratos</a
                        >
                        </li>
                    }
                    @if(user.perfil.servicos){
                        <li class="nav-item">
                          <a class="nav-link" href="#servicos" data-bs-toggle="tab"
                            >Serviços</a
                          >
                        </li>
                        }
                  </ul>
                </div>
                <div class="card-body table-responsive p-2">
                  <div class="tab-content">
                    <!--INICIO TAB INFORMACOES-->
                    <div class="active tab-pane" id="informacoes">
                      <!--div inicio row-->
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="row">
                            @if(empresa.telefone1){
                                <dt class="col-sm-2">Telefone 1:</dt>
                                <dd class="col-sm-2">
                                {{ empresa.telefone1 | mask: '(00) 00000-0000' }}
                                </dd>
                            } 
                            @if(empresa.telefone2){
                                <dt class="col-sm-2">Telefone 2:</dt>
                                <dd class="col-sm-2">
                                {{ empresa.telefone2 | mask: '(00) 00000-0000' }}
                                </dd>
                            } 
                            @if(empresa.email){
                                <dt class="col-sm-2">E-mail:</dt>
                                <dd class="col-sm-2">
                                {{ empresa.email }}
                                </dd>
                            } 
                           
                          </div>
                        </div>
                      </div>
                      <!-- @if(empresa.observacoes){
                        <h5 class="mt-4">Observações</h5>
                        <div [innerHTML]="empresa.observacoes"></div>
                      } -->
                      <!--div fim row-->
                    </div>
                    <!--FIM TAB INFORMACOES-->
                    @if(user.perfil.contratos){
                      <!--INICIO TAB CONTRATOS-->
                      <div class="tab-pane" id="contratos">
                        <!-- -------------------------------------------- -->
                        <!--INICIO TABLE-->
                            <table
                            datatable
                            [dtOptions]="dtOptions"
                            class="table table-hover table-head-fixed text-nowrap"
                          >
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Empresa</th>
                                <th>Objeto</th>
                                <th>Número</th>
                                <th>Dt Inicial</th>
                                <th>Dt Final</th>
                                <th>Valor Global</th>
                                <th>Valor Usado</th>
                                <th>Aditivado</th>
                                <th>Saldo Diárias</th>
                                <th>Utilização</th>
                                <th>Prorrogação</th>
                              </tr>
                            </thead>
                  
                            <tbody>
                              @for(row of empresa.contratos; track row){
                              <tr class="optionshover2">
                                <td>{{ row.id }}</td>
                              <td>{{ row.objeto }}</td>
                              <!-- <td>{{ row.contrato_tipo.nome }}</td> -->
                              <td>{{ row.numero_contrato }}</td>
                              <td>{{ row.numero_sacc }}</td>
                              <td>{{ row.data_inicial | date: 'dd/MM/yyyy' }}</td>
                              <td>{{ row.data_final | date: 'dd/MM/yyyy' }}</td>
                              <td>R$ {{ row.valor_global | mask: 'separator.2' }}</td>
                              <td>R$ {{ row.valor_usado | mask: 'separator.2' }}</td>
                              <td>
                                @if(row.porcentagem_aditivado){
                                  {{row.porcentagem_aditivado}} %
                                }
                              </td>
                              <td>
                                @if(getSaldoDiarias(row)){
                                  {{getSaldoDiarias(row)}}
                                }
                              </td>
                              <td class="text-center">
                                <span class="badge {{returnCorUsado(row)}}">{{returnPercentUsado(row)}}%</span>
                              </td>
                              <td>
                                @if(row.numero_porrogacao == 1){
                                  1º prorrogação
                                }
                                @if(row.numero_porrogacao == 2){
                                  2º prorrogação
                                }
                                @if(row.numero_porrogacao == 3){
                                  3º prorrogação
                                }
                                @if(row.numero_porrogacao == 4){
                                  4º prorrogação
                                }
                              </td>
                              </tr>
                              }
                            </tbody>
                          </table>
                          <!--FIM TABLE-->

                        
                        <!--------------------------------------------------->
                      </div>
                      <!--FIM TAB CONTRATOS-->
                      } 
                      @if(user.perfil.servicos){
                        <!--INICIO TAB SERVIÇOS-->
                        <div class="tab-pane" id="servicos">
                          <!-- -------------------------------------------- -->
                           <!--INICIO TABLE-->
                           <table
                           datatable
                           [dtOptions]="dtOptions"
                           class="table table-hover table-head-fixed text-nowrap"
                         >
                           <thead>
                             <tr>
                               <th>#</th>
                               <th>Tipo</th>
                               <th>Data Inicial</th>
                               <th>Data Final</th>
                             </tr>
                           </thead>
                 
                           <tbody>
                             @for(row of empresa.servicos; track row){
                             <tr class="optionshover2">
                              <td>{{ row.id }}</td>
                              <td>{{ row.servico_tipo.nome }}</td> 
                              <td>{{ row.data_inicial | date: 'dd/MM/yyyy' }}</td>
                              <td>{{ row.data_final | date: 'dd/MM/yyyy' }}</td>
                             </tr>
                             }
                           </tbody>
                         </table>
                         <!--FIM TABLE-->
                        
                          <!--------------------------------------------------->
                        </div>
                        <!--FIM TAB SERVIÇOS-->
                        } 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--FIM SECTION content-->
    }
  </div>
  