<div class="content-wrapper">
  <app-title titulo="Contrato" />

  @if(contrato){
    <!--INICIO SECTION content-->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body box-profile">
                <!-- <div class="text-center">
                  <img
                    class="profile-user-img img-fluid img-circle"
                    src="assets/casamil.png"
                    alt="User profile picture"
                  />
                </div> -->
                <h3 class="profile-username text-center">{{ contrato.numero_contrato }}</h3>
                <p class="text-muted text-center">
                  <span class="badge {{returnCorUsado()}}">{{returnPercentUsado()}}%</span>
                </p> 
                <ul class="list-group list-group-unbordered mb-3">
                  @if(contrato.contrato_tipo){
                    <li class="list-group-item">
                      <b>Tipo</b>
                      <a class="float-right">{{ contrato.contrato_tipo.nome }}</a>
                    </li>
                  } 
                  @if(contrato.contrato_objeto){
                    <li class="list-group-item">
                      <b>Objeto</b>
                      <a class="float-right">{{ contrato.contrato_objeto.nome }}</a>
                    </li>
                  } 
                  @if(contrato.numero_sacc){
                    <li class="list-group-item">
                      <b>SACC</b>
                      <a class="float-right">{{ contrato.numero_sacc }}</a>
                    </li>
                  } 
                  @if(contrato.empresa){
                    <li class="list-group-item">
                      <b>Empresa</b>
                      <a class="float-right">{{ contrato.empresa.nome }}</a>
                    </li>
                  } 
                  @if(contrato.empresa){
                    <li class="list-group-item">
                      <b>Nome Fantasia</b>
                      <a class="float-right">{{ contrato.empresa.nome_fantasia }}</a>
                    </li>
                  } 
                  @if(contrato.empresa){
                    <li class="list-group-item">
                      <b>CNPJ</b>
                      <a class="float-right">{{ contrato.empresa.cnpj | mask: '00.000.000/0000-00' }}</a>
                    </li>
                  } 
                  @if(contrato.data_inicial){
                    <li class="list-group-item">
                      <b>Data Inicial</b>
                      <a class="float-right">{{ contrato.data_inicial | date: 'dd/MM/yyyy' }}</a>
                    </li>
                  } 
                  @if(contrato.data_final){
                    <li class="list-group-item">
                      <b>Data Final</b>
                      <a class="float-right">{{ contrato.data_final | date: 'dd/MM/yyyy' }}</a>
                    </li>
                  } 
                  @if(contrato.valor_global){
                    <li class="list-group-item">
                      <b>Valor Global</b>
                      <a class="float-right">R$ {{ contrato.valor_global | mask: 'separator.2' }}</a>
                    </li>
                  } 
                  @if(contrato.valor_usado >= 0){
                    <li class="list-group-item">
                      <b>Valor Usado</b>
                      <a class="float-right">R$ {{ contrato.valor_usado | mask: 'separator.2' }}</a>
                    </li>
                  } 
                 
                    <li class="list-group-item">
                      <b>Prorrogável</b>
                      <a class="float-right">
                        @if(contrato.prorrogavel){
                          Sim
                        }@else{
                          Não
                        }
                      </a>
                    </li>
                  
                  @if(contrato.gestor){
                    <li class="list-group-item">
                      <b>Gestor</b>
                      <a class="float-right">
                        {{ contrato.gestor.graduacao.abreviatura }}
                        {{ contrato.gestor.numeral }}
                        {{ contrato.gestor.nome_guerra }}
                      </a>
                    </li>
                  } 
                  @if(contrato.fiscal){
                    <li class="list-group-item">
                      <b>Fiscal</b>
                      <a class="float-right">
                        {{ contrato.fiscal.graduacao.abreviatura }}
                        {{ contrato.fiscal.numeral }}
                        {{ contrato.fiscal.nome_guerra }}
                      </a>
                    </li>
                  } 
                  <li class="list-group-item">
                    <b>Subunidade</b>
                    <a class="float-right"
                      >{{ contrato.subunidade.abreviatura }} -
                      {{ contrato.subunidade.unidade.abreviatura }}</a
                    >
                  </li>
                </ul>
                <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card">
              <div class="card-header border-0 p-2">
                <h3 class="card-title">Lançamentos</h3>
              </div>
              <div class="card-body">
                <table class="table table-hover table-head-fixed text-wrap">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Mês Referência</th>
                      <th>Valor</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(item of
                    contrato.contratos_lancamentos; track item){
                      <tr data-widget="expandable-table" aria-expanded="false">
                        <td>{{item.id}}</td>
                        <td>{{item.mes_referencia | date: 'MM/yyyy'}}</td>
                        <td>R$ {{ item.valor | mask: 'separator.2' }}</td>
                        <td>
                          
                            <i
                              class="fa fa-trash text-danger point"
                              aria-hidden="true"
                              (click)="rmvLancamento(item.id || 0)"
                            ></i>
                          
                        </td>
                      </tr>
                      <tr class="expandable-body d-none">
                        <td colspan="4">
                          <div class="text-justify" [innerHTML]="item.observacoes"></div>
                        </td>
                      </tr>
                    }
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>R$ {{returnSumLancamentos() | mask: 'separator.2'}}</th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--FIM SECTION content-->
  }
</div>
