<div class="content-wrapper">
  <app-title titulo="Contrato" />

  @if(contrato){
    <!--INICIO SECTION content-->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body box-profile">
                <!-- <div class="text-center">
                  <img
                    class="profile-user-img img-fluid img-circle"
                    src="assets/casamil.png"
                    alt="User profile picture"
                  />
                </div> -->
                <h3 class="profile-username text-center">{{ contrato.numero_contrato }}</h3>
                <p class="text-muted text-center">
                  <span class="badge {{returnCorUsado()}}">{{returnPercentUsado()}}%</span>
                </p> 
                <ul class="list-group list-group-unbordered mb-3">
                  @if(contrato.contrato_tipo){
                    <li class="list-group-item">
                      <b>Tipo</b>
                      <a class="float-right">{{ contrato.contrato_tipo.nome }}</a>
                    </li>
                  } 
                  @if(contrato.objeto){
                    <li class="list-group-item">
                      <b>Objeto</b>
                      <a class="float-right">{{ contrato.objeto }}</a>
                    </li>
                  } 
                  @if(contrato.numero_sacc){
                    <li class="list-group-item">
                      <b>SACC</b>
                      <a class="float-right">{{ contrato.numero_sacc }}</a>
                    </li>
                  } 
                  @if(contrato.empresa){
                    <li class="list-group-item">
                      <b>Empresa</b>
                      <a class="float-right">{{ contrato.empresa.nome }}</a>
                    </li>
                  } 
                  
                  @if(contrato.empresa){
                    <li class="list-group-item">
                      <b>CNPJ</b>
                      <a class="float-right">{{ contrato.empresa.cnpj | mask: '00.000.000/0000-00' }}</a>
                    </li>
                  } 
                 
                    <li class="list-group-item">
                      <b>Prorrogável</b>
                      <a class="float-right">
                        @if(contrato.prorrogavel){
                          Sim
                        }@else{
                          Não
                        }
                      </a>
                    </li>
                    <li class="list-group-item">
                      <b>Número da Prorrogação</b>
                      <a class="float-right">
                        @if(contrato.numero_porrogacao == 1){
                          1º prorrogação
                        }
                        @if(contrato.numero_porrogacao == 2){
                          2º prorrogação
                        }
                        @if(contrato.numero_porrogacao == 3){
                          3º prorrogação
                        }
                        @if(contrato.numero_porrogacao == 4){
                          4º prorrogação
                        }
                      </a>
                    </li>
                    <li class="list-group-item">
                      <b>Contrato Prorrogado</b>
                      <a class="float-right">
                        @if(contrato.contrato_prorrogado){
                          {{contrato.contrato_prorrogado.numero_contrato}}, {{contrato.contrato_prorrogado.empresa.nome}}
                        }
                      </a>
                    </li>
                  @if(contrato.gestor){
                    <li class="list-group-item">
                      <b>Gestor</b>
                      <a class="float-right">
                        {{ contrato.gestor.graduacao.abreviatura }}
                        {{ contrato.gestor.numeral }}
                        {{ contrato.gestor.nome_guerra }}
                      </a>
                    </li>
                  } 
                  @if(contrato.fiscal){
                    <li class="list-group-item">
                      <b>Fiscal</b>
                      <a class="float-right">
                        {{ contrato.fiscal.graduacao.abreviatura }}
                        {{ contrato.fiscal.numeral }}
                        {{ contrato.fiscal.nome_guerra }}
                      </a>
                    </li>
                  } 
                  <li class="list-group-item">
                    <b>Subunidade</b>
                    <a class="float-right"
                      >{{ contrato.subunidade.abreviatura }} -
                      {{ contrato.subunidade.unidade.abreviatura }}</a
                    >
                  </li>
                </ul>
                <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
              </div>
            </div>
          </div>

          <div class="col-md-9">



            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="#informacoes"
                      data-bs-toggle="tab"
                      >Informações</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#lancamentos" data-bs-toggle="tab"
                      >Lançamentos</a
                    >
                  </li>
                
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <!--INICIO TAB INFORMACOES-->
                  <div class="active tab-pane" id="informacoes">
                    <!--div inicio row-->
                    <div class="row text-center mt-2">
                      <h3><b>R$ {{ contrato.valor_global | mask: 'separator.2' }}</b></h3>
                      <h4>Valor Global</h4>
                      <h4><span class="badge {{returnCorUsado()}}">{{returnPercentUsado()}}%</span></h4>
                    </div>

                    <div class="row mt-2">
                      <div class="col-sm-2 offset-sm-1">
                        <div class="description-block border-right">
                          <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                          <h5 class="description-header">{{ contrato.data_inicial | date: 'dd/MM/yyyy' }}</h5>
                          <span class="description-text">Data Inicial</span>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="description-block border-right">
                          <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                          <h5 class="description-header">{{ contrato.data_final | date: 'dd/MM/yyyy' }}</h5>
                          <span class="description-text">Data Final</span>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="description-block border-right">
                          <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                          <h5 class="description-header">R$ {{ contrato.valor_usado | mask: 'separator.2' }}</h5>
                          <span class="description-text">Valor Usado</span>
                        </div>
                      </div>
                      @if(contrato.porcentagem_aditivado){
                        <div class="col-sm-2">
                          <div class="description-block border-right">
                            <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                            <h5 class="description-header">{{ contrato.porcentagem_aditivado }}%</h5>
                            <span class="description-text">Porcent. de aditivo</span>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="description-block border-right">
                            <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                            <h5 class="description-header">{{ contrato.data_aditivado | date: 'dd/MM/yyyy' }}</h5>
                            <span class="description-text">Data do aditivo</span>
                          </div>
                        </div>
                      }
                    </div>
                    @if(contrato.contrato_tipo.diarias && contrato.quantidade_diarias){
                      <div class="row mt-2 ">
                        <div class="col-sm-4">
                          <div class="description-block border-right">
                            <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                            <h5 class="description-header">{{ contrato.quantidade_diarias }}</h5>
                            <span class="description-text">Quantidade diárias</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="description-block border-right">
                            <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                            <h5 class="description-header">{{ quantidadeDiariasUtilizadas()  }}</h5>
                            <span class="description-text">Diárias usadas</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="description-block border-right">
                            <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                            <h5 class="description-header">{{ getSaldoDiarias()  }}</h5>
                            <span class="description-text">Saldo diárias</span>
                          </div>
                        </div>
                      </div>  
                    }
                    
                    <div class="text-justify">
                      @if(contrato.observacoes){
                        <h5>Observações</h5>
                        <div [innerHTML]="contrato.observacoes"></div>
                      }
                      @if(contrato.observacoes_aditivado){
                        <h5>Observações Aditivo</h5>
                        <div [innerHTML]="contrato.observacoes_aditivado"></div>
                      }
                    </div>
                    <!--div fim row-->
                  </div>
                  <!--FIM TAB INFORMACOES-->
                  <!--INICIO TAB LANCAMENTOS-->
                  <div class="tab-pane" id="lancamentos">
                    <!--Lançamentos -------------------------------------------- -->
                    <h3 >
                      <button
                        class="btn btn-sm btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modallancamento"
                        title="Cadastrar lançamento"
                      >
                        <i class="fa fa-plus"></i>
                      </button></h3>
                    <table class="table table-hover table-head-fixed text-wrap">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Mês de Referência</th>
                          <th>Valor</th>
                          <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for(item of
                        contrato.contratos_lancamentos; track item){
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>{{item.id}}</td>
                            <td>{{item.mes_referencia | date: 'MM/yyyy'}}</td>
                            <td>R$ {{ item.valor | mask: 'separator.2' }}</td>
                            <td>
                              
                                <i
                                  class="fa fa-trash text-danger point"
                                  aria-hidden="true"
                                  (click)="rmvLancamento(item)"
                                  data-bs-toggle="modal"
                                  data-bs-target="#modalexcluirlancamento"
                                  title="Excluir lançamento"
                                ></i>
                              
                            </td>
                          </tr>
                          <tr class="expandable-body d-none">
                            <td colspan="4">
                              <div class="text-justify" [innerHTML]="item.observacoes"></div>
                            </td>
                          </tr>
                        }
                      </tbody>
                      <tfoot>
                        <tr>
                          <th></th>
                          <th></th>
                          <th>R$ {{returnSumLancamentos() | mask: 'separator.2'}}</th>
                          <th></th>
                        </tr>
                      </tfoot>
                    </table>
                    <!--------------------------------------------------->
                  </div>
                  <!--FIM TAB LANCAMENTOS-->
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!--FIM SECTION content-->

     <!-- INICIO MODAL CADASTRO-->
     <div
     class="modal fade"
     id="modallancamento"
     style="display: none"
     aria-hidden="true"
   >
     <div class="modal-dialog modal-xl">
       <div class="modal-content">
         <div class="modal-header border-0">
           <h4 class="modal-title">Cadastrar lançamento</h4>
           <button
             type="button"
             class="close"
             data-bs-dismiss="modal"
             aria-label="Close"
             id="closeModalButton"
           >
             <span aria-hidden="true">×</span>
           </button>
         </div>
         <div class="modal-body">
           <app-contratos-lancamentos-form [contrato]="contrato.id || 0" (refresh)="refresh()" (cancel)="closeModal()" />
         </div>
       </div>
     </div>
   </div>
   <!--FIM MODAL CADASTRO-->

   <!-- INICIO EXCLUIR LANCAMENTO-->
   <div
   class="modal fade"
   id="modalexcluirlancamento"
   style="display: none"
   aria-hidden="true"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header border-0">
         <h4 class="modal-title">Excluir lançamento</h4>
         <button
           type="button"
           class="close"
           data-bs-dismiss="modal"
           aria-label="Close"
           id="closeModalButton"
         >
           <span aria-hidden="true">×</span>
         </button>
       </div>
       <div class="modal-body">
          @if(rmvlancamento){
            Tem certeza que deseja excluir o lançamento do mês <b>{{rmvlancamento.mes_referencia | date: 'MM/yyyy'}}</b>?
          
            <div class="d-flex justify-content-end mt-1">
              <a
                data-bs-dismiss="modal"
                class="btn btn-link text-primary"
                >Cancelar</a
              >
              <button
                type="button"
                (click)="confirmRmvLancamento(rmvlancamento.id || 0)"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Excluir
              </button>
            </div>
          }
       </div>
     </div>
   </div>
 </div>
 <!--FIM MODAL EXCLUIR LANCAMENTO-->
  }
</div>
