<form  [formGroup]="form" >
    @if(!solicitarsenha){
    
        <div class="row">
            <input-select
                class="col-sm-6"
                label="Policial"
                id="policial"
                [data$]="policiais$"
                formControlName="policial"
            />
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="" id="cautela" formControlName="cautela">
                    <label class="form-check-label" for="cautela">Cautela</label>
                </div>
            </div>
        </div>  
        @if(!editando){
        <div class="row">
            <input-select
                class="col-sm-6"
                label="Armamento"
                id="armamento"
                [data$]="armamentos$"
                formControlName="armamento"
                optionname="serial"
                (ngModelChange)="select()"
            />
            <input-text [max]="maxamon" [min]="1" class="col-sm-2" formControlName="quantidade" label="Quantidade" id="quantidade" tipo="number" />
            <div class="col-sm-2" style="padding-top: 30px;">
                <button (click)="addArmamento()" [disabled]="!form.value.armamento || !form.value.quantidade" class="btn btn-primary "><i class="fa fa-plus"></i> Adicionar arma</button>
            </div>
        </div>
        }
        @if(armamentosselected && !editando){
            <div class="row" >
                <table class="table table-hover table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            
                            <th>Serial</th>
                            <th>Quant.</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(row of armamentosselected; track row;; let index = $index){
                            <tr>
                                
                                <td>{{row.armamento.serial}}</td>
                                <td>{{row.quantidade}}</td>
                                <td>
                                    <i
                                    class="fa fa-trash text-danger point"
                                    aria-hidden="true"
                                    (click)="removeArmamento(index)"
                                ></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        
        <div class="row" style="height: 350px;">
            <input-textarea class="col-sm-12" formControlName="observacoes" label="Observações" id="observacoes" />
        </div>

        <div class="d-flex justify-content-end">
            <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
            @if(editando){
                <button [disabled]="form.invalid" type="button" (click)="solsenha()" class="btn btn-primary">Solicitar senha</button>
            }@else{
                <button [disabled]="form.invalid || armamentosselected.length < 1" type="button" (click)="solsenha()" class="btn btn-primary">Solicitar senha</button>
            }
            
        </div>
    }@else{
        <div class="row">
            <input-text
            class="col-sm-4"
            formControlName="password"
            label="Verificação de senha do Policial"
            id="password"
            tipo="password"
            />
           <div class="col-sm-2">
            <button type="button" (click)="verificarsenha()" class="btn" [ngClass]="{'btn-secondary': senhaverificada === 1, 'btn-success disabled': senhaverificada === 2, 'btn-danger': senhaverificada === 3 }" style="margin-top: 30px;">
                @if(senhaverificada == 1){
                    Verificar
                }
                @if(senhaverificada == 2){
                    Verificado
                }
                @if(senhaverificada == 3){
                    Veirificar novamente
                }
            </button>
           </div>
        </div>

        <div class="d-flex justify-content-end">
            <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
            @if(editando){
                <button [disabled]="form.invalid || senhaverificada != 2" type="button" (click)="cadastrar()" data-bs-dismiss="modal" class="btn btn-primary">Cadastrar</button>
            }@else{
                <button [disabled]="form.invalid || armamentosselected.length < 1 || senhaverificada != 2" type="button" (click)="cadastrar()" data-bs-dismiss="modal" class="btn btn-primary">Cadastrar</button>
            }
            
        </div>
    }
    
   
</form>