<div class="content-wrapper">
    <app-title titulo="Armamento" />
    @if(armamento){
      <!--INICIO SECTION content-->
      <section class="content" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body box-profile">
                  <!-- <div class="text-center">
                    <img
                      class="profile-user-img img-fluid img-circle"
                      src="assets/casamil.png"
                      alt="User profile picture"
                    />
                  </div> -->
                  <h3 class="profile-username text-center">{{ armamento.serial }}</h3>
                  <p class="text-muted text-center">
                    {{ armamento.modelo.marca.nome }} {{ armamento.modelo.nome }}
                  </p>
                  <ul class="list-group list-group-unbordered mb-3">
                    @if(armamento.armamento_tipo){
                    <li class="list-group-item">
                      <b>Tipo</b>
                      <a class="float-right">{{ armamento.armamento_tipo.nome }}</a>
                    </li>
                    } 
                    
                    @if(armamento.armamento_calibre){
                    <li class="list-group-item">
                      <b>Calibre</b>
                      <a class="float-right">{{ armamento.armamento_calibre.nome }}</a>
                    </li>
                    } @if(armamento.armamento_tamanho){
                    <li class="list-group-item">
                      <b>Tamanho</b>
                      <a class="float-right">{{ armamento.armamento_tamanho.nome }}</a>
                    </li>
                    } 
                    @if(armamento.data_baixa){ 
                      <li class="list-group-item">
                        <b>Data Baixa</b>
                        <a class="float-right">
                          {{armamento.data_baixa | date: 'dd/MM/yyyy'}}
                        </a>
                      </li>
                    }
  
                    <li class="list-group-item">
                      <b>Subunidade</b>
                      <a class="float-right"
                        >{{ armamento.subunidade.abreviatura }} -
                        {{ armamento.subunidade.unidade.abreviatura }}</a
                      >
                    </li>
                  </ul>
                  <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                </div>
              </div>
            </div>
    
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        href="#informacoes"
                        data-bs-toggle="tab"
                        >Informações</a
                      >
                    </li>
                    @if(user.perfil.armamentos_emprestimos){
                    <li class="nav-item">
                      <a class="nav-link" href="#emprestimos" data-bs-toggle="tab"
                        >Empréstimos</a
                      >
                    </li>
                    }
                  </ul>
                </div>
                <div class="card-body table-responsive p-1">
                  <div class="tab-content">
                    <!--INICIO TAB INFORMACOES-->
                    <div class="active tab-pane" id="informacoes">
                      <!--div inicio row-->
                      <div class="row">
                        <div class="col-sm-12">
                          
                          <div class="row mt-2">
                            @if(armamento.quantidade >= 0){
                              <div class="col-sm-3 ">
                                <div class="description-block border-right">
                                  <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                  <h5 class="description-header">{{ armamento.quantidade }}</h5>
                                  <span class="description-text">Quantidade</span>
                                </div>
                              </div>
                            }
                            @if(armamento.quantidade_disponivel >= 0){
                              <div class="col-sm-3">
                                <div class="description-block border-right">
                                  <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                  <h5 class="description-header">{{ armamento.quantidade_disponivel  }}</h5>
                                  <span class="description-text">Quantidade Disponível</span>
                                </div>
                              </div>
                            }
                            @if(armamento.data_validade){
                              <div class="col-sm-3">
                                <div class="description-block border-right">
                                  <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                  <h5 class="description-header">{{ armamento.data_validade | date: 'dd/MM/yyyy'  }}</h5>
                                  <span class="description-text">Data Validade</span>
                                </div>
                              </div>
                            }
                          </div> 
                        </div>
                      </div>
                      @if(armamento.observacoes){
                        <h5 class="mt-4">Observações</h5>
                        <div [innerHTML]="armamento.observacoes"></div>
                      }
                      <!--div fim row-->
                    </div>
                    <!--FIM TAB INFORMACOES-->
                    @if(user.perfil.armamentos_emprestimos){
                      <!--INICIO TAB EMPRESTIMOS-->
                      <div class="tab-pane" id="emprestimos">
                        <!-- -------------------------------------------- -->
                        <!--INICIO TABLE-->
                        <table datatable
                        [dtOptions]="dtOptions"
                        class="table table-hover table-head-fixed text-nowrap">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Graduação</th>
                              <th>Numeral</th>
                              <th>Nome de Guerra</th>
                              <th>Matrícula</th>
                              <th>Setor</th>
                              <th>Data Empréstimo</th>
                              <th>Quantidade</th>
                              <th>Data Devolução</th>
                              <th>Quant. Devolução</th>
                              <th>Ver Empréstimo</th>
                            </tr>
                          </thead>
                          <tbody>
                            @for(item of
                            armamento.armamentos_emprestimos_itens; track item){
                            <tr class="optionshover2">
                              <td>{{ item.armamento_emprestimo.id }}</td>
                              <td>{{ item.armamento_emprestimo.policial.graduacao.abreviatura }}</td>
                              <td>{{ item.armamento_emprestimo.policial.numeral }}</td>
                              <td>{{ item.armamento_emprestimo.policial.nome_guerra }}</td>
                              <td>{{ item.armamento_emprestimo.policial.matricula }}</td>
                              <td>{{ item.armamento_emprestimo.policial.setor.nome }}</td>
                              <td>
                                {{ item.armamento_emprestimo.data_emprestimo | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td>{{ item.quantidade }}</td>
                              <td>
                                {{ item.armamento_emprestimo.data_devolucao | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td>{{ item.quantidade_devolucao }}</td>
                              <td class="options2">
                                <a
                                  class="point btn btn-outline-primary btn-xs showbtn"
                                  title="Ver Empréstimo"
                                        (click)="showEmprestado(item)"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalshowarmemp"
                                >
                                Ver Empréstimo
                                </a>
                              </td>
                            </tr>
                            }
                          </tbody>
                        </table>
                        <!--FIM TABLE-->


                          <!-- INICIO MODAL SHOW EMP ARMAMENTO-->
                            <div
                            class="modal fade"
                            id="modalshowarmemp"
                            style="display: none"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                <div class="modal-header border-0">
                                  <h4 class="modal-title">Empréstimo</h4>
                                  <button
                                    type="button"
                                    class="close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  @if(armEmrpestimo){ 
                                    <app-armamento-emprestimo-show [armamentoemp]="armEmrpestimo" />
                                  
                                  }
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- FIM MODAL SHOW EMP ARMAMENTO-->
                        <!--------------------------------------------------->
                      </div>
                      <!--FIM TAB ARMAMENTOS-->
                      } 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--FIM SECTION content-->
    }
  </div>
  