<!--<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>-->
    <!--INICIO CONTENT WRAPPER-->
    <div class="content-wrapper" *ngIf="user" >
        <!--INICIO SECTION HEADER-->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Veículos</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a [routerLink]="['/Inicio']">Início</a>
                  </li>
                  <li class="breadcrumb-item active">Veículos</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <!--FIM SECTION HEADER-->
        <!--INICIO SECTION TABELA-->
        <section class="content">
          <!--INICIO CARD-->
          <div class="card card-outline card-orange">
            <!--INICIO HEADER CARD-->
            <div class="card-header">
              <div class="row">
                <div class="col-sm-1">
                  <button
                  *ngIf="user.perfil.veiculos_cad"
                    data-bs-toggle="modal"
                    data-bs-target="#modalcad"
                    type="button"
                    class="btn btn-block btn-outline-primary"
                    (click)="formcad.reset()"
                  >
                    <i class="nav-icon fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--FIM HEADER CARD-->
            <!--INICIO BODY CARD-->
            <div class="card-body table-responsive p-2"  >
              <!--INICIO TABLE CARD-->
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="table table-hover table-head-fixed text-nowrap"
              >
                <thead>
                  <tr>
                    <th>ID</th>       
                    <th *ngIf="user.perfil.administrador">SUBUNIDADE</th>             
                    <th>MARCA</th>     
                    <th>MODELO</th>     
                    <th>COR</th>  
                    <th>ANO</th>      
                    <th>PLACA</th>    
                    <th>PLACA ESP.</th>   
                    <th>TIPO</th>    
                    <th>KM ATUAL</th>  
                    <th>TROCA DE ÓLEO</th>  
                    <th>DATA BAIXA</th> 
                    <th>OPÇÕES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of data$" class="hovers">
                    <td>{{ data.id }}</td>         
                    <td *ngIf="user.perfil.administrador">{{ data.subunidade.abreviatura }} - {{ data.subunidade.unidade.abreviatura }}</td>        
                    <td>{{ data.marca.nome }}</td> 
                    <td>{{ data.modelo.nome }}</td> 
                    <td>{{ data.cor.nome }}</td> 
                    <td>{{ data.ano }}</td>
                    <td>{{ data.placa }}</td> 
                    <td>{{ data.placa_esp }}</td> 
                    <td>
                      <span *ngIf="data.tipo_id == 1">Orgânico</span>
                      <span *ngIf="data.tipo_id == 2">Locado</span>
                    </td>
                    <td>{{ data.km_atual }} km</td> 
                    <td><span *ngIf="data.troca_oleo">{{ data.troca_oleo }} km</span></td> 
                    <td>{{ data.data_baixa | date:'dd/MM/yyyy' }}</td> 
                    <td>
                      <span class="editdata">
                        <i
                        *ngIf="user.perfil.veiculos_edt && !data.data_baixa"
                          (click)="trocaroleo(data)"
                          data-bs-toggle="modal"
                          data-bs-target="#modaltroca"
                          class="right fas fa-tint text-primary point"
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Troca de Óleo"
                        ></i>
                        <i
                        *ngIf="user.perfil.veiculos_edt && !data.data_baixa"
                          (click)="editar(data)"
                          data-bs-toggle="modal"
                          data-bs-target="#modalcad"
                          class="right fas fa-edit text-primary point margin5"
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Editar"
                        ></i>
                        <i
                        *ngIf="user.perfil.veiculos_del && !data.data_baixa"
                          (click)="deletar(data)"
                          data-bs-toggle="modal"
                          data-bs-target="#modaldel"
                          class="right fas fa-trash text-danger point margin5"
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Excluir"
                        ></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--FIM TABLE CARD-->
            </div>
            <!--FIM BODY CARD-->
          </div>
          <!--FIM CARD-->
    
          <!--INICIO MODAL CADASTRO-->
          <div class="modal fade" id="modalcad" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Cadastrar</h4>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <!--FORM CADASTRO-->
                <form [formGroup]="formcad" (ngSubmit)="salvar()">
                  <div class="modal-body">
                    <!--INICIO ROW 1-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                              <label for="marca">Marca<span class="text-danger">*</span></label>
                              <ngx-select-dropdown 
                                [config]="config" 
                                [options]="marcas$"
                                formControlName="marca" 
                                required
                                (change)="getModelos()"                               
                                >                                
                              </ngx-select-dropdown>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="modelo">Modelo<span class="text-danger">*</span></label>
                              <ngx-select-dropdown 
                                [config]="config2" 
                                [options]="modelos$"
                                formControlName="modelo" 
                                required                               
                                >                                
                              </ngx-select-dropdown>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="cor">Cor<span class="text-danger">*</span></label>
                              <ngx-select-dropdown 
                                [config]="config3" 
                                [options]="cores$"
                                formControlName="cor"  
                                required                              
                                >                                
                              </ngx-select-dropdown>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="ano"
                                >Ano<span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="ano"  
                                required                          
                                type="text"
                                maxlength="9"
                                class="form-control form-control-border"
                                id="ano"
                                placeholder="Ano"
                              />
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="tipo_id"
                                >Tipo<span class="text-danger">*</span></label
                              >
                              <select formControlName="tipo_id"
                              required
                              [ngClass]="{
                                'is-invalid':
                                  formcad.controls.tipo_id.invalid &&
                                  (formcad.controls.tipo_id.dirty ||
                                    formcad.controls.tipo_id.touched)
                              }"
                              class="custom-select form-control-border"
                              id="tipo_id">
                                <option></option>
                                <option value="1">Orgânico</option>
                                <option value="2">Locado</option>
                              </select>
                            </div>
                          </div>
                    </div>
                     <!--FIM ROW 1-->
                    <!--INICIO ROW 2-->
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="placa"
                            >Placa<span class="text-danger">*</span></label
                          >
                          <input
                            formControlName="placa"
                            required
                            type="text"
                            class="form-control form-control-border"
                            id="placa"
                            placeholder="Placa"
                            minlength="7"
                            maxlength="7"
                            [ngClass]="{
                              'is-invalid':
                                formcad.controls.placa.invalid &&
                                (formcad.controls.placa.dirty ||
                                  formcad.controls.placa.touched)
                            }"
                          />
                        </div>
                      </div>

                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="placa_esp"
                            >Placa Esp.</label
                          >
                          <input
                            formControlName="placa_esp"                            
                            type="text"
                            class="form-control form-control-border"
                            id="placa_esp"
                            placeholder="Placa Esp."
                            minlength="7"
                            maxlength="7"
                            
                          />
                        </div>
                      </div>

                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="chassi"
                            >Chassi</label
                          >
                          <input
                            formControlName="chassi"                            
                            type="text"
                            class="form-control form-control-border"
                            id="chassi"
                            placeholder="Chassi"
                          />
                        </div>
                      </div>
                     
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="renavam"
                            >Renavam</label
                          >
                          <input
                            formControlName="renavam"                            
                            type="text"
                            class="form-control form-control-border"
                            id="renavam"
                            placeholder="Renavam"
                          />
                        </div>
                      </div>

                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="km_inicial"
                            >KM Inicial<span class="text-danger">*</span></label
                          >
                          <input
                            formControlName="km_inicial"  
                            required                          
                            type="number"
                            class="form-control form-control-border"
                            id="km_inicial"
                            min="0"
                            placeholder="KM Inicial"
                          />
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="troca_oleo"
                            >Troca Óleo</label
                          >
                          <input
                            formControlName="troca_oleo"                            
                            type="number"
                            class="form-control form-control-border"
                            id="troca_oleo"
                            min="0"
                            placeholder="Troca Óleo"
                          />
                        </div>
                      </div>
                    </div>
                    <!--FIM ROW 2-->

                    <!--INICIO ROW 3-->
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="data_baixa"
                            >Data Baixa</label
                          >
                          <input
                            formControlName="data_baixa"                            
                            type="date"
                            class="form-control form-control-border"
                            id="data_baixa"
                            placeholder="Data Baixa"
                          />
                        </div>
                      </div>
                    </div>
                    <!--FIM ROW 3-->

                    <!--INICIO ROW 4-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="observacoes">Observações</label>
                      <angular-editor formControlName="observacoes" id="observacoes" [config]="editorConfig">
                      </angular-editor>
                    </div>
                  </div>
                </div>
                <!--FIM ROW 4-->
  
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-default"
                      data-bs-dismiss="modal"
                    >
                      Cancelar
                    </button>
                    <button
                      [disabled]="!formcad.valid"
                      data-bs-dismiss="modal"
                      type="submit"
                      class="btn btn-success"
                    >
                      Salvar
                    </button>
                  </div>
                </form>
                <!--FIM FORM CADASTRO-->
              </div>
            </div>
          </div>
          <!--FIM MODAL CADASTRO-->
    
          <!--INICIO MODAL DELETE-->
          <div class="modal fade" id="modaldel" aria-modal="true" role="dialog">
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Excluir</h4>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
    
                <div class="modal-body">
                  <p>Tem certeza que deseja excluir o veículo <b>{{excluir$?.placa}}</b>?</p>
                  
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    (click)="confirm()"
                    data-bs-dismiss="modal"
                    type="button"
                    class="btn btn-danger"
                  >
                    Excluir
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--FIM MODAL DELETE-->
          <!--INICIO MODAL TROCA OLEO-->
          <div class="modal fade" id="modaltroca" aria-modal="true" role="dialog">
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Troca de Óleo</h4>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
    
                <div class="modal-body">
                  <p>Informe o próximo KM para troca de óleo:</p>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="trocaoleo"
                        >Troca Óleo</label
                      >
                      <input
                        [(ngModel)]="kmtrocaoleo"                            
                        type="number"
                        class="form-control form-control-border"
                        id="trocaoleo"
                        min="0"
                        placeholder="Troca Óleo"
                      />
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                 
                  <button
                    (click)="confirmtroca()"
                    data-bs-dismiss="modal"
                    type="button"
                    class="btn btn-success"
                  >
                    Salvar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--FIM MODAL TROCA OLEO-->
        </section>
        <!--FIM SECTION TABELA-->
      </div>
      <!--FIM CONTENT WRAPPER-->
      <!--<app-footer></app-footer>
    </div>-->
    