<div class="content-wrapper">
  <app-title titulo="Empréstimos de Armamentos" />

  <!--INICIO SECTION content-->
  <section class="content">
    <!-- INICIO CARD-->
    <div class="card">
      <!-- INICIO CARD HEADER-->
      <div class="card-header border-0">
        <h3 class="card-title">
          @if(user.perfil.armamentos_emprestimos_cad){
            <button
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalcad"
              title="Cadastrar"
              (click)="cadastrar()"
            >
              <i class="fa fa-plus"></i> Cadastrar
            </button>
          }
        </h3>
        <div class="card-tools">
          
        </div>
      </div>
      <!-- FIM CARD HEADER-->
      <!-- INICIO CARD BODY-->
      <div class="card-body table-responsive p-1">
    


        @if(data$ | async; as data){
          <!--INICIO TABLE-->
          <table
            datatable
            [dtOptions]="dtOptions"
            class="table table-hover table-head-fixed text-nowrap"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Graduação</th>
                <th>Numeral</th>
                <th>Nome de Guerra</th>
                <th>Matrícula</th>
                <th>Setor</th>
                <th>Cautela</th>
                <th>Data Empréstimo</th>
                <th>Armamentos</th>
                <th>Data Devolução</th>
                <th>Opções</th>
              </tr>
            </thead>
  
            <tbody>
              @for(row of data; track row){
              <tr class="optionshover2">
                <td>{{ row.id }}</td>
                <td>{{ row.policial.graduacao.nome }} </td>
                <td>
                  @if(row.policial.numeral){{{ row.policial.numeral | mask: '00.000'}}}
                </td>
                <td>{{ row.policial.nome_guerra }}</td>
                <td>{{ row.policial.matricula | mask : "000.000-0-A" }}</td>
                <td>{{ row.policial.setor.nome }} - {{ row.policial.setor.subunidade.abreviatura }}</td>
                <td class="">
                  @if(row.cautela){<i class="fa fa-check" aria-hidden="true"></i>}
                </td>
                <td>{{ row.data_emprestimo | date : "dd/MM/yyyy HH:mm" }}</td>
                <td>
                  <button
                    (click)="showArms(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalarm"
                    class="btn btn-xs btn-outline-primary"
                  >
                  <i
                  class="fa fa-eye "
                  aria-hidden="true"
                ></i> Ver Armamentos
                  </button>
                </td>
                <td>{{ row.data_devolucao | date : "dd/MM/yyyy HH:mm" }}</td>
                <td class="options2">
                  
                  <a
                    class="point btn btn-outline-primary btn-xs showbtn"
                    title="Ver Empréstimo"
                          (click)="showEmprestado(row)"
                          data-bs-toggle="modal"
                          data-bs-target="#modalshow"
                  >
                  Ver Empréstimo
                  </a>

                  @if(row.data_devolucao){
                    <a
                      class="point btn btn-outline-primary btn-xs showbtn ml-1"
                      title="Imprimir Justificativa"
                      target="_blank"
                      [routerLink]="['/ArmamentosEmprestimosJustificativa', encodeId(row.id)]"
                    >
                    Imp. Justificativa
                    </a>
  
                  }

                  @if(!row.data_devolucao){
                    @if(row.cautela){
                      <a
                      class="point btn btn-outline-primary btn-xs showbtn"
                      title="Imprimir Cautela"
                      target="_blank"
                      [routerLink]="['/ArmamentosEmprestimosCautela', encodeId(row.id)]"
                    >
                      Imp. Cautela
                    </a>
                   
                    }
                    <div class="btn-group ml-1">
                      @if(user.perfil.armamentos_emprestimos_cad){
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-xs"
                          title="Receber"
                          (click)="devolver(row)"
                          data-bs-toggle="modal"
                          data-bs-target="#modaldev"
                        >
                          Receber
                        </button>
                      }
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-hover dropdown-icon"
                        data-bs-toggle="dropdown"
                      >
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu" role="menu">
                        @if(user.perfil.armamentos_emprestimos_edt){
                          <a
                          class="dropdown-item point"
                          title="Editar"
                          (click)="editar(row)"
                          data-bs-toggle="modal"
                          data-bs-target="#modalcad"
                          >Editar</a
                        >
                        }
                        @if(user.perfil.armamentos_emprestimos_del){
                        <a
                          class="dropdown-item point"
                          (click)="delete(row)"
                          data-bs-toggle="modal"
                          data-bs-target="#modaldel"
                          title="Excluir"
                          >Excluir</a
                        >
                        }
                      </div>
                    </div>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>
          <!--FIM TABLE-->
          }
      </div>
      <!-- FIM CARD BODY-->
    </div>
    <!--FIM CARD-->
  </section>
  <!--FIM SECTION content-->

  <!-- INICIO MODAL CADASTRO-->
  <div
    class="modal fade"
    id="modalcad"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Cadastrar</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(cadastrando){
            <app-armamentos-emprestimos-form (refresh)="refresh()" />
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL CADASTRO-->

  <!-- INICIO MODAL ARMAMENTOS-->
  <div
    class="modal fade"
    id="modalarm"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      @if(armamentoEmprestimo){
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">
            Armamentos
            @if(!armamentoEmprestimo.data_devolucao  && user.perfil.administrador){
              <button
                class="btn btn-outline-primary"
                title="Cadastrar"
                (click)="cadarmamento = true;"
              >
                <i class="fa fa-plus"></i> Cadastrar armamento
              </button>
            } 
          </h4>

          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
          <!--INICIO TABLE-->

          @if(cadarmamento){
            <app-armamentos-emprestimos-itens-form (refresh)="refreshArms()" (cancel)="cancelArm()" [armamento_emprestimo_id]="armamentoEmprestimo.id" />
          }
          <table class="table table-hover table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Calibre</th>
                <th>Tamanho</th>
                <th>Serial</th>
                <th>Quantidade</th>
                <th>Quant. Devolvido</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              @for(item of
              armamentoEmprestimo.armamentos_emprestimos_itens; track item){
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.armamento.armamento_tipo.nome}}</td>
                <td>@if(item.armamento.modelo.marca){{{item.armamento.modelo.marca.nome}}}</td>
                <td>{{item.armamento.modelo.nome}}</td>
                <td>{{item.armamento.armamento_calibre?.nome}}</td>
                <td>{{item.armamento.armamento_tamanho?.nome}}</td>
                <td>{{item.armamento.serial}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.quantidade_devolucao}}</td>
                <td>
                  @if(!armamentoEmprestimo.data_devolucao && user.perfil.administrador){
                    <i
                      class="fa fa-trash text-danger point"
                      aria-hidden="true"
                      (click)="rmvArmamento(item.id || 0)"
                    ></i>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>
          <!--FIM TABLE-->
        </div>
        
      </div>
    }
    </div>
  </div>
  <!--FIM MODAL ARMAMENTOS-->

  <!-- INICIO MODAL DEVOLVER-->
  <div
    class="modal fade"
    id="modaldev"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">
            Devolução
          </h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
          @if(armamentoEmprestimo){
            <app-armamentos-emprestimos-form-receber (refresh)="refresh()" [armamentoEmprestimo]="armamentoEmprestimo" />
          }
        </div>
        
      </div>
    </div>
  </div>
  <!--FIM MODAL DEVOLVER-->

  <!-- INICIO MODAL exclusao-->
  <div
    class="modal fade"
    id="modaldel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Excluir</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(excluir){ Tem certeza que deseja excluir:
          <b>{{ excluir.policial.nome }}</b>
          <div class="d-flex justify-content-end">
            <a data-bs-dismiss="modal" class="btn btn-link text-primary"
              >Cancelar</a
            >
            <button
              type="button"
              (click)="confirm()"
              data-bs-dismiss="modal"
              class="btn btn-danger"
            >
              Excluir
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL exclusao-->

  <!-- INICIO MODAL emprestado-->
  <div
    class="modal fade"
    id="modalshow"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Empréstimo</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(emprestado){ 
            <app-armamento-emprestimo-show [armamentoemp]="emprestado" />
          
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL emprestado-->
  
</div>
