<div class="content-wrapper">
    <app-title titulo="Manutenção de Veículos" />
  
    <!--INICIO SECTION content-->
    <section class="content">
      <!-- INICIO CARD-->
      <div class="card">
        <!-- INICIO CARD HEADER-->
        <div class="card-header border-0">
          <h3 class="card-title">
            @if(user.perfil.veiculos_oficinas_cad){
              <button
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalcad"
                title="Cadastrar"
              >
                <i class="fa fa-plus"></i> Cadastrar
              </button>
            }
          </h3>
          <div class="card-tools">
            
          </div>
        </div>
        <!-- FIM CARD HEADER-->
        <!-- INICIO CARD BODY-->
        <div class="card-body table-responsive p-1">
         

          @if(data$ | async; as data){
            <!--INICIO TABLE-->
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover table-head-fixed text-nowrap"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Placa</th>
                  <th>Placa Esp.</th>
                  <th>Oficina</th>
                  <th>Tipo</th>
                  <th>Dt Inicial</th>
                  <th>KM Inicial</th>
                  <th>Dt Final</th>
                  <th>KM Final</th>
                  <th>Opções</th>
                </tr>
              </thead>
    
              <tbody>
                @for(row of data; track row){
                <tr class="optionshover2">
                  <td>{{ row.id }}</td>
                  <!-- <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td> -->
                  <td>{{ row.veiculo.modelo.marca.nome }}</td>
                  <td>{{ row.veiculo.modelo.nome }}</td>
                  <td>{{ row.veiculo.placa }}</td>
                  <td>{{ row.veiculo.placa_especial }}</td>
                  <td>{{ row.oficina.nome }}</td>
                  <td>{{ row.manutencao_tipo.nome }}</td>
                  <td>{{ row.data_inicial | date: 'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{ row.km_inicial }}</td>
                  <td>{{ row.data_final | date: 'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{ row.km_final }}</td>
                  <td class="options2">
                    @if(!row.data_final){
                    
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-xs"
                          title="Receber"
                            (click)="receber(row)"
                            data-bs-toggle="modal"
                            data-bs-target="#modalreceb"
                        >
                          Receber
                        </button>
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-hover dropdown-icon"
                          data-bs-toggle="dropdown"
                        >
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                          @if(user.perfil.veiculos_oficinas_edt){
                            <a
                              class="dropdown-item point"
                              (click)="editar(row)"
                              data-bs-toggle="modal"
                              data-bs-target="#modalcad"
                              title="Editar"
                              >Editar</a
                            >
                          }
                          @if(user.perfil.veiculos_oficinas_del){
                            <a
                              class="dropdown-item point"
                              (click)="delete(row)"
                              data-bs-toggle="modal"
                              data-bs-target="#modaldel"
                              title="Excluir"
                              >Excluir</a
                            >
                          }
                        </div>
                      </div>
                    }
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <!--FIM TABLE-->
            }
        </div>
        <!-- FIM CARD BODY-->
      </div>
      <!--FIM CARD-->
    </section>
    <!--FIM SECTION content-->
  
    <!-- INICIO MODAL CADASTRO-->
    <div
      class="modal fade"
      id="modalcad"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Cadastrar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <app-veiculos-oficinas-form (refresh)="refresh()" />
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL CADASTRO-->

    <!-- INICIO MODAL RECEBER-->
    <div
      class="modal fade"
      id="modalreceb"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Receber veículo</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(recebveiculo){
              <app-veiculos-oficinas-form-receber (refresh)="refresh()" [veiculooficina]="recebveiculo" />
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL RECEBER-->
  
    <!-- INICIO MODAL exclusao-->
    <div
      class="modal fade"
      id="modaldel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Excluir</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(excluir){ Tem certeza que deseja excluir:
            <b>{{ excluir.veiculo.placa }}</b>
            <div class="d-flex justify-content-end">
              <a data-bs-dismiss="modal" class="btn btn-link text-primary"
                >Cancelar</a
              >
              <button
                type="button"
                (click)="confirm()"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Excluir
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL exclusao-->
  </div>
  