<div class="row">
  <div class="col-sm-4">
    <b>Marca:</b> {{veiculooficina.veiculo.modelo.marca.nome}}
  </div>
  <div class="col-sm-4">
    <b>Modelo:</b> {{veiculooficina.veiculo.modelo.nome}}
  </div>
  <div class="col-sm-4">
    <b>Tipo:</b> {{veiculooficina.manutencao_tipo.nome}}
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <b>Placa:</b> {{veiculooficina.veiculo.placa}}
  </div>
  @if(veiculooficina.veiculo.placa_especial){
    <div class="col-sm-4">
      <b>Placa Especial:</b> {{veiculooficina.veiculo.placa_especial}}
    </div>
  }
  <div class="col-sm-4">
    <b>KM Inicial:</b> {{veiculooficina.km_inicial}}
  </div>
</div>
<form [formGroup]="form">
    <div class="row">
      <input-text
        class="col-sm-2"
        formControlName="km_final"
        label="KM Final"
        id="km_final"
        tipo="number"
        [min]="veiculooficina.km_inicial"
      />
      @if(veiculooficina.manutencao_tipo.revisao || veiculooficina.manutencao_tipo.troca_oleo){
         <input-select
              class="col-sm-2"
              label="Km Troca/Revisão"
              id="km_troca"
              [data$]="kms$"
              formControlName="km_troca"
            />
      }
    </div>
   
    <div class="row" style="height: 350px;">
      <input-textarea class="col-sm-12" formControlName="observacoes" label="Observações" id="observacoes" />
  </div>
  
    <div class="d-flex justify-content-end">
      <a
        (click)="form.reset()"
        data-bs-dismiss="modal"
        class="btn btn-link text-danger"
        >Cancelar</a
      >
      <button
        [disabled]="form.invalid"
        type="button"
        (click)="cadastrar()"
        data-bs-dismiss="modal"
        class="btn btn-primary"
      >
        Cadastrar
      </button>
    </div>
  </form>
  