<div
  class="page-header"
  style="text-align: center; "
  *ngIf="data$"
>
  <img src="assets/cabecalho.png" class="cabecalho" />
  <br />
  <h4>
    {{data$.documento_tipo.nome}} Nº {{ data$.id }}/{{data$.created_at | date: 'yyyy'}} -
    {{ data$.setor.subunidade.abreviatura }}/{{
      data$.setor.subunidade.unidade.abreviatura
    }}
  </h4>
</div>

<div class="page-footer" *ngIf="data$">
  <div class="row rodape2" *ngIf="user">
    <div class="col-sm-3 text-center">
      <!-- <qrcode
        [qrdata]="qrcod"
        [allowEmptyString]="true"
        [cssClass]="'center'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
        [scale]="1"
        [width]="120"
      ></qrcode> -->
    </div>
    <div class="col-sm-6 text-center">
      <p>
        {{ subunidade.nome }} – {{ subunidade.unidade.nome }}<br />
        {{ subunidade.rua }}, {{ subunidade.numero }} -
        {{ subunidade.bairro }} | CEP:
        @if(subunidade.cep){
        {{ subunidade.cep | mask: "00.000-00" }}
        }
        {{ subunidade.cidade?.nome }} /
        {{ subunidade.cidade?.estado?.abreviatura }} <br />
        @if(subunidade.telefone){
            Fones: {{ subunidade.telefone | mask: "(00) 0000-0000" }} 
        }   |
        E-mail: {{ subunidade.email }}<br />
        <b>“Raça de Fortes, Povo de Bravos”</b>
      </p>
    </div>
    <div class="col-sm-3">
      <p>
        <b>Usuário:</b> 
        @if(user.policial){
          {{ user.policial.graduacao.abreviatura }} {{ user.policial.nome_guerra }}
        }@else{
          {{ user.nome }}
        }
        <br />
        <b>Data:</b> {{ datahj | date: "dd/MM/yyyy HH:mm" }}
      </p>
    </div>
  </div>
  <img src="assets/rodape.png" class="rodape" />
</div>

<table style="width: 100%; min-width: 100%" *ngIf="data$">
  <thead class="thead">
    <tr>
      <td>
        <!--place holder for the fixed-position header-->
        <div class="page-header-space"></div>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <!--*** CONTENT GOES HERE ***
          <div class="page">PAGE 1</div>
          <div class="page">PAGE 2</div>-->
        <div class="page">
          <div class="noprint text-center">
            <img src="assets/cabecalho.png" class="cabecalho" />
            <h4 style="margin-top: 20px">
              {{data$.documento_tipo.nome}} Nº {{ data$.id }}/{{data$.created_at | date: 'yyyy'}} -
              {{ data$.setor.subunidade.abreviatura }}/{{
                data$.setor.subunidade.unidade.abreviatura
              }}
            </h4>
          </div>

          <h5 style="margin-top: 20px">Fortaleza - CE, {{ datahj | date: "dd/MM/yyyy" }}</h5>

          <div style="margin-top: 30px" [innerHTML]="data$.texto"></div>

          <div class="row" style="margin-top: 80px">
            
            <div class="col-sm-6 offset-sm-3 text-center">
             
                @if(subunidade.comandante){
              <p >
                <b
                  >{{ subunidade.comandante.nome }} </b
                  >-
                  {{ subunidade.comandante.graduacao.abreviatura }}<br />
                Comandante da {{ subunidade.abreviatura }} - {{ subunidade.unidade.abreviatura }}<br />
                Mat.:
                @if(subunidade.comandante.matricula){
                  {{ subunidade.comandante.matricula | mask: "000.000-0-A" }}
                }
              </p>
            }
            </div>
           
          </div>

        </div>
        <!-- FIM PAGE-->
      </td>
    </tr>
  </tbody>

  <tfoot class="tfoot">
    <tr>
      <td>
        <!--place holder for the fixed-position footer-->
        <div class="page-footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>