<div class="content-wrapper">
  <app-title titulo="Armamentos" />

  <!--INICIO SECTION content-->
  <section class="content">
    <!-- INICIO CARD-->
    <div class="card">
      <!-- INICIO CARD HEADER-->
      <div class="card-header border-0">
        <h3 class="card-title">
          @if(user.perfil.armamentos_cad){
            <button
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalcad"
              title="Cadastrar"
              (click)="cadastrar()"
            >
              <i class="fa fa-plus"></i> Cadastrar
            </button>
          }
        </h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px">
            <select style="width: 50px"  class="form-control float-right" [(ngModel)]="quant">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
           
            <input
            style="width: 200px"
              type="text"
              name="table_search"
              class="form-control float-right"
              placeholder="Pesquisar..."
              [(ngModel)]="pesquisa"
              (ngModelChange)="pesquisar()"
            />
           
          </div>
        </div>
      </div>
      <!-- FIM CARD HEADER-->
      <!-- INICIO CARD BODY-->
      <div class="card-body table-responsive p-1">
        <!-- INICIO TABLE-->
        <table
          [mfData]="data$"
          #mf="mfDataTable"
          [mfRowsOnPage]="quant"
          class="table table-hover table-head-fixed text-nowrap"
        >
          <thead>
            <tr>
              <th><mfDefaultSorter  by="id">#</mfDefaultSorter></th>
              <!-- <th><mfDefaultSorter by="subunidade.abreviatura">Subunidade</mfDefaultSorter></th> -->
              <th><mfDefaultSorter by="armamento_tipo.nome">Tipo</mfDefaultSorter></th>
              <th><mfDefaultSorter by="modelo.marca.nome">Marca</mfDefaultSorter></th>
              <th><mfDefaultSorter by="modelo.nome">Modelo</mfDefaultSorter></th>
              <th><mfDefaultSorter by="armamento_calibre?.nome">Calibre</mfDefaultSorter></th>
              <th><mfDefaultSorter by="armamento_tamanho?.nome">Tamanho</mfDefaultSorter></th>
              <th><mfDefaultSorter by="serial">Serial</mfDefaultSorter></th>
              <th><mfDefaultSorter by="quantidade">Quantidade</mfDefaultSorter></th>
              <th><mfDefaultSorter by="quantidade_disponivel">Quantidade Disponível</mfDefaultSorter></th>
              <th><mfDefaultSorter by="data_validade">Dt. Validade</mfDefaultSorter></th>
              <th><mfDefaultSorter by="data_baixa">Dt. Baixa</mfDefaultSorter></th>
              <th>Opções</th>
            </tr>
          </thead>
          @if(data$){
          <tbody>
            @for(row of mf.data; track row){
            <tr class="optionshover">
              <td>{{ row.id }}</td>
              <!-- <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td> -->
              <td>{{ row.armamento_tipo.nome }}</td>
              <td>{{ row.modelo.marca.nome }}</td>
              <td>{{ row.modelo.nome }}</td>
              <td>{{ row.armamento_calibre?.nome }}</td>
              <td>{{ row.armamento_tamanho?.nome }}</td>
              <td><a [routerLink]="['/Armamento', encodeId(row.id)]">{{ row.serial }}</a></td>
              <td>{{ row.quantidade }}</td>
              <!-- <td>{{ row.quantidade - row.quantidade_disponivel }}</td> -->
              <td>{{ row.quantidade_disponivel }}</td>
              <td>{{ row.data_validade | date: 'dd/MM/yyyy' }}</td>
              <td>{{ row.data_baixa | date: 'dd/MM/yyyy' }}</td>
              <td>
                @if(user.perfil.administrador){
                  <a
                    class="options point"
                    title="Alterar Quantidade"
                    (click)="altquant(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalalterar"
                  >
                    <i class="fa fa-refresh text-primary" aria-hidden="true"></i>
                  </a>
                }
                @if(user.perfil.armamentos_edt && user.perfil.gestor){
                  <a
                    class="options point ml-1"
                    title="Ajustar Quantidade"
                    (click)="ajustquant(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalajust"
                  >
                    <i class="fa fa-sort text-primary" aria-hidden="true"></i>
                  </a>
                }
                @if(user.perfil.armamentos_edt){
                  <a
                    class="options point ml-1"
                    title="Editar"
                    (click)="editar(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalcad"
                  >
                    <i class="fa fa-edit text-primary" aria-hidden="true"></i>
                  </a>
                }
                @if(user.perfil.armamentos_del){
                  <a
                    class="options point ml-1"
                    title="Excluir"
                    (click)="delete(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modaldel"
                  >
                    <i
                      class="fa fa-trash text-danger "
                      aria-hidden="true"
                    ></i>
                  </a>
                }
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="100%">Sem informação</td>
            </tr>
            }
          </tbody>
          }
          <tfoot>
            <tr>
              <td colspan="100%">
                <div style="display: flex; align-items: center; justify-content: center;">
                  <mfBootstrapPaginator
                ></mfBootstrapPaginator>
                </div>
               
              </td>
            </tr>
          </tfoot>
        </table>
        <!-- FIM TABLE-->
      </div>
      <!-- FIM CARD BODY-->
    </div>
    <!--FIM CARD-->
  </section>
  <!--FIM SECTION content-->

  <!-- INICIO MODAL CADASTRO-->
  <div
    class="modal fade"
    id="modalcad"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Cadastrar</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="cadastrando = false;"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(cadastrando){
            <app-armamentos-form (refresh)="refresh()" (cancel)="cancel()" />
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL CADASTRO-->

  <!-- INICIO MODAL exclusao-->
  <div
    class="modal fade"
    id="modaldel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Excluir</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(excluir){ Tem certeza que deseja excluir:
          <b>{{ excluir.serial }}</b>
          <div class="d-flex justify-content-end">
            <a data-bs-dismiss="modal" class="btn btn-link text-primary"
              >Cancelar</a
            >
            <button
              type="button"
              (click)="confirm()"
              data-bs-dismiss="modal"
              class="btn btn-danger"
            >
              Excluir
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL exclusao-->

  <!-- INICIO MODAL AJUST QUANTIDADE-->
  <div
    class="modal fade"
    id="modalajust"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Ajustar quantidade</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(ajustarm){
            <app-armamentos-form-quantidade [armamento]="ajustarm.id || 0" (refresh)="refresh()" (cancel)="cancel()" />
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL AJUST QUANTIDADE-->

  <!-- INICIO MODAL ALT QUANTIDADE-->
  <div
    class="modal fade"
    id="modalalterar"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h4 class="modal-title">Alterar quantidade</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @if(altarm){
            <app-armamentos-form-ajuste [armamento]="altarm" (refresh)="refresh()" (cancel)="cancel()" />
          }
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL ALT QUANTIDADE-->
</div>
