@if(data$ | async; as data){
  <div class="page">
    <div class="noprint text-center">
      <h4 style="margin-top: 20px">
        Manutenção de Veículo Nº {{ data.id }}
      </h4>
    </div>

    <div class="row mt-4">
      <div class="col-sm-5 offset-sm-1">
        <h4>Oficina</h4>
        {{ data.oficina.nome }} <br />
        @if(data.oficina.cnpj){
        <b>CNPJ:</b> {{ data.oficina.cnpj | mask: '00.000.000/0000-00' }} <br />
        }
        <b>Gerente:</b> {{ data.oficina.gerente }} <br />
        @if(data.oficina.telefone1){
          <b>Telefone:</b> {{ data.oficina.telefone1 | mask: '(00) 00000-0000' }}
        }
        
      
      </div>
      <div class="col-sm-5">
        <h4>Veículo</h4>

        {{ data.veiculo.veiculo_tipo.nome }}
        {{ data.veiculo.modelo.marca.nome }}
        {{ data.veiculo.modelo.nome }}<br />
        
        
        <b>Placa:</b> {{ data.veiculo.placa }}<br />
        @if(data.veiculo.placa_especial){
          <b>Placa Especial:</b> {{ data.veiculo.placa_especial }}<br />
        }
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.data_inicial | date: "dd/MM/yyyy HH:mm" }}</h5>
          <span class="description-text">Data Inicial</span>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.km_inicial }}</h5>
          <span class="description-text">KM Inicial</span>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.data_final | date: "dd/MM/yyyy HH:mm" }}</h5>
          <span class="description-text">Data Final</span>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="description-block border-right">
          <h5 class="description-header">{{ data.km_final }}</h5>
          <span class="description-text">KM Final</span>
        </div>
      </div>
    </div>    

    <div class="row mt-3">
     
        <div class="col-sm-6">
          <b>Tipo de manutenção: </b> {{ data.manutencao_tipo.nome }}
        </div>
     
  </div>

    <div style="margin-top: 30px" [innerHTML]="data.observacoes"></div>
   
  </div>
}