<aside class="main-sidebar sidebar-dark-orange elevation-4">
  <a [routerLink]="['/Inicio']" class="brand-link">
    <img src="{{url}}casamil.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: 0.8" />
    <span class="brand-text font-weight-light">SISAC</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul  class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="false">
        <li class="nav-item">
          <a [routerLink]="['/Inicio']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Início</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.afastamentos" class="nav-item">
          <a [routerLink]="['/Afastamentos']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-medkit"></i>
            <p>Afastamentos</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.armamentos" class="nav-item">
          <a [routerLink]="['/Armamentos']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-crosshairs"></i>
            <p>Armamentos</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.documentos" class="nav-item">
          <a [routerLink]="['/Documentos']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-file-text"></i>
            <p>Documentos</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.armamentos_emprestimos" class="nav-item">
          <a [routerLink]="['/Emprestimos-Armamentos']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-bullseye"></i>
            <p>Emp. de Armamentos</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.materiais_emprestimos" class="nav-item">
          <a [routerLink]="['/Emprestimos-Materiais']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-briefcase"></i>
            <p>Emp. de Materiais</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.veiculos_emprestimos" class="nav-item">
          <a [routerLink]="['/Emprestimos-Veiculos']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-tachometer"></i>
            <p>Emp. de Veículos</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.escalas" class="nav-item">
          <a [routerLink]="['/Escalas']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-calendar"></i>
            <p>Escalas</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.usuarios_cad" class="nav-item">
          <a [routerLink]="['/Ferias']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-plane"></i>
            <p>Férias</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.irsos_cad" class="nav-item">
          <a [routerLink]="['/Financeiro-Irso']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-usd"></i>
            <p>Financeiro Irso</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.irsos" class="nav-item">
          <a [routerLink]="['/Irsos']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-clock"></i>
            <p>Irsos</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.materiais" class="nav-item">
          <a [routerLink]="['/Materiais']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-cubes"></i>
            <p>Materiais</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.ocorrencias" class="nav-item">
          <a [routerLink]="['/Ocorrencias']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-exclamation-triangle"></i>
            <p>Ocorrências</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.patrimonios" class="nav-item">
          <a [routerLink]="['/Patrimonios']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-desktop"></i>
            <p>Patrimônios</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.usuarios_cad" class="nav-item">
          <a [routerLink]="['/Promocoes']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-angle-double-up"></i>
            <p>Promoções</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.publicacoes" class="nav-item">
          <a [routerLink]="['/Publicacoes']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-list-alt"></i>
            <p>Publicações</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.usuarios" class="nav-item">
          <a [routerLink]="['/Usuarios']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Usuários</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.veiculos" class="nav-item">
          <a [routerLink]="['/Veiculos']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-car"></i>
            <p>Veículos</p>
          </a>
        </li>
        <li *ngIf="user.perfil?.administrador" class="nav-item point" (click)="menu1 = !menu1"
          [ngClass]="{ 'menu-is-opening menu-open': menu1 == true }">
          <a class="nav-link">
            <i class="nav-icon fa fa-wrench"></i>
            <p>
              Administrador
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/Cidades']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Cores']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cores</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Estados']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Estados</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Graduacoes']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Graduações</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Logs']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Logs</p>
              </a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/Marcas']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Marcas</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Modelos']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Modelos</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Paises']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Países</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Perfis']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Perfis</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Subunidades']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>SubUnidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Tipos-Afastamentos']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Afastamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Tipos-Armamentos']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Armamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Tipos-Documentos']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Documentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Tipos-Materiais']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Materiais</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Tipos-Ocorrencias']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Ocorrências</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Tipos-Patrimonios']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Patrimônios</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Tipos-Publicacoes']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Publicações</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Unidades']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Unidades</p>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="user.perfil?.gestor" class="nav-item point" (click)="menu2 = !menu2"
          [ngClass]="{ 'menu-is-opening menu-open': menu2 == true }">
          <a class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              Gestor
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/Administracao']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Administração</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Modalidades']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Modalidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Escalas-Modelos']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Modelos de Escalas</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Postos']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Postos</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Setores']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Setores</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/Turnos']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Turnos</p>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="user.perfil?.relatorios" class="nav-item point" (click)="menu3 = !menu3"
        [ngClass]="{ 'menu-is-opening menu-open': menu3 == true }">
        <a class="nav-link">
          <i class="nav-icon fa fa-file"></i>
          <p>
            Relatórios
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li *ngIf="user.perfil?.armamentos" class="nav-item">
            <a [routerLink]="['/Rel/Emp-Armamentos']" [routerLinkActive]="['active']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Emp. Armamentos</p>
            </a>
          </li>
          <li *ngIf="user.perfil?.materiais" class="nav-item">
            <a  [routerLink]="['/Rel/Emp-Materiais']" [routerLinkActive]="['active']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Emp. Materiais</p>
            </a>
          </li>
          <li *ngIf="user.perfil?.veiculos" class="nav-item">
            <a [routerLink]="['/Rel/Emp-Veiculos']" [routerLinkActive]="['active']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Emp. Veículos</p>
            </a>
          </li>
          
        </ul>
      </li>
      </ul>
    </nav>
  </div>
</aside>