<div class="content-wrapper">
    <app-title titulo="Contratos" />
  
    <!--INICIO SECTION content-->
    <section class="content">
      <!-- INICIO CARD-->
      <div class="card">
        <!-- INICIO CARD HEADER-->
        <div class="card-header border-0">
          <h3 class="card-title">
            @if(user.perfil.contratos_cad){
              <button
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalcad"
                title="Cadastrar"
              >
                <i class="fa fa-plus"></i> Cadastrar
              </button>
            }
          </h3>
          <div class="card-tools">
            
          </div>
        </div>
        <!-- FIM CARD HEADER-->
        <!-- INICIO CARD BODY-->
        <div class="card-body table-responsive p-1">
         

          @if(data$ | async; as data){
            <!--INICIO TABLE-->
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover table-head-fixed text-nowrap"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Empresa</th>
                  <th>Objeto</th>
                  <th>Número</th>
                  <th>Dt Inicial</th>
                  <th>Dt Final</th>
                  <th>Valor Global</th>
                  <th>Valor Usado</th>
                  <th>Lançamentos</th>
                  <th>Aditivado</th>
                  <th>Saldo Diárias</th>
                  <th>Utilização</th>
                  <th>Prorrogação</th>
                  <th>Opções</th>
                </tr>
              </thead>
    
              <tbody>
                @for(row of data; track row){
                <tr class="optionshover2">
                  <td>{{ row.id }}</td>
                <!-- <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td> -->
                <td>{{ row.empresa.nome }}</td>
                <!-- <td>{{ row.empresa.cnpj | mask: '00.000.000/0000-00' }}</td> -->
                <td>{{ row.objeto }}</td>
                <!-- <td>{{ row.contrato_tipo.nome }}</td> -->
                <td><a [routerLink]="['/Contrato',  encodeId(row.id)]">{{ row.numero_contrato }}</a></td>
                <!-- <td>{{ row.numero_sacc }}</td> -->
               
                <td>{{ row.data_inicial | date: 'dd/MM/yyyy' }}</td>
                <td>{{ row.data_final | date: 'dd/MM/yyyy' }}</td>
                <td>R$ {{ row.valor_global | mask: 'separator.2' }}</td>
                <td>R$ {{ row.valor_usado | mask: 'separator.2' }}</td>
                <td>
                  <button
                    (click)="showLanc(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modallanc"
                    class="btn btn-xs btn-outline-primary"
                  >
                  <i class="fa fa-eye" aria-hidden="true"></i> Ver Lançamentos
                  </button>
                </td>
                <td>
                  @if(row.porcentagem_aditivado){
                    {{row.porcentagem_aditivado}} %
                  }
                </td>
                <td>
                  @if(getSaldoDiarias(row)){
                    {{getSaldoDiarias(row)}}
                  }
                </td>
                <td class="text-center">
                  <span class="badge {{returnCorUsado(row)}}">{{returnPercentUsado(row)}}%</span>
                </td>
                <td>
                  @if(row.numero_porrogacao == 1){
                    1º prorrogação
                  }
                  @if(row.numero_porrogacao == 2){
                    2º prorrogação
                  }
                  @if(row.numero_porrogacao == 3){
                    3º prorrogação
                  }
                  @if(row.numero_porrogacao == 4){
                    4º prorrogação
                  }
                </td>
                  
                  
                  <td class="options2">
                    <a
                        class="point btn btn-outline-primary btn-xs showbtn"
                        title="Imprimir"
                        target="_blank"
                        [routerLink]="['/Contrato',  encodeId(row.id), 'Imprimir']"
                      >
                        Imprimir
                    </a>
                    <div class="btn-group ml-1">
                      @if(user.perfil.contratos_edt){
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-xs"
                          (click)="editar(row)"
                          data-bs-toggle="modal"
                          data-bs-target="#modalcad"
                          title="Editar"
                        >
                          Editar
                        </button>
                      }
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-hover dropdown-icon"
                        data-bs-toggle="dropdown"
                      >
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu" role="menu">
                        @if(!row.porcentagem_aditivado){
                          <a
                            class="dropdown-item point"
                            title="Aditivar"
                            (click)="aditivar(row)"
                            data-bs-toggle="modal"
                            data-bs-target="#modaladitivar"
                            >Aditivar</a
                          >
                          <div class="dropdown-divider"></div>
                        }
                        @if(user.perfil.contratos_del){
                          
                          <a
                            class="dropdown-item point"
                            (click)="delete(row)"
                            data-bs-toggle="modal"
                            data-bs-target="#modaldel"
                            title="Excluir"
                            >Excluir</a
                          >
                        }
                        
                      </div>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <!--FIM TABLE-->
            }



        </div>
        <!-- FIM CARD BODY-->
      </div>
      <!--FIM CARD-->
    </section>
    <!--FIM SECTION content-->
  
    <!-- INICIO MODAL CADASTRO-->
    <div
      class="modal fade"
      id="modalcad"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Cadastrar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <app-contratos-form (refresh)="refresh()"  />
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL CADASTRO-->
  
    <!-- INICIO MODAL exclusao-->
    <div
      class="modal fade"
      id="modaldel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Excluir</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(excluir){ Tem certeza que deseja excluir:
            <b>{{ excluir.numero_contrato }}</b>
            <div class="d-flex justify-content-end">
              <a data-bs-dismiss="modal" class="btn btn-link text-primary"
                >Cancelar</a
              >
              <button
                type="button"
                (click)="confirm()"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Excluir
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL exclusao-->

    <!-- INICIO MODAL LANÇAMENTOS-->
    <div
      class="modal fade"
      id="modallanc"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">
              Lançamentos
              <button
                class="btn btn-outline-primary"
                title="Cadastrar"
                (click)="cadlancamento = true;"
              >
                <i class="fa fa-plus"></i> Cadastrar Lançamento
              </button>
            </h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(cadlancamento){
              <app-contratos-lancamentos-form  [contrato]="contrato.id || 0" (refresh)="refreshLancamentos()" (cancel)="cancelarCadLancamento()" />
            }

            @if(contrato){
              <table class="table table-hover table-head-fixed text-nowrap mt-1">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Mês de Referência</th>
                    <th>Valor</th>
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody>
                  @for(item of
                  contrato.contratos_lancamentos; track item){
                  <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.mes_referencia | date: 'MM/yyyy'}}</td>
                    <td>R$ {{ item.valor | mask: 'separator.2' }}</td>
                    <td>
                      
                        <i
                          class="fa fa-trash text-danger point"
                          aria-hidden="true"
                          (click)="rmvLancamento(item.id || 0)"
                        ></i>
                      
                    </td>
                  </tr>
                  }
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>R$ {{returnSumLancamentos() | mask: 'separator.2'}}</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL LANÇAMENTOS-->

    <!-- INICIO MODAL ADITIVAR-->
    <div
      class="modal fade"
      id="modaladitivar"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Aditivar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(contratoadt){
              <app-contratos-form-aditivar [contrato]="contratoadt"  (refresh)="refresh()"  />
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL ADITIVAR-->

  </div>
  