<div class="content-wrapper">
    <app-title titulo="Contratos" />
  
    <!--INICIO SECTION content-->
    <section class="content">
      <!-- INICIO CARD-->
      <div class="card">
        <!-- INICIO CARD HEADER-->
        <div class="card-header border-0">
          <h3 class="card-title">
            <button
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalcad"
              title="Cadastrar"
            >
              <i class="fa fa-plus"></i>
            </button>
          </h3>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 250px">
              <select style="width: 50px"  class="form-control float-right" [(ngModel)]="quant">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
             
              <input
              style="width: 200px"
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Pesquisar..."
                [(ngModel)]="pesquisa"
                (ngModelChange)="pesquisar()"
              />
             
            </div>
          </div>
        </div>
        <!-- FIM CARD HEADER-->
        <!-- INICIO CARD BODY-->
        <div class="card-body table-responsive p-1">
          <!-- INICIO TABLE-->
          <table
            [mfData]="data$"
            #mf="mfDataTable"
            [mfRowsOnPage]="quant"
            class="table table-hover table-head-fixed text-nowrap"
          >
            <thead>
              <tr>
                <th><mfDefaultSorter  by="id">#</mfDefaultSorter></th>
                <th><mfDefaultSorter by="subunidade.abreviatura">Subunidade</mfDefaultSorter></th>
                <th><mfDefaultSorter by="empresa.nome">Empresa</mfDefaultSorter></th>
                <!-- <th><mfDefaultSorter by="empresa.cnpj">CNPJ</mfDefaultSorter></th> -->
                <th><mfDefaultSorter by="contrato_objeto">Objeto do Contrato</mfDefaultSorter></th>
                <!-- <th><mfDefaultSorter by="contrato_tipo">Tipo do Contrato</mfDefaultSorter></th> -->
                <th><mfDefaultSorter by="numero_contrato">Número do Contrato</mfDefaultSorter></th>
                <th><mfDefaultSorter by="numero_sacc">Número do SACC</mfDefaultSorter></th>
                
                <th><mfDefaultSorter by="data_inicial">Data Inicial</mfDefaultSorter></th>
                <th><mfDefaultSorter by="data_final">Data Final</mfDefaultSorter></th>
                <th><mfDefaultSorter by="valor_global">Valor Global</mfDefaultSorter></th>
                <th><mfDefaultSorter by="valor_usado">Valor Usado</mfDefaultSorter></th>
                <th>Lançamentos</th>
                <th><mfDefaultSorter by="porcentagem_aditivado">Aditivado</mfDefaultSorter></th>
                <th>Utilização</th>
                <th>Opções</th>
              </tr>
            </thead>
            @if(data$){
            <tbody>
              @for(row of mf.data; track row){
              <tr class="optionshover">
                <td>{{ row.id }}</td>
                <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td>
                <td>{{ row.empresa.nome }}</td>
                <!-- <td>{{ row.empresa.cnpj | mask: '00.000.000/0000-00' }}</td> -->
                <td>{{ row.contrato_objeto.nome }}</td>
                <!-- <td>{{ row.contrato_tipo.nome }}</td> -->
                <td><a [routerLink]="['/Contrato', row.id]">{{ row.numero_contrato }}</a></td>
                <td>{{ row.numero_sacc }}</td>
               
                <td>{{ row.data_inicial | date: 'dd/MM/yyyy' }}</td>
                <td>{{ row.data_final | date: 'dd/MM/yyyy' }}</td>
                <td>R$ {{ row.valor_global | mask: 'separator.2' }}</td>
                <td>R$ {{ row.valor_usado | mask: 'separator.2' }}</td>
                <td>
                  <button
                    (click)="showLanc(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modallanc"
                    class="btn btn-xs btn-outline-primary"
                  >
                    Lançamentos
                  </button>
                </td>
                <td>
                  @if(row.porcentagem_aditivado){
                    {{row.porcentagem_aditivado}} %
                  }
                </td>
                <td class="text-center">
                  <span class="badge {{returnCorUsado(row)}}">{{returnPercentUsado(row)}}%</span>
                  <!-- <div class="progress progress-xs">
                    <div class="progress-bar {{returnCorUsado(row)}}"  style="width: {{returnPercentUsado(row)}}%"></div>
                  </div> -->
                </td>
                <td>
                  <a
                    class="options point"
                    title="Imprimir"
                    target="_blank"
                    [routerLink]="['/Contrato', row.id, 'Imprimir']"
                  >
                    <i class="fa fa-print text-primary" aria-hidden="true"></i>
                  </a>
                  @if(!row.porcentagem_aditivado){
                      <a
                      class="options point ml-1"
                      title="Aditivar"
                      (click)="aditivar(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#modaladitivar"
                    >
                      <i class="fa fa-plus text-primary" aria-hidden="true"></i>
                    </a>
                  }
                  <a
                    class="options point ml-1"
                    title="Editar"
                    (click)="editar(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalcad"
                  >
                    <i class="fa fa-edit text-primary" aria-hidden="true"></i>
                  </a>
                  <a
                    class="options point ml-1"
                    title="Excluir"
                    (click)="delete(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modaldel"
                  >
                    <i
                      class="fa fa-trash text-danger "
                      aria-hidden="true"
                    ></i>
                  </a>
                </td>
              </tr>
              } @empty {
              <tr>
                <td colspan="100%">Sem informação</td>
              </tr>
              }
            </tbody>
            }
            <tfoot>
              <tr>
                <td colspan="100%">
                  <div style="display: flex; align-items: center; justify-content: center;">
                    <mfBootstrapPaginator
                  ></mfBootstrapPaginator>
                  </div>
                 
                </td>
              </tr>
            </tfoot>
          </table>
          <!-- FIM TABLE-->
        </div>
        <!-- FIM CARD BODY-->
      </div>
      <!--FIM CARD-->
    </section>
    <!--FIM SECTION content-->
  
    <!-- INICIO MODAL CADASTRO-->
    <div
      class="modal fade"
      id="modalcad"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Cadastrar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <app-contratos-form (refresh)="refresh()"  />
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL CADASTRO-->
  
    <!-- INICIO MODAL exclusao-->
    <div
      class="modal fade"
      id="modaldel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Excluir</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(excluir){ Tem certeza que deseja excluir:
            <b>{{ excluir.numero_contrato }}</b>
            <div class="d-flex justify-content-end">
              <a data-bs-dismiss="modal" class="btn btn-link text-primary"
                >Cancelar</a
              >
              <button
                type="button"
                (click)="confirm()"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Excluir
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL exclusao-->

    <!-- INICIO MODAL LANÇAMENTOS-->
    <div
      class="modal fade"
      id="modallanc"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">
              Lançamentos
              <button
                class="btn btn-outline-primary"
                title="Cadastrar"
                (click)="cadlancamento = true;"
              >
                <i class="fa fa-plus"></i>
              </button>
            </h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(cadlancamento){
              <app-contratos-lancamentos-form  [contrato]="contrato.id || 0" (refresh)="refreshLancamentos()" (cancel)="cancelarCadLancamento()" />
            }

            @if(contrato){
              <table class="table table-hover table-head-fixed text-nowrap mt-1">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Mês de Referência</th>
                    <th>Valor</th>
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody>
                  @for(item of
                  contrato.contratos_lancamentos; track item){
                  <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.mes_referencia | date: 'MM/yyyy'}}</td>
                    <td>R$ {{ item.valor | mask: 'separator.2' }}</td>
                    <td>
                      
                        <i
                          class="fa fa-trash text-danger point"
                          aria-hidden="true"
                          (click)="rmvLancamento(item.id || 0)"
                        ></i>
                      
                    </td>
                  </tr>
                  }
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>R$ {{returnSumLancamentos() | mask: 'separator.2'}}</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL LANÇAMENTOS-->

    <!-- INICIO MODAL ADITIVAR-->
    <div
      class="modal fade"
      id="modaladitivar"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Aditivar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(contratoadt){
              <app-contratos-form-aditivar [contrato]="contratoadt"  (refresh)="refresh()"  />
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL ADITIVAR-->

  </div>
  