<form  [formGroup]="form" >
    <div class="row">
        <input-text class="col-sm-4" formControlName="nome" label="Nome" id="nome" tipo="text" />
    </div>
    <!--inicio permissos geral-->
    <div class="row" >

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="administrador" formControlName="administrador">
                <label class="form-check-label" for="administrador">Administrador</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="gestor" formControlName="gestor">
                <label class="form-check-label" for="gestor">Gestor</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="relatorios" formControlName="relatorios">
                <label class="form-check-label" for="relatorios">Relatórios</label>
            </div>
        </div>
    </div>
    <!--fim permissos geral-->

      <!--inicio permissoes armamentos-->
      <div class="row" >
        <h4>Armamentos</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos" formControlName="armamentos">
                <label class="form-check-label" for="armamentos">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos_cad" formControlName="armamentos_cad">
                <label class="form-check-label" for="armamentos_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos_edt" formControlName="armamentos_edt">
                <label class="form-check-label" for="armamentos_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos_del" formControlName="armamentos_del">
                <label class="form-check-label" for="armamentos_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes armamentos-->

    <!--inicio permissoes armamentos emprestimos-->
    <div class="row" >
        <h4>Armamentos Emprestimos</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos_emprestimos" formControlName="armamentos_emprestimos">
                <label class="form-check-label" for="armamentos_emprestimos">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos_emprestimos_cad" formControlName="armamentos_emprestimos_cad">
                <label class="form-check-label" for="armamentos_emprestimos_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos_emprestimos_edt" formControlName="armamentos_emprestimos_edt">
                <label class="form-check-label" for="armamentos_emprestimos_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="armamentos_emprestimos_del" formControlName="armamentos_emprestimos_del">
                <label class="form-check-label" for="armamentos_emprestimos_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes armamentos emprestimos-->

     <!--inicio permissoes contratos-->
     <div class="row" >
        <h4>Contratos</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="contratos" formControlName="contratos">
                <label class="form-check-label" for="contratos">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="contratos_cad" formControlName="contratos_cad">
                <label class="form-check-label" for="contratos_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="contratos_edt" formControlName="contratos_edt">
                <label class="form-check-label" for="contratos_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="contratos_del" formControlName="contratos_del">
                <label class="form-check-label" for="contratos_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes contratos-->

    <!--inicio permissoes empresas-->
    <div class="row" >
        <h4>Empresas</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="empresas" formControlName="empresas">
                <label class="form-check-label" for="empresas">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="empresas_cad" formControlName="empresas_cad">
                <label class="form-check-label" for="empresas_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="empresas_edt" formControlName="empresas_edt">
                <label class="form-check-label" for="empresas_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="empresas_del" formControlName="empresas_del">
                <label class="form-check-label" for="empresas_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes empresas-->

    <!--inicio permissoes materiais-->
    <div class="row" >
        <h4>Materiais</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais" formControlName="materiais">
                <label class="form-check-label" for="materiais">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_cad" formControlName="materiais_cad">
                <label class="form-check-label" for="materiais_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_edt" formControlName="materiais_edt">
                <label class="form-check-label" for="materiais_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_del" formControlName="materiais_del">
                <label class="form-check-label" for="materiais_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes materiais-->

     <!--inicio permissoes materiais policiais-->
     <div class="row" >
        <h4>Materiais Empréstimos</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_policiais" formControlName="materiais_policiais">
                <label class="form-check-label" for="materiais_policiais">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_policiais_cad" formControlName="materiais_policiais_cad">
                <label class="form-check-label" for="materiais_policiais_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_policiais_edt" formControlName="materiais_policiais_edt">
                <label class="form-check-label" for="materiais_policiais_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_policiais_del" formControlName="materiais_policiais_del">
                <label class="form-check-label" for="materiais_policiais_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes materiais policiais-->

    <!--inicio permissoes materiais consumo-->
    <div class="row" >
        <h4>Materiais Consumo</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo" formControlName="materiais_consumo">
                <label class="form-check-label" for="materiais_consumo">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_cad" formControlName="materiais_consumo_cad">
                <label class="form-check-label" for="materiais_consumo_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_edt" formControlName="materiais_consumo_edt">
                <label class="form-check-label" for="materiais_consumo_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_del" formControlName="materiais_consumo_del">
                <label class="form-check-label" for="materiais_consumo_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes materiais consumo-->

     <!--inicio permissoes materiais consumo entrada-->
     <div class="row" >
        <h4>Entrada de Materiais Consumo</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_entradas" formControlName="materiais_consumo_entradas">
                <label class="form-check-label" for="materiais_consumo_entradas">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_entradas_cad" formControlName="materiais_consumo_entradas_cad">
                <label class="form-check-label" for="materiais_consumo_entradas_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_entradas_edt" formControlName="materiais_consumo_entradas_edt">
                <label class="form-check-label" for="materiais_consumo_entradas_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_entradas_del" formControlName="materiais_consumo_entradas_del">
                <label class="form-check-label" for="materiais_consumo_entradas_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes materiais consumo entrada-->

    <!--inicio permissoes materiais consumo saida-->
    <div class="row" >
        <h4>Saída de Materiais Consumo</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_saidas" formControlName="materiais_consumo_saidas">
                <label class="form-check-label" for="materiais_consumo_saidas">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_saidas_cad" formControlName="materiais_consumo_saidas_cad">
                <label class="form-check-label" for="materiais_consumo_saidas_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_saidas_edt" formControlName="materiais_consumo_saidas_edt">
                <label class="form-check-label" for="materiais_consumo_saidas_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="materiais_consumo_saidas_del" formControlName="materiais_consumo_saidas_del">
                <label class="form-check-label" for="materiais_consumo_saidas_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes materiais consumo saida-->

     <!--inicio permissoes armamentos patrimonios-->
     <div class="row" >
        <h4>Patrimônios</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="patrimonios" formControlName="patrimonios">
                <label class="form-check-label" for="patrimonios">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="patrimonios_cad" formControlName="patrimonios_cad">
                <label class="form-check-label" for="patrimonios_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="patrimonios_edt" formControlName="patrimonios_edt">
                <label class="form-check-label" for="patrimonios_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="patrimonios_del" formControlName="patrimonios_del">
                <label class="form-check-label" for="patrimonios_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes patrimonios-->

     <!--inicio permissoes armamentos policiais-->
     <div class="row" >
        <h4>Policiais</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais" formControlName="policiais">
                <label class="form-check-label" for="policiais">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_cad" formControlName="policiais_cad">
                <label class="form-check-label" for="policiais_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_edt" formControlName="policiais_edt">
                <label class="form-check-label" for="policiais_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_del" formControlName="policiais_del">
                <label class="form-check-label" for="policiais_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes policiais-->

    <!--inicio permissoes policiais atestados-->
    <div class="row" >
        <h4>Policiais Atestados</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_atestados" formControlName="policiais_atestados">
                <label class="form-check-label" for="policiais_atestados">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_atestados_cad" formControlName="policiais_atestados_cad">
                <label class="form-check-label" for="policiais_atestados_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_atestados_edt" formControlName="policiais_atestados_edt">
                <label class="form-check-label" for="policiais_atestados_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_atestados_del" formControlName="policiais_atestados_del">
                <label class="form-check-label" for="policiais_atestados_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes policiais atestados-->

     <!--inicio permissoes policiais cursos-->
     <div class="row" >
        <h4>Policiais Cursos</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_cursos" formControlName="policiais_cursos">
                <label class="form-check-label" for="policiais_cursos">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_cursos_cad" formControlName="policiais_cursos_cad">
                <label class="form-check-label" for="policiais_cursos_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_cursos_edt" formControlName="policiais_cursos_edt">
                <label class="form-check-label" for="policiais_cursos_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_cursos_del" formControlName="policiais_cursos_del">
                <label class="form-check-label" for="policiais_cursos_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes policiais cursos-->

     <!--inicio permissoes armamentos policiais ferias-->
     <div class="row" >
        <h4>Policiais Férias</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_ferias" formControlName="policiais_ferias">
                <label class="form-check-label" for="policiais_ferias">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_ferias_cad" formControlName="policiais_ferias_cad">
                <label class="form-check-label" for="policiais_ferias_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_ferias_edt" formControlName="policiais_ferias_edt">
                <label class="form-check-label" for="policiais_ferias_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_ferias_del" formControlName="policiais_ferias_del">
                <label class="form-check-label" for="policiais_ferias_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes policiais ferias-->

    <!--inicio permissoes armamentos policiais publicacoes-->
    <div class="row" >
        <h4>Policiais Publicações</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_publicacoes" formControlName="policiais_publicacoes">
                <label class="form-check-label" for="policiais_publicacoes">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_publicacoes_cad" formControlName="policiais_publicacoes_cad">
                <label class="form-check-label" for="policiais_publicacoes_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_publicacoes_edt" formControlName="policiais_publicacoes_edt">
                <label class="form-check-label" for="policiais_publicacoes_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_publicacoes_del" formControlName="policiais_publicacoes_del">
                <label class="form-check-label" for="policiais_publicacoes_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes policiais publicacoes-->

    <!--inicio permissoes policiais requeridas-->
    <div class="row" >
        <h4>Policiais Requeridas</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_requeridas" formControlName="policiais_requeridas">
                <label class="form-check-label" for="policiais_requeridas">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_requeridas_cad" formControlName="policiais_requeridas_cad">
                <label class="form-check-label" for="policiais_requeridas_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_requeridas_edt" formControlName="policiais_requeridas_edt">
                <label class="form-check-label" for="policiais_requeridas_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="policiais_requeridas_del" formControlName="policiais_requeridas_del">
                <label class="form-check-label" for="policiais_requeridas_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes policiais requeridas-->

    <!--inicio permissoes armamentos servicos-->
    <div class="row" >
        <h4>Serviços</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="servicos" formControlName="servicos">
                <label class="form-check-label" for="servicos">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="servicos_cad" formControlName="servicos_cad">
                <label class="form-check-label" for="servicos_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="servicos_edt" formControlName="servicos_edt">
                <label class="form-check-label" for="servicos_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="servicos_del" formControlName="servicos_del">
                <label class="form-check-label" for="servicos_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes servicos-->

    <!--inicio permissoes armamentos usuarios-->
    <div class="row" >
        <h4>Usuários</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="usuarios" formControlName="usuarios">
                <label class="form-check-label" for="usuarios">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="usuarios_cad" formControlName="usuarios_cad">
                <label class="form-check-label" for="usuarios_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="usuarios_edt" formControlName="usuarios_edt">
                <label class="form-check-label" for="usuarios_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="usuarios_del" formControlName="usuarios_del">
                <label class="form-check-label" for="usuarios_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes usuarios-->

    <!--inicio permissoes veiculos-->
    <div class="row" >
        <h4>Veículos</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos" formControlName="veiculos">
                <label class="form-check-label" for="veiculos">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_cad" formControlName="veiculos_cad">
                <label class="form-check-label" for="veiculos_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_edt" formControlName="veiculos_edt">
                <label class="form-check-label" for="veiculos_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_del" formControlName="veiculos_del">
                <label class="form-check-label" for="veiculos_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes veiculos-->

     <!--inicio permissoes veiculos oficinas-->
     <div class="row" >
        <h4>Veículos Oficinas</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_oficinas" formControlName="veiculos_oficinas">
                <label class="form-check-label" for="veiculos_oficinas">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_oficinas_cad" formControlName="veiculos_oficinas_cad">
                <label class="form-check-label" for="veiculos_oficinas_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_oficinas_edt" formControlName="veiculos_oficinas_edt">
                <label class="form-check-label" for="veiculos_oficinas_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_oficinas_del" formControlName="veiculos_oficinas_del">
                <label class="form-check-label" for="veiculos_oficinas_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes veiculos oficinas-->

    <!--inicio permissoes veiculos policiais-->
    <div class="row" >
        <h4>Veículos Empréstimos</h4>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_policiais" formControlName="veiculos_policiais">
                <label class="form-check-label" for="veiculos_policiais">Visualizar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_policiais_cad" formControlName="veiculos_policiais_cad">
                <label class="form-check-label" for="veiculos_policiais_cad">Cadastrar</label>
            </div>
        </div>       
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_policiais_edt" formControlName="veiculos_policiais_edt">
                <label class="form-check-label" for="veiculos_policiais_edt">Editar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_policiais_del" formControlName="veiculos_policiais_del">
                <label class="form-check-label" for="veiculos_policiais_del">Excluir</label>
            </div>
        </div>
    </div>
    <!--fim permissoes veiculos policiais-->
    
    <div class="d-flex justify-content-end">
        <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
        <button [disabled]="form.invalid" type="button" (click)="cadastrar()" data-bs-dismiss="modal" class="btn btn-primary">Cadastrar</button>
    </div>
</form>