<div class="form-group">
    <label for="{{ id }}">
      {{ label }}
      <span *ngIf="control?.errors?.['required']" class="text-danger">*</span>
    </label>
      
    <div *ngIf="data$ | async as data">
      <ngx-select
        [items]="data"
        [(ngModel)]="inputvalor"
        (ngModelChange)="change()"
        [placeholder]="label"
        [allowClear]="allowclear"
        [optionValueField]="optionid"
        [optionTextField]="optionname"
        [multiple]="multiple"
      >
       
    </ngx-select>
      
      <div *ngIf="control?.invalid && (control?.dirty || control?.touched)">
        <span *ngIf="control?.errors?.['required']" class="text-danger"
          >{{ label }} é obrigatório</span
        >
      </div>
    </div>
  </div>