<form  [formGroup]="form" >
   
    <div class="row">
       
        <input-select
            class="col-sm-4"
            label="Policial"
            id="policial"
            [data$]="policiais$"
            formControlName="policial"
        />
        <input-text class="col-sm-2" formControlName="data" label="Data" id="data" tipo="date" />
        <input-text class="col-sm-2" formControlName="nup" label="NUP" id="nup" tipo="text" />
        <input-text class="col-sm-2" formControlName="boletim_entrada" label="Boletim Entrada" id="boletim_entrada" tipo="text" />
        <input-text class="col-sm-2" formControlName="boletim_publicacao" label="Boletim Publicação" id="boletim_publicacao" tipo="text" />
    </div>    
    
    <div class="d-flex justify-content-end">
        <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
        <button [disabled]="form.invalid" type="button" (click)="cadastrar()" data-bs-dismiss="modal" class="btn btn-primary">Cadastrar</button>
    </div>
</form>