<div class="page-header" style="text-align: center; margin-bottom: 10px" *ngIf="data$">
  <img src="{{url}}cabecalho.png" class="cabecalho" />
  <h3>
    <b>{{ data$.escala_modelo?.nome }} Nº {{ data$.codigo }}/{{
      data$.created_at | date: "yyyy"
      }}
      - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}</b>
  </h3>
  <h4>Para o dia {{ dataesc }}</h4>
</div>

<div class="page-footer" *ngIf="data$">
  <div class="row rodape2" *ngIf="user">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <p>
        {{ subunidade$.nome }} – {{ subunidade$.unidade.nome }}<br />
        {{ subunidade$.rua }}, {{ subunidade$.numero }} -
        {{ subunidade$.bairro }} | CEP:
        {{ subunidade$.cep | mask: "00.000-00" }}
        {{ subunidade$.cidade?.nome }} /
        {{ subunidade$.cidade?.estado.uf }} <br />
        Fones: {{ subunidade$.telefone1 | mask: "(00) 0000-0000" }} |
        E-mail: {{ subunidade$.email }}<br />
        <b>“Raça de Fortes, Povo de Bravos”</b>
      </p>
    </div>
    <div class="col-sm-3">
      <p>
        <b>Usuário:</b> {{ user.graduacao?.abreviatura }} {{ user.numeral }}
        {{ user.nome_guerra }}<br />
        <b>Data:</b> {{ date | date: "dd/MM/yyyy HH:mm" }}
      </p>
    </div>
  </div>
  <img src="{{url}}rodape.png" class="rodape" />
</div>

<table style="width: 100%; min-width: 100%" *ngIf="data$">
  <thead class="thead">
    <tr>
      <td>
        <!--place holder for the fixed-position header-->
        <div class="page-header-space"></div>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <!--*** CONTENT GOES HERE ***
        <div class="page">PAGE 1</div>
        <div class="page">PAGE 2</div>-->
        <div class="page">
          <!--INICIO TABLE MODALIDADE-->
          <div style="width: 100%; min-width: 100%">
            <div class="noprint text-center">
              <img src="{{url}}cabecalho.png" class="cabecalho " />
              <h3>
                <b>{{ data$.escala_modelo?.nome }} Nº {{ data$.codigo }}/{{
                  data$.created_at | date: "yyyy"
                  }}
                  - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}</b>
              </h3>
              <h4>Para o dia {{ dataesc }}</h4>
            </div>



            <table style="width: 100%; min-width: 100%; margin-bottom: 5px" class="table table-bordered"
              *ngFor="let data of data$.escala_modelo?.modalidades">
              <thead>
                <tr>
                  <th colspan="3" class="p-0 titlemodalidade">
                    {{ data.nome | uppercase }}
                  </th>
                </tr>
                <!--<tr class="titlemodalidade2">
                  <th class="p-0">
                   MODALIDADE
                  </th>-->
                  <tr class="titlemodalidade2">
                    <th class="p-0">
                      MODALIDADE
                     </th>
                  <th class="p-0" >
                    TURNO A (07h00 ÀS 19h00)
                   </th>
                   <th class="p-0" >
                    TURNO B (19h00 ÀS 07h00)
                   </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data2 of data.postos">
                  <td class="text-center coltable colposto">
                    <b>{{ data2.nome | uppercase }}</b>
                  </td>
                  <td *ngFor="let data3 of data2.turnos" class="coltable">
                    <!--<b>{{ data3.nome }} </b>
                    <span *ngIf="data3.hora_ini">({{ data3.hora_ini }} às
                      {{ data3.hora_fim }})</span>-->
                    <span style="float: right">
                      <button *ngIf="user.perfil.escalas_cad && !antiga" data-bs-toggle="modal"
                        data-bs-target="#modalusu" type="button" class="btn btn-xs btn-outline-primary noprint"
                        (click)="getTurno(data, data2, data3)">
                        <i class="nav-icon fas fa-plus"></i>
                      </button>
                    </span>

                    <ul style="margin-bottom: 0" class="list-unstyled">
                      <li *ngFor="
                          let data4 of filterUsus(
                            data$.usuarios,
                            data.pivot.modalidade_id,
                            data2.pivot.posto_id,
                            data3.pivot.turno_id
                          )
                        ">
                        <!--<del *ngIf="data4.pivot.ausente || data4.pivot.atestado || data4.pivot.dispensado">{{ data4.graduacao.abreviatura }}
                          {{ data4.numeral | mask: '00.000' }}
                          {{ data4.nome_guerra }}
                          ({{ data4.telefone1 }}) </del>
                        <span *ngIf="!data4.pivot.ausente && !data4.pivot.atestado && !data4.pivot.dispensado">{{ data4.graduacao.abreviatura }}
                          {{ data4.numeral | mask: '00.000' }}
                          {{ data4.nome_guerra }}
                          ({{ data4.telefone1 }})
                          <i *ngIf="data4.pivot.atrasado" class="nav-icon text-warning fas fa-clock"></i>
                          <i *ngIf="data4.pivot.faltou" class="nav-icon text-danger fa fa-times"></i>

                          <i *ngIf="data4.pivot.atestado" class="nav-icon text-success fa fa-medkit"></i>                        
                          <i *ngIf="data4.pivot.dispensado" class="nav-icon text-primary fa fa-sign-out"></i>                        
                        </span>-->


                       
                        <span >{{ data4.graduacao.abreviatura }}
                          {{ data4.numeral | mask: '00.000' }}
                          {{ data4.nome_guerra }}
                          ({{ data4.telefone1 }})
                          <i *ngIf="data4.pivot.atrasado" class="nav-icon text-warning fas fa-clock"></i>
                          <i *ngIf="data4.pivot.ausente" class="nav-icon text-danger fa fa-times"></i>

                          <i *ngIf="data4.pivot.atestado" class="nav-icon text-success fa fa-medkit"></i>                        
                          <i *ngIf="data4.pivot.dispensado" class="nav-icon text-primary fa fa-sign-out"></i>                        
                        </span>
                        <i *ngIf="!data4.pivot.ausente && !data4.pivot.atrasado && !data4.pivot.atestado && !data4.pivot.dispensado && user.perfil.oficial_dia && atual"
                        style="cursor: pointer; " (click)="ausente(data4)" data-bs-toggle="modal"
                        data-bs-target="#modalausente" class="noprint text-danger nav-icon fa fa-user-times"></i>
                       
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

           
          </div>
          <!--FIM TABLE MODALIDADE-->

          <!--INICIO MODAL USUARIOS-->
          <div class="modal fade" id="modalusu" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    Usuários
                    <button type="button" class="btn btn-outline-primary" (click)="getUsus()">
                      <i class="nav-icon fas fa-plus"></i>
                    </button>
                  </h4>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>

                <div class="modal-body" *ngIf="turno$">
                  <div class="card card-olive" *ngIf="cadusu">
                    <div class="card-header">
                      <h3 class="card-title">Cadastrar Usuário</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="usus">Usuário</label>
                            <ngx-select-dropdown [config]="config" [options]="usuarios$" [multiple]="true"
                              [(ngModel)]="usus">
                            </ngx-select-dropdown>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <button [disabled]="!usus[0]" style="margin-top: 30px" type="button" class="btn btn-success"
                            (click)="postUsuarios()">
                            Cadastrar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>GRAD</th>
                        <th>NUMERAL</th>
                        <th>NOME</th>
                        <th>MATRÍCULA</th>
                        <th>OPÇÕES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                          let data of filterUsus(
                            data$.usuarios,
                            modalidade_id,
                            posto_id,
                            turno_id
                          )
                        " class="hovers">
                        <td>{{ data.pivot.id }}</td>
                        <td>{{ data.graduacao.nome }}</td>
                        <td>{{ data.numeral | mask: "00.000" }}</td>
                        <td>{{ data.nome }}</td>
                        <td>
                          {{ data.matricula | mask: "000.000-0-A" }}
                        </td>
                        <td>
                          <span class="editdata">
                            <i (click)="deletarUsu(data)" class="right fas fa-trash text-danger point margin5"
                              data-toggle="tooltip" data-placement="top" title="Excluir"></i>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--FIM MODAL USUARIOS-->

          <!--INICIO MODAL AUSENTE-->
          <div class="modal fade" id="modalausente" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    Informar Ausente/Atraso

                  </h4>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <form [formGroup]="formcadfalta" (ngSubmit)="registrar()">
                  <div class="modal-body" *ngIf="ausente$">
                    <h3>O policial {{ausente$.nome}} está:</h3>

                    <div class="form-group row">
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" required formControlName="opcao" value="1" type="radio"
                            name="opcao">
                          <label class="form-check-label">Ausente</label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" required formControlName="opcao" value="2" type="radio"
                            name="opcao">
                          <label class="form-check-label">Atrasado</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-check">
                          <input class="form-check-input" required formControlName="opcao" value="3" type="radio"
                            name="opcao">
                          <label class="form-check-label">Apresentou Atestado Médico</label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" required formControlName="opcao" value="4" type="radio"
                            name="opcao">
                          <label class="form-check-label">Dispensado</label>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="formcadfalta.value.opcao == '3'" class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="afastamento_tipo_id"
                            >Tipo Afastamento<span class="text-danger">*</span></label
                          >
                          <select
                            formControlName="afastamento_tipo_id"
                            required
                            
                            class="custom-select form-control-border"
                            id="afastamento_tipo_id"
                          >
                            <option></option>
                            <option
                            *ngFor="let data of afastamentostipos$"
                            value="{{ data.id }}"
                            >
                            {{ data.nome }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="data">Data<span class="text-danger">*</span></label>
                          <input formControlName="data" type="date" class="form-control form-control-border"
                            id="data" placeholder="Data"  />
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="dias">Dias<span class="text-danger">*</span></label>
                          <input formControlName="dias" type="number" class="form-control form-control-border"
                            id="dias" placeholder="Dias"  />
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="cid">CID</label>
                          <input formControlName="cid" type="text" class="form-control form-control-border"
                            id="cid" placeholder="CID"  />
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                      Fechar
                    </button>
                    <button [disabled]="!formcadfalta.value.opcao || (formcadfalta.value.opcao == '3' && (!formcadfalta.value.data || !formcadfalta.value.dias || !formcadfalta.value.afastamento_tipo_id))" type="submit" class="btn btn-success"
                      data-bs-dismiss="modal">
                      Confirmar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--FIM MODAL AUSENTE-->
        </div>
        <!-- FIM PAGE 01 -->
        <!-- INICIO PAGE 02 -->
        <div class="page">
          
          <table class="table table-bordered" *ngIf="data$.escala_modelo?.administrativo">
            <thead>
              <tr>
                <th class="p-0 titlemodalidade">
                  ATIVIDADE DE APOIO (Horário 08h00 às 17h00)
                </th>
              </tr>
            </thead>
            <tbody>
              <div class="row" *ngFor="let data of setores$" style="width: 99.9%; margin-left: 0.8px;">
                <div class="col-sm-12 text-center p-0 titlemodalidade2" style="border:1px solid #dee2e6">
                  <b>{{ data.nome | uppercase }}</b>
                </div>
                <div class="col-sm-3 text-center p-0" style="border:1px solid #dee2e6"
                  *ngFor="let setuser of data.users">
                  <span *ngIf="setuser">
                    {{ setuser.graduacao?.abreviatura }}
                    {{ setuser.numeral | mask: '00.000' }}
                    {{ setuser.nome_guerra }}
                    ({{ setuser.telefone1 }})
                  </span>
                  <span *ngIf="!setuser">**************</span>
                </div>
              </div>
            </tbody>
          </table>
            <div class="row">
              <div class="col-sm-12 p-0 titlemodalidade"><b>RESUMO DO EFETIVO</b></div>
             
                <div *ngFor="let quant of turnos$" class="col-sm-3 text-center p-0"  style="border:1px solid #dee2e6"><b>{{quant.nome}}:</b> {{quant.quant}}</div>
                <div class="col-sm-3 text-center p-0"  style="border:1px solid #dee2e6"><b>EFETIVO DE APOIO:</b> {{quantadm$}}</div>
                <div class="col-sm-3 text-center p-0"  style="border:1px solid #dee2e6"><b>TOTAL:</b> {{quanttotal$}}</div>
              
              
            </div>
            <!--
            <div class="row">
              <div class="col-sm-12 p-0 titlemodalidade"><b>OBSERVAÇÕES PARA AS EQUIPES DE SERVIÇO</b></div>
              <div style="font-size: 10px;  " class="col-sm-12 obs" [innerHTML]="administracao$[0].observacoes_escala"></div>
            </div>-->

            <br /><br /><br /><br />
            <div class="row">
              <div class="col-sm-6 text-center" *ngIf="subunidade$ && subunidade$.comandante">
                <b>{{subunidade$.subcomandante.nome}}</b> - {{subunidade$.subcomandante.graduacao.abreviatura}}<br />
                Mat.: {{subunidade$.subcomandante.matricula | mask:'000.000-0-A'}}<br />
                SubComandante da {{subunidade$.nome}} - {{subunidade$.unidade.nome}}
              </div>
              <div class="col-sm-6 text-center" *ngIf="subunidade$ && subunidade$.comandante">
                <b>{{subunidade$.comandante.nome}}</b> - {{subunidade$.comandante.graduacao.abreviatura}}<br />
                Mat.: {{subunidade$.comandante.matricula | mask:'000.000-0-A'}}<br />
                Comandante da {{subunidade$.nome}} - {{subunidade$.unidade.nome}}
              </div>
            </div>
           
          
        </div>
        <!-- FIM PAGE 02 -->
      </td>
    </tr>
  </tbody>

  <tfoot class="tfoot">
    <tr>
      <td>
        <!--place holder for the fixed-position footer-->
        <div class="page-footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>