@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

   /*
  thead {
    position:fixed;
    left:0px;
    top:0px;
  }

  tfoot {
    position:fixed;
    left:0px;
    bottom:0px;
    margin-top:  160px;
  }margin-top:  250px;*/

  .corpo {
    
    padding-left: 100px;
    padding-right: 80px;
  
    text-align: justify;
  }

  .noprint{
    display: none;
  }
}

.body {
  height: 100%;
  min-height: 100%;

  width: 100%;
  min-width: 100%;

  overflow: hidden;
}

.cabecalho {
  width: 100%;
  min-width: 100%;

  height: 150px;
  min-height: 150px;

  padding-top: 20px;
}

  
.cabecalho2 {
  width: 100%;
  min-width: 100%;

  text-align: center;
}

.corpo {

  padding-left: 100px;
  padding-right: 80px;

  text-align: justify;

  margin-bottom: 300px;
}

.rodape {

  width: 100%;
  min-width: 100%;

  height: 120px;
  min-height: 120px;
}

.rodape2{
  
  font-size: 14PX;

  width: 100%;
  min-width: 100%;    
  text-align: center;    

  position: relative;
  top: 50px;
}

.rodape3{
  
  font-size: 14PX;  

  position: relative;
  top: 60px;
}



/* ------------------------------------------ */

.tablehead{
  background-color: slategrey;
}


.headth{
  font-size: 25px;
  color: white;
}

.postotitle{
  background-color: rgb(165, 172, 179);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: whitesmoke;

  min-width: 33%;
  width: 33%;
  max-width: 33%;
}

.turnord{
  min-width: 33%;
  width: 33%;
  max-width: 33%;
}