<div class="body" *ngIf="data$">
  <table>
    <thead class="theadfix">
      <img class="cabecalho" src="../../../assets/cabecalho.png" />
      <br /><br />
      <h3 class="cabecalho2">
        {{ data$.escala_modelo.nome }} Nº {{ data$.codigo }}/{{
          data$.created_at | date: "yyyy"
        }}
        - {{ data$.subunidade.abreviatura }}
      </h3>
      <h4 class="cabecalho2">Para o dia {{ dataesc }}</h4>
    </thead>
    <!--INICIO BODY-->
    <tbody>
      <div class="corpo">
        <br />

        <div class="row">
          <div
            class="col-sm-12"
            *ngFor="let data of data$.escala_modelo.modalidades"
          >
            <table class="table table-bordered">
              <thead class="tablehead">
                <tr
                  style="
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                  "
                >
                  <th colspan="3" class="headth">
                    {{ data.modalidade.nome | uppercase}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data2 of data.modalidade.postos">
                  <td class="postotitle">
                    {{ data2.posto.nome | uppercase}}
                  </td>
                 
                    <td class="turnord" *ngFor="let data3 of data2.posto.turnos">
                      <span style="width: 100%; min-width: 100%; text-align: center;">
                        {{ data3.turno.nome }} ({{ data3.turno.hora_ini }} às {{ data3.turno.hora_fim }})
                        <button
                          data-bs-toggle="modal"
                          data-bs-target="#modalusu"
                          type="button"
                          class="btn btn-xs btn-outline-primary noprint"
                          (click)="getTurno(data, data2, data3)"
                        >
                          <i class="nav-icon fas fa-plus"></i>
                        </button>
                      </span>
  
                      <ul class="list-unstyled">
                        <li
                          *ngFor="
                            let data4 of filterUsus(
                              data$.usuarios,
                              data.modalidade_id,
                              data2.posto_id,
                              data3.turno_id
                            )
                          "
                        >
                          {{ data4.user.graduacao.abreviatura }}
                          {{ data4.user.numeral }}
                          {{ data4.user.nome_guerra }}
                          ({{ data4.user.telefone1 }})
                        </li>
                      </ul>
                    </td>
                    
                 
                  
                  
                </tr>
              </tbody>
            </table>
          </div>

          <!--INICIO MODAL USUARIOS-->
          <div class="modal fade" id="modalusu" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    Usuários
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="getUsus()"
                    >
                      <i class="nav-icon fas fa-plus"></i>
                    </button>
                  </h4>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>

                <div class="modal-body" *ngIf="turno$">
                  <div class="card card-olive" *ngIf="cadusu">
                    <div class="card-header">
                      <h3 class="card-title">Cadastrar Usuário</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="usus">Usuário</label>
                            <ngx-select-dropdown
                              [config]="config"
                              [options]="usuarios$"
                              [multiple]="true"
                              [(ngModel)]="usus"
                            >
                            </ngx-select-dropdown>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <button
                            [disabled]="!usus[0]"
                            style="margin-top: 30px"
                            type="button"
                            class="btn btn-success"
                            (click)="postUsuarios()"
                          >
                            Cadastrar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>GRAD</th>
                        <th>NUMERAL</th>
                        <th>NOME</th>
                        <th>MATRÍCULA</th>
                        <th>OPÇÕES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let data of filterUsus(
                            data$.usuarios,
                            modalidade_id,
                            posto_id,
                            turno_id
                          )
                        "
                        class="hovers"
                      >
                        <td>{{ data.id }}</td>
                        <td>{{ data.user.graduacao.nome }}</td>
                        <td>{{ data.user.numeral | mask: "00.000" }}</td>
                        <td>{{ data.user.nome }}</td>
                        <td>
                          {{ data.user.matricula | mask: "000.000-0-0" }}
                        </td>
                        <td>
                          <span class="editdata">
                            <i
                              (click)="deletarUsu(data)"
                              class="right fas fa-trash text-danger point margin5"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Excluir"
                            ></i>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-bs-dismiss="modal"
                  >
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--FIM MODAL USUARIOS-->
        </div>
      </div>
    </tbody>
    <!--FIM BODY-->
    <tfoot class="tfootfix">
      <div class="row" *ngIf="user">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <p class="rodape2">
            {{ user.subunidade?.nome }} – {{ user.subunidade.unidade?.nome
            }}<br />
            {{ user.subunidade?.rua }}, {{ user.subunidade?.numero }} -
            {{ user.subunidade?.bairro }} | CEP:
            {{ user.subunidade?.cep | mask: "00.000-00" }}
            {{ user.subunidade.cidade?.nome }} /
            {{ user.subunidade.cidade?.estado.uf }} <br />
            Fones: {{ user.subunidade?.telefone1 | mask: "(00) 0000-0000" }} |
            E-mail: {{ user.subunidade?.email }}<br />
            <b>“Raça de Fortes, Povo de Bravos”</b>
          </p>
        </div>
        <div class="col-sm-3">
          <p class="rodape3">
            <b>Usuário:</b> {{ user.graduacao?.abreviatura }}
            {{ user.numeral }} {{ user.nome_guerra }}<br />
            <b>Data:</b> {{ date | date: "dd/MM/yyyy HH:mm" }}
          </p>
        </div>
      </div>

      <img class="rodape" src="../../../assets/rodape.png" />
    </tfoot>
  </table>
</div>
