<div
  class="page-header"
  style="text-align: center; "
  *ngIf="data$"
>
  <img src="assets/cabecalho.png" class="cabecalho" />
  <br />
  <h4>
    Empréstimo de Veículo Nº {{ data$.id }} -
    {{ data$.subunidade.abreviatura }}/{{
      data$.subunidade.unidade.abreviatura
    }}
  </h4>
</div>

<div class="page-footer" *ngIf="data$">
  <div class="row rodape2" *ngIf="user">
    <div class="col-sm-3 text-center">
      <!-- <qrcode
        [qrdata]="qrcod"
        [allowEmptyString]="true"
        [cssClass]="'center'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
        [scale]="1"
        [width]="120"
      ></qrcode> -->
    </div>
    <div class="col-sm-6 text-center">
      <p>
        {{ subunidade.nome }} – {{ subunidade.unidade.nome }}<br />
        {{ subunidade.rua }}, {{ subunidade.numero }} -
        {{ subunidade.bairro }} | CEP:
        @if(subunidade.cep){
        {{ subunidade.cep | mask: "00.000-00" }}
        }
        {{ subunidade.cidade?.nome }} /
        {{ subunidade.cidade?.estado?.abreviatura }} <br />
        @if(subunidade.telefone){
            Fones: {{ subunidade.telefone | mask: "(00) 0000-0000" }} 
        }   |
        E-mail: {{ subunidade.email }}<br />
        <b>“Raça de Fortes, Povo de Bravos”</b>
      </p>
    </div>
    <div class="col-sm-3">
      <p>
        <b>Usuário:</b> 
        @if(user.policial){
          {{ user.policial.graduacao.abreviatura }} {{ user.policial.nome_guerra }}
        }@else{
          {{ user.nome }}
        }<br />
        <b>Data:</b> {{ datahj | date: "dd/MM/yyyy HH:mm" }}
      </p>
    </div>
  </div>
  <img src="assets/rodape.png" class="rodape" />
</div>

<table style="width: 100%; min-width: 100%" *ngIf="data$">
  <thead class="thead">
    <tr>
      <td>
        <!--place holder for the fixed-position header-->
        <div class="page-header-space"></div>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <!--*** CONTENT GOES HERE ***
          <div class="page">PAGE 1</div>
          <div class="page">PAGE 2</div>-->
        <div class="page">
          <div class="noprint text-center">
            <img src="assets/cabecalho.png" class="cabecalho" />
            <h4 style="margin-top: 20px">
              Empréstimo de Veículo Nº {{ data$.id }} -
              {{ data$.subunidade.abreviatura }}/{{
                data$.subunidade.unidade.abreviatura
              }}
            </h4>
          </div>

          <h5 style="margin-top: 20px">Fortaleza - CE, {{ datahj | date: "dd/MM/yyyy" }}</h5>
         
            

          <div class="row mt-4">
            <div class="col-sm-5 offset-sm-1">
              <h4>Policial</h4>
              {{ data$.policial.graduacao.abreviatura }}
              @if(data$.policial.numeral){ {{ data$.policial.numeral | mask: "00.000" }} }
              {{ data$.policial.nome }}<br />
              <b>Mat.:</b> {{ data$.policial.matricula | mask: "000.000-0-A" }}
            
            </div>
            <div class="col-sm-5">
              <h4>Veículo</h4>

              {{ data$.veiculo.veiculo_tipo.nome }}
              {{ data$.veiculo.modelo.marca.nome }}
              {{ data$.veiculo.modelo.nome }}<br />
              
              
              <b>Placa:</b> {{ data$.veiculo.placa }}<br />
              @if(data$.veiculo.placa_especial){
                <b>Placa Especial:</b> {{ data$.veiculo.placa_especial }}<br />
              }
            </div>
          </div>
          
          <div class="row mt-3">
            <div class="col-sm-3 ">
              <div class="description-block border-right">
                <h5 class="description-header">{{ data$.data_inicial | date: "dd/MM/yyyy HH:mm" }}</h5>
                <span class="description-text">Data Empréstimo</span>
              </div>
            </div>
            <div class="col-sm-3 ">
              <div class="description-block border-right">
                <h5 class="description-header">{{ data$.km_inicial }}</h5>
                <span class="description-text">KM Inicial</span>
              </div>
            </div>
            <div class="col-sm-3 ">
              <div class="description-block border-right">
                <h5 class="description-header">{{ data$.data_final | date: "dd/MM/yyyy HH:mm" }}</h5>
                <span class="description-text">Data Devolução</span>
              </div>
            </div>
            <div class="col-sm-3 ">
              <div class="description-block border-right">
                <h5 class="description-header">{{ data$.km_final }}</h5>
                <span class="description-text">KM Final</span>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            @if(data$.cidade){
              <div class="col-sm-4">
                <b>Destino: </b> {{data$.cidade.nome}}, {{data$.cidade.estado.nome}}
              </div>
            }
        </div>
          

          <div style="margin-top: 30px" [innerHTML]="data$.observacoes"></div>
          <div style="margin-top: 30px" class="text-center">
            <b>{{ data$.policial.nome }}</b> - {{ data$.policial.graduacao.abreviatura
            }}<br />
            Mat.: {{ data$.policial.matricula | mask: "000.000-0-A" }}<br />
          </div>
        </div>
        <!-- FIM PAGE-->
      </td>
    </tr>
  </tbody>

  <tfoot class="tfoot">
    <tr>
      <td>
        <!--place holder for the fixed-position footer-->
        <div class="page-footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>