<div class="content-wrapper">
    <app-title titulo="Saída de Material de Consumo" />
  
    <!--INICIO SECTION content-->
    <section class="content">
      <!-- INICIO CARD-->
      <div class="card">
        <!-- INICIO CARD HEADER-->
        <div class="card-header border-0">
          <h3 class="card-title">
            @if(user.perfil.materiais_consumo_saidas_cad){
              <button
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalcad"
                title="Cadastrar"
                (click)="cadastrar()"
              >
                <i class="fa fa-plus"></i> Cadastrar
              </button>
            }
          </h3>
          <div class="card-tools">
            
          </div>
        </div>
        <!-- FIM CARD HEADER-->
        <!-- INICIO CARD BODY-->
        <div class="card-body table-responsive p-1">
          
          @if(data$ | async; as data){
            <!--INICIO TABLE-->
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover table-head-fixed text-nowrap"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Graduação</th>
                  <th>Numeral</th>
                  <th>Policial</th>
                  <th>Matrícula</th>
                  <th>Dt Saída</th>
                  <th>Materiais</th>
                  <th>Opções</th>
                </tr>
              </thead>
    
              <tbody>
                @for(row of data; track row){
                <tr class="optionshover2">
                  <td>{{ row.id }}</td>
                <!-- <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td> -->
                <td>@if(row.user.policial){{{ row.user.policial.graduacao.nome }}}</td>
                <td>
                  @if(row.user.policial){
                    @if(row.user.policial.numeral){
                      {{ row.user.policial.numeral | mask: '00.000'}}
                    }
                  }
                </td>
                <td>
                  @if(row.user.policial){{{ row.user.policial.nome_guerra}}}
                  @else{
                    {{ row.user.nome}}
                  }
                </td>
                <td>
                  @if(row.user.policial){{{ row.user.policial.matricula | mask : "000.000-0-A" }}}
                  @else{
                    {{ row.user.cpf | mask : "000.000.000-00" }}
                  }
                </td>
                <td>{{ row.data_saida | date : "dd/MM/yyyy HH:mm" }}</td>
                <td>
                  <button
                    (click)="showMat(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalmat"
                    class="btn btn-xs btn-outline-primary"
                  >
                  <i class="fa fa-eye" aria-hidden="true"></i> Ver Materiais
                  </button>
                </td>
                  <td class="options2">
                    @if(user.perfil.materiais_consumo_saidas_edt && checkDate(row)){
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-xs"
                          (click)="editar(row)"
                          data-bs-toggle="modal"
                          data-bs-target="#modalcad"
                          title="Editar"
                        >
                          Editar
                        </button>
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-hover dropdown-icon"
                          data-bs-toggle="dropdown"
                        >
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                          @if(user.perfil.materiais_consumo_saidas_del && checkDate(row)){
                            <a
                              class="dropdown-item point"
                              (click)="delete(row)"
                              data-bs-toggle="modal"
                              data-bs-target="#modaldel"
                              title="Excluir"
                              >Excluir</a
                            >
                          }
                        </div>
                      </div>
                    }
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <!--FIM TABLE-->
            }
        </div>
        <!-- FIM CARD BODY-->
      </div>
      <!--FIM CARD-->
    </section>
    <!--FIM SECTION content-->
  
    <!-- INICIO MODAL CADASTRO-->
    <div
      class="modal fade"
      id="modalcad"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Cadastrar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(cadastrando){
              <app-materiais-consumo-saidas-form (refresh)="refresh()" />
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL CADASTRO-->
  
    <!-- INICIO MODAL materiais-->
    <div
      class="modal fade"
      id="modalmat"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        @if(materialConsumoSaida){
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">
              Materiais
              @if(user.perfil.materiais_consumo_saidas_edt && checkDate(materialConsumoSaida)){
                <button
                  class="btn btn-outline-primary"
                  title="Cadastrar"
                  (click)="cadmaterial = true;"
                >
                  <i class="fa fa-plus"></i>
                </button>
              }
            </h4>
  
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
          <div class="modal-body">
            <!--INICIO TABLE-->
  
            @if(cadmaterial){
              <app-materiais-consumo-saidas-itens-form (refresh)="refreshMat()" (cancel)="cancelMat()" [material_consumo_saida_id]="materialConsumoSaida.id" />
            }
            <table class="table table-hover table-head-fixed text-nowrap">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tipo</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Serial</th>
                  <th>Quantidade</th>
                  <th>Opções</th>
                </tr>
              </thead>
              <tbody>
                @for(item of
                materialConsumoSaida.materiais_consumo_saidas_itens; track item){
                <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.material_consumo.material_consumo_tipo.nome}}</td>
                  <td>@if(item.material_consumo.modelo.marca){{{item.material_consumo.modelo.marca.nome}}}</td>
                  <td>{{item.material_consumo.modelo.nome}}</td>
                  <td>{{item.material_consumo.serial}}</td>
                  <td>{{item.quantidade}}</td>
                  <td>
                    @if(user.perfil.materiais_consumo_saidas_edt && checkDate(materialConsumoSaida)){
                      <i
                        class="fa fa-trash text-danger point"
                        aria-hidden="true"
                        (click)="rmvMaterial(item.id || 0)"
                      ></i>
                    }
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <!--FIM TABLE-->
          </div>
          
        </div>
      }
      </div>
    </div>
    <!--FIM MODAL ARMAMENTOS-->
  
    
    <!-- INICIO MODAL exclusao-->
    <div
      class="modal fade"
      id="modaldel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Excluir</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(excluir){ Tem certeza que deseja excluir:
            <b>{{ excluir.user.nome }}</b>
            <div class="d-flex justify-content-end">
              <a data-bs-dismiss="modal" class="btn btn-link text-primary"
                >Cancelar</a
              >
              <button
                type="button"
                (click)="confirm()"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Excluir
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL exclusao-->
  </div>
  