<div class="content-wrapper">
    <app-title titulo="Material de Consumo" />
    @if(materialconsumo){
      <!--INICIO SECTION content-->
      <section class="content" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body box-profile">
                  <!-- <div class="text-center">
                    <img
                      class="profile-user-img img-fluid img-circle"
                      src="assets/casamil.png"
                      alt="User profile picture"
                    />
                  </div> -->
                  <h3 class="profile-username text-center">
                    @if(materialconsumo.serial){
                      {{ materialconsumo.serial }}
                    }@else{
                      {{ materialconsumo.material_consumo_tipo.nome }}
                    }
                   
                  </h3>
                  <!-- <p class="text-muted text-center">
                    {{ material.modelo.marca.nome }} {{ material.modelo.nome }}
                  </p> -->
                  <ul class="list-group list-group-unbordered mb-3">
                    @if(materialconsumo.serial){
                    <li class="list-group-item">
                      <b>Tipo</b>
                      <a class="float-right">{{ materialconsumo.material_consumo_tipo.nome }}</a>
                    </li>
                    } 
                    <li class="list-group-item">
                      <b>Marca</b>
                      <a class="float-right">{{ materialconsumo.modelo.marca.nome }}</a>
                    </li>
                    <li class="list-group-item">
                      <b>Modelo</b>
                      <a class="float-right">{{ materialconsumo.modelo.nome }}</a>
                    </li>
                    
                    
                    @if(materialconsumo.data_baixa){ 
                      <li class="list-group-item">
                        <b>Data Baixa</b>
                        <a class="float-right">
                          {{materialconsumo.data_baixa | date: 'dd/MM/yyyy'}}
                        </a>
                      </li>
                    }
  
                    <li class="list-group-item">
                      <b>Subunidade</b>
                      <a class="float-right"
                        >{{ materialconsumo.subunidade.abreviatura }} -
                        {{ materialconsumo.subunidade.unidade.abreviatura }}</a
                      >
                    </li>
                  </ul>
                  <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                </div>
              </div>
            </div>
    
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        href="#informacoes"
                        data-bs-toggle="tab"
                        >Informações</a
                      >
                    </li>
                    @if(user.perfil.materiais_consumo_entradas){
                      <li class="nav-item">
                        <a class="nav-link" href="#entradas" data-bs-toggle="tab"
                          >Entradas</a
                        >
                      </li>
                      }
                    @if(user.perfil.materiais_consumo_saidas){
                    <li class="nav-item">
                      <a class="nav-link" href="#saidas" data-bs-toggle="tab"
                        >Saídas</a
                      >
                    </li>
                    }
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <!--INICIO TAB INFORMACOES-->
                    <div class="active tab-pane" id="informacoes">
                      <!--div inicio row-->
                      <div class="row">
                        <div class="col-sm-12">

                          <div class="row mt-2">
                            @if(materialconsumo.quantidade >= 0){
                              <div class="col-sm-3 ">
                                <div class="description-block border-right">
                                  <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                  <h5 class="description-header">{{ materialconsumo.quantidade }}</h5>
                                  <span class="description-text">Quantidade</span>
                                </div>
                              </div>
                            }
                            @if(materialconsumo.quantidade_alerta >= 0){
                              <div class="col-sm-3">
                                <div class="description-block border-right">
                                  <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                  <h5 class="description-header">{{ materialconsumo.quantidade_alerta  }}</h5>
                                  <span class="description-text">Quantidade alerta</span>
                                </div>
                              </div>
                            }
                            @if(materialconsumo.data_validade){
                              <div class="col-sm-3">
                                <div class="description-block border-right">
                                  <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                  <h5 class="description-header">{{ materialconsumo.data_validade | date: 'dd/MM/yyyy'  }}</h5>
                                  <span class="description-text">Data Validade</span>
                                </div>
                              </div>
                            }
                          </div> 
                        </div>
                      </div>
                      @if(materialconsumo.observacoes){
                        <h5 class="mt-4">Observações</h5>
                        <div [innerHTML]="materialconsumo.observacoes"></div>
                      }
                      <!--div fim row-->
                    </div>
                    <!--FIM TAB INFORMACOES-->
                    @if(user.perfil.materiais_consumo_entradas){
                      <!--INICIO TAB ENTRADAS-->
                      <div class="tab-pane" id="entradas">
                        <!-- -------------------------------------------- -->
                        <table
                          [mfData]="materialconsumo.materiais_consumo_entradas_itens"
                          #entradas="mfDataTable"
                          [mfRowsOnPage]="10"
                          [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                          class="table table-hover table-head-fixed text-wrap"
                        >
                          <thead>
                            <tr>
                              <th>
                                <mfDefaultSorter by="id"
                                  >#</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="material_consumo_entrada.user.policial.graduacao.abreviatura"
                                  >Graduação</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="material_consumo_entrada.user.policial.numeral"
                                  >Numeral</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="material_consumo_entrada.user.policial.nome_guerra"
                                  >Nome Guerra</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="material_consumo_entrada.user.policial.matricula"
                                  >Matrícula</mfDefaultSorter
                                >
                              </th>
                              <th>
                                <mfDefaultSorter by="material_consumo_entrada.data_entrada"
                                  >Data Entrada</mfDefaultSorter
                                >
                              </th>
                              
                              <th>
                                <mfDefaultSorter by="quantidade"
                                  >Quantidade</mfDefaultSorter
                                >
                              </th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            @for(row of entradas.data; track row){
                            <tr data-widget="expandable-table" aria-expanded="false">
                              <td>{{ row.material_consumo_entrada.id }}</td>
                              <td>
                                @if(row.material_consumo_entrada.user.policial){
                                  {{ row.material_consumo_entrada.user.policial.graduacao.abreviatura }}
                                }
                              </td>
                              <td>
                                @if(row.material_consumo_entrada.user.policial){
                                  {{ row.material_consumo_entrada.user.policial.numeral | mask: '00.000' }}
                                }
                              </td>
                              <td>
                                @if(row.material_consumo_entrada.user.policial){
                                  {{ row.material_consumo_entrada.user.policial.nome_guerra }}
                                }@else{
                                  {{ row.material_consumo_entrada.user.nome }}
                                }
                              </td>
                              <td>
                                @if(row.material_consumo_entrada.user.policial){
                                  {{ row.material_consumo_entrada.user.policial.matricula | mask: '000.000-0-A'}}
                                }@else{
                                  {{ row.material_consumo_entrada.user.cpf | mask: '000.000.000-00' }}
                                }
                              </td>
                              <td>
                                {{ row.material_consumo_entrada.data_entrada | date : "dd/MM/yyyy HH:mm" }}
                              </td>
                              <td>{{ row.quantidade }}</td>
                            </tr>
                            <tr class="expandable-body d-none">
                                
                              <td colspan="9">
                                @if(row.material_consumo_entrada.observacoes){<div
                                  style="display: none"
                                  [innerHTML]="row.material_consumo_entrada.observacoes"
                                ></div>}
                              </td>
                            </tr>
                            }
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="100%">
                                <div
                                  style="
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <mfBootstrapPaginator></mfBootstrapPaginator>
                                </div>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                        <!--------------------------------------------------->
                      </div>
                      <!--FIM TAB ENTRADAS-->
                      } 
                      @if(user.perfil.materiais_consumo_saidas){
                        <!--INICIO TAB SAIDAS-->
                        <div class="tab-pane" id="saidas">
                          <!-- -------------------------------------------- -->
                          <table
                            [mfData]="materialconsumo.materiais_consumo_saidas_itens"
                            #saidas="mfDataTable"
                            [mfRowsOnPage]="10"
                            [mfSortBy]="'id'" [mfSortOrder]="'desc'"
                            class="table table-hover table-head-fixed text-wrap"
                          >
                            <thead>
                              <tr>
                                <th>
                                  <mfDefaultSorter by="id"
                                    >#</mfDefaultSorter
                                  >
                                </th>
                                <th>
                                  <mfDefaultSorter by="material_consumo_saida.user.policial.graduacao.abreviatura"
                                    >Graduação</mfDefaultSorter
                                  >
                                </th>
                                <th>
                                  <mfDefaultSorter by="material_consumo_saida.user.policial.numeral"
                                    >Numeral</mfDefaultSorter
                                  >
                                </th>
                                <th>
                                  <mfDefaultSorter by="material_consumo_saida.user.policial.nome_guerra"
                                    >Nome Guerra</mfDefaultSorter
                                  >
                                </th>
                                <th>
                                  <mfDefaultSorter by="material_consumo_saida.user.policial.matricula"
                                    >Matrícula</mfDefaultSorter
                                  >
                                </th>
                                <th>
                                  <mfDefaultSorter by="material_consumo_saida.data_saida"
                                    >Data Saída</mfDefaultSorter
                                  >
                                </th>
                                
                                <th>
                                  <mfDefaultSorter by="quantidade"
                                    >Quantidade</mfDefaultSorter
                                  >
                                </th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              @for(row of saidas.data; track row){
                              <tr data-widget="expandable-table" aria-expanded="false">
                                <td>{{ row.material_consumo_saida.id }}</td>
                                <td>
                                  @if(row.material_consumo_saida.user.policial){
                                    {{ row.material_consumo_saida.user.policial.graduacao.abreviatura }}
                                  }
                                </td>
                                <td>
                                  @if(row.material_consumo_saida.user.policial){
                                    {{ row.material_consumo_saida.user.policial.numeral | mask: '00.000' }}
                                  }
                                </td>
                                <td>
                                  @if(row.material_consumo_saida.user.policial){
                                    {{ row.material_consumo_saida.user.policial.nome_guerra }}
                                  }@else{
                                    {{ row.material_consumo_saida.user.nome }}
                                  }
                                </td>
                                <td>
                                  @if(row.material_consumo_saida.user.policial){
                                    {{ row.material_consumo_saida.user.policial.matricula | mask: '000.000-0-A'}}
                                  }@else{
                                    {{ row.material_consumo_saida.user.cpf | mask: '000.000.000-00' }}
                                  }
                                </td>
                                <td>
                                  {{ row.material_consumo_saida.data_saida | date : "dd/MM/yyyy HH:mm" }}
                                </td>
                                <td>{{ row.quantidade }}</td>
                              </tr>
                              <tr class="expandable-body d-none">
                                  
                                <td colspan="9">
                                  @if(row.material_consumo_saida.observacoes){<div
                                    style="display: none"
                                    [innerHTML]="row.material_consumo_saida.observacoes"
                                  ></div>}
                                </td>
                              </tr>
                              }
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="100%">
                                  <div
                                    style="
                                      display: flex;
                                      align-items: center;
                                      justify-content: center;
                                    "
                                  >
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                  </div>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                          <!--------------------------------------------------->
                        </div>
                        <!--FIM TAB ENTRADAS-->
                        } 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--FIM SECTION content-->
    }
  </div>
  