<div class="page-header" style="text-align: center; margin-bottom: 10px;" *ngIf="data$">
    <img src="assets/cabecalho.png" class="cabecalho" />
    <br />
    <h4>
      Empréstimo de Material Nº {{ data$.id }}
      - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}
    </h4>
  </div>
  
  <div class="page-footer" *ngIf="data$">
    <div class="row rodape2 " *ngIf="user" >
      <div class="col-sm-3 text-center">
        <qrcode
          [qrdata]="qrcod"
          [allowEmptyString]="true"
          [cssClass]="'center'"
          [elementType]="'canvas'"
          [errorCorrectionLevel]="'M'"
          [scale]="1"
          [width]="120"
        ></qrcode>
      </div>
      <div class="col-sm-6 text-center">
        <p>
          {{ user.subunidade?.nome }} – {{ user.subunidade.unidade?.nome
          }}<br />
          {{ user.subunidade?.rua }}, {{ user.subunidade?.numero }} -
          {{ user.subunidade?.bairro }} | CEP:
          {{ user.subunidade?.cep | mask: "00.000-00" }}
          {{ user.subunidade.cidade?.nome }} /
          {{ user.subunidade.cidade?.estado.uf }} <br />
          Fones: {{ user.subunidade?.telefone1 | mask: "(00) 0000-0000" }} |
          E-mail: {{ user.subunidade?.email }}<br />
          <b>“Raça de Fortes, Povo de Bravos”</b>
        </p>
      </div>
      <div class="col-sm-3">
        <p>
          <b>Usuário:</b> {{ user.graduacao?.abreviatura }} {{ user.numeral }}
          {{ user.nome_guerra }}<br />
          <b>Data:</b> {{ date | date: "dd/MM/yyyy HH:mm" }}
        </p>
      </div>
    </div>
    <img src="assets/rodape.png" class="rodape" />
  </div>
  
  <table style="width: 100%; min-width: 100%;" *ngIf="data$">
  
    <thead class="thead">
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="page-header-space">
            
          </div>
        </td>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td>
          <!--*** CONTENT GOES HERE ***
          <div class="page">PAGE 1</div>
          <div class="page">PAGE 2</div>-->
          <div class="page" >
            <div class="noprint text-center">
              <img src="assets/cabecalho.png" class="cabecalho" />
              <h4 style="margin-top: 30px;">
                Empréstimo de Material Nº {{ data$.id }}
      - {{ data$.subunidade.abreviatura }}/{{ data$.subunidade.unidade?.abreviatura }}
              </h4>
            </div>            
            <h5 style="margin-top: 30px;">
              Fortaleza - CE, {{ datahj }}
            </h5>
            
            <div class="row">
              <div class="col-sm-3">
                <b>Graduação:</b> {{data$.usuario.graduacao.nome}}
              </div>
              <div class="col-sm-2" *ngIf="data$.usuario.numeral">
                <b>Numeral:</b> {{data$.usuario.numeral | mask: '00.000'}}
              </div>
              <div class="col-sm-6">
                  <b>Usuário:</b> {{data$.usuario.nome}}
              </div>
              <div class="col-sm-3">
                  <b>Matrícula:</b> {{data$.usuario.matricula | mask: '000.000-0-A'}}
              </div>              
          </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>Data Empréstimo:</b> {{data$.data_emp | date:'dd/MM/yyyy'}}
                </div>
                <div class="col-sm-3">
                    <b>Hora Empréstimo:</b> {{data$.hora_emp}}
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>Data Devolução:</b> {{data$.data_dev | date:'dd/MM/yyyy'}}
                </div>
                <div class="col-sm-3">
                    <b>Hora Devolução:</b> {{data$.hora_dev}}
                </div>  
                <div class="col-sm-3">
                  <span *ngIf="data$.danificado"><b>Danificado:</b> Sim</span>
                  <span *ngIf="data$.extraviado"><b>Extraviado:</b> Sim</span>
              </div>                
            </div>

            <div class="row" style="margin-top: 30px">
              <div class="col-sm-12">
                <table  class="table table-hover table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>TIPO</th>
                      <th>MARCA</th>
                      <th>MODELO</th>
                      <th>SERIAL</th>
                      <th>QUANTIDADE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mat of data$.materiais; index as i" class="hovers">
                      <td> {{ mat.material_tipo.nome }}</td>
                      <td>{{ mat.marca.nome }}</td>
                      <td>{{ mat.modelo.nome }}</td>
                      <td>{{ mat.serial }}</td>
                      <td>{{ mat.pivot.quant }}</td>
                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


            <div style="margin-top: 40px;" [innerHTML]="data$.observacoes"></div>
            <div style="margin-top: 60px;" class="text-center" >
              <b>{{data$.usuario.nome}}</b><br />
              Mat.: {{data$.usuario.matricula | mask:'000.000-0-A'}}<br />
              
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  
    <tfoot class="tfoot">
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space">
            
            
          </div>
        </td>
      </tr>
    </tfoot>
  
  </table>
  
