<div class="content-wrapper">
    <app-title titulo="Empresas" />
  
    <!--INICIO SECTION content-->
    <section class="content">
      <!-- INICIO CARD-->
      <div class="card">
        <!-- INICIO CARD HEADER-->
        <div class="card-header border-0">
          <h3 class="card-title">
            <button
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalcad"
              title="Cadastrar"
            >
              <i class="fa fa-plus"></i>
            </button>
          </h3>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 250px">
              <select style="width: 50px"  class="form-control float-right" [(ngModel)]="quant">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
             
              <input
              style="width: 200px"
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Pesquisar..."
                [(ngModel)]="pesquisa"
                (ngModelChange)="pesquisar()"
              />
             
            </div>
          </div>
        </div>
        <!-- FIM CARD HEADER-->
        <!-- INICIO CARD BODY-->
        <div class="card-body table-responsive p-1">
          <!-- INICIO TABLE-->
          <table
            [mfData]="data$"
            #mf="mfDataTable"
            [mfRowsOnPage]="quant"
            class="table table-hover table-head-fixed text-nowrap"
          >
            <thead>
              <tr>
                <th><mfDefaultSorter  by="id">#</mfDefaultSorter></th>
                <th><mfDefaultSorter by="subunidade.abreviatura">Subunidade</mfDefaultSorter></th>
                <th><mfDefaultSorter by="nome">Nome</mfDefaultSorter></th>
                <th><mfDefaultSorter by="nome_fantasia">Nome Fantasia</mfDefaultSorter></th>
                <th><mfDefaultSorter by="cnpj">CNPJ</mfDefaultSorter></th>
                <th><mfDefaultSorter by="telefone1">Telefone 1</mfDefaultSorter></th>
                <th>Opções</th>
              </tr>
            </thead>
            @if(data$){
            <tbody>
              @for(row of mf.data; track row){
              <tr class="optionshover">
                <td>{{ row.id }}</td>
                <td>{{ row.subunidade.abreviatura }}</td>
                <td>{{ row.nome }}</td>
                <td>{{ row.nome_fantasia }}</td>
                <td>{{ row.cnpj | mask: '00.000.000/0000-00' }}</td>
                <td>{{ row.telefone1 | mask:'(00) 00000-0000' }}</td>
                <td>
                  <a
                    class="options point"
                    title="Editar"
                    (click)="editar(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalcad"
                  >
                    <i class="fa fa-edit text-primary" aria-hidden="true"></i>
                  </a>
                  <a
                    class="options point"
                    title="Excluir"
                    (click)="delete(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modaldel"
                  >
                    <i
                      class="fa fa-trash text-danger ml-1"
                      aria-hidden="true"
                    ></i>
                  </a>
                </td>
              </tr>
              } @empty {
              <tr>
                <td colspan="100%">Sem informação</td>
              </tr>
              }
            </tbody>
            }
            <tfoot>
              <tr>
                <td colspan="100%">
                  <div style="display: flex; align-items: center; justify-content: center;">
                    <mfBootstrapPaginator
                  ></mfBootstrapPaginator>
                  </div>
                 
                </td>
              </tr>
            </tfoot>
          </table>
          <!-- FIM TABLE-->
        </div>
        <!-- FIM CARD BODY-->
      </div>
      <!--FIM CARD-->
    </section>
    <!--FIM SECTION content-->
  
    <!-- INICIO MODAL CADASTRO-->
    <div
      class="modal fade"
      id="modalcad"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Cadastrar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <app-empresas-form (refresh)="refresh()" />
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL CADASTRO-->
  
    <!-- INICIO MODAL exclusao-->
    <div
      class="modal fade"
      id="modaldel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Excluir</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(excluir){ Tem certeza que deseja excluir:
            <b>{{ excluir.nome }}</b>
            <div class="d-flex justify-content-end">
              <a data-bs-dismiss="modal" class="btn btn-link text-primary"
                >Cancelar</a
              >
              <button
                type="button"
                (click)="confirm()"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Excluir
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL exclusao-->
  </div>
  