<!--<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>-->
<!--INICIO CONTENT WRAPPER-->
<div class="content-wrapper" *ngIf="user" style="min-height: 1604.44px">
    <!--INICIO SECTION HEADER-->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Emprestimos de Material</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a [routerLink]="['/Inicio']">Início</a>
              </li>
              <li class="breadcrumb-item active">Emprestimos de Material</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--FIM SECTION HEADER-->
    <!--INICIO SECTION TABELA-->
    <section class="content">
      <!--INICIO CARD-->
      <div class="card card-outline card-orange">
        <!--INICIO HEADER CARD-->
        <div class="card-header">
          <div class="row">
            <div class="col-sm-1">
              <button *ngIf="user.perfil.materiais_emprestimos_cad" data-bs-toggle="modal" data-bs-target="#modalcad" type="button"
                class="btn btn-block btn-outline-primary" (click)="formcad.reset()">
                <i class="nav-icon fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!--FIM HEADER CARD-->
        <!--INICIO BODY CARD-->
        <div class="card-body" style="overflow-x: scroll;">
          <!--INICIO TABLE CARD-->
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-hover table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>MARCA/MODELO</th>
                <th>MATERIAL</th>
                <th>USUÁRIO</th>
                <th>DATA SAÍDA</th>
                <th>HORA SAÍDA</th>
                <th>DATA CHEGADA</th>
                <th>HORA CHEGADA</th>
                <th>OPÇÕES</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of data$" class="hovers">
                <td>{{ data.id }}</td>
                <td>{{ data.material.marca.nome }}/{{ data.material.modelo.nome }}</td>
                <td>{{ data.material.serial }}</td>
                <td><a [routerLink]="['/Usuario', data.usuario?.id]">{{ data.usuario?.nome }}</a></td>
                <td>{{ data.data_saida | date: 'dd/MM/yyyy' }}</td>
                <td>{{ data.hora_saida }}</td>
                <td>{{ data.data_chegada | date: 'dd/MM/yyyy' }}</td>
                <td>{{ data.hora_chegada }}</td>
                <td>
                  <span class="editdata">
                    <a *ngIf="data.data_chegada" target="_blank" [routerLink]="['/Emprestimo-Material', data.id]"><i   
                      class="right fa fa-print text-primary point" data-toggle="tooltip" data-placement="top"
                      title="Imprimir"></i></a>
                    <i *ngIf="!data.data_chegada" (click)="receber(data)" data-bs-toggle="modal" data-bs-target="#modalreceb"
                      class="right fa fa-download text-primary point" data-toggle="tooltip" data-placement="top"
                      title="Receber Veículo"></i>
                    <i *ngIf="user.perfil.materiais_emprestimos_edt && !data.data_chegada" (click)="editar(data)" data-bs-toggle="modal"
                      data-bs-target="#modalcad" class="right fas fa-edit text-primary point margin5"
                      data-toggle="tooltip" data-placement="top" title="Editar"></i>
                    <i *ngIf="user.perfil.materiais_emprestimos_del" (click)="deletar(data)" data-bs-toggle="modal"
                      data-bs-target="#modaldel" class="right fas fa-trash text-danger point margin5"
                      data-toggle="tooltip" data-placement="top" title="Excluir"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <!--FIM TABLE CARD-->
        </div>
        <!--FIM BODY CARD-->
      </div>
      <!--FIM CARD-->
  
      <!--INICIO MODAL CADASTRO-->
      <div class="modal fade" id="modalcad" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cadastrar</h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!--FORM CADASTRO-->
            <form [formGroup]="formcad" (ngSubmit)="salvar()">
              <div class="modal-body">
                <!--INICIO ROW 1-->
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="material">Material<span class="text-danger">*</span></label>
                      <ngx-select-dropdown [config]="config" [options]="materiais$" formControlName="material" required>
                      </ngx-select-dropdown>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="user">Usuário<span class="text-danger">*</span></label>
                      <ngx-select-dropdown [config]="config2" [options]="usuarios$" formControlName="user" required>
                      </ngx-select-dropdown>
                    </div>
                  </div>
  
  
                </div>
                <!--FIM ROW 1-->
  
                <!--INICIO ROW 2-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="observacoes">Observações</label>
                      <angular-editor formControlName="observacoes" id="observacoes" [config]="editorConfig">
                      </angular-editor>
                    </div>
                  </div>
                </div>
                <!--FIM ROW 2-->
  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                  Cancelar
                </button>
                <button [disabled]="!formcad.valid" data-bs-dismiss="modal" type="submit" class="btn btn-success">
                  Salvar
                </button>
              </div>
            </form>
            <!--FIM FORM CADASTRO-->
          </div>
        </div>
      </div>
      <!--FIM MODAL CADASTRO-->
  
      <!--INICIO MODAL DELETE-->
      <div class="modal fade" id="modaldel" aria-modal="true" role="dialog">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Excluir</h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
  
            <div class="modal-body">
              <p>Tem certeza que deseja excluir o emprestimo <b>{{excluir$?.material.serial}}</b>?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                Cancelar
              </button>
              <button (click)="confirm()" data-bs-dismiss="modal" type="button" class="btn btn-danger">
                Excluir
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--FIM MODAL DELETE-->
  
      <!--INICIO MODAL RECEBER-->
      <div class="modal fade" id="modalreceb" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cadastrar</h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!--FORM RECEBER-->
            <form [formGroup]="formcad2" (ngSubmit)="salvarreceber()">
              <div class="modal-body">
                <!--INICIO ROW 2-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="observacoes">Observações</label>
                      <angular-editor formControlName="observacoes" id="observacoes" [config]="editorConfig">
                      </angular-editor>
                    </div>
                  </div>
                </div>
                <!--FIM ROW 2-->
  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                  Cancelar
                </button>
                <button [disabled]="!formcad2.valid" data-bs-dismiss="modal" type="submit" class="btn btn-success">
                  Salvar
                </button>
              </div>
            </form>
            <!--FIM FORM RECEBER-->
          </div>
        </div>
      </div>
      <!--FIM MODAL RECEBER-->
    </section>
    <!--FIM SECTION TABELA-->
  </div>
  <!--FIM CONTENT WRAPPER-->
  <!--<app-footer></app-footer>
      </div>-->