<div class="content-wrapper">
  <app-title titulo="Veículo" />

  @if(veiculo){
    <!--INICIO SECTION content-->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body box-profile">
                <div class="text-center">
                  <!-- <img
                    class="profile-user-img img-fluid img-circle"
                    src="assets/casamil.png"
                    alt="User profile picture"
                  /> -->
                  @if(veiculo.nao_disponivel){
                    <i class="fa fa-ban fa-2x text-danger" title="Não disponível" aria-hidden="true"></i>
                  }
                </div> 
                <h3 class="profile-username text-center">{{ veiculo.placa }}</h3>
                <!-- <p class="text-muted text-center">
                  {{ veiculo.modelo.marca.nome }} {{ veiculo.modelo.nome }}
                </p> -->
                <ul class="list-group list-group-unbordered mb-3">
                  @if(veiculo.veiculo_tipo){
                  <li class="list-group-item">
                    <b>Tipo</b>
                    <a class="float-right">{{ veiculo.veiculo_tipo.nome }}</a>
                  </li>
                  } 
                  <li class="list-group-item">
                    <b>Marca</b>
                    <a class="float-right">{{ veiculo.modelo.marca.nome }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Modelo</b>
                    <a class="float-right">{{ veiculo.modelo.nome }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Placa Especial</b>
                    <a class="float-right">
                      @if(veiculo.placa_especial){
                        {{ veiculo.placa_especial }}
                      }@else{
                        Não possui
                      }
                    </a>
                  </li>
                  @if(veiculo.chassi){
                  <li class="list-group-item">
                    <b>Chassi</b>
                    <a class="float-right">{{ veiculo.chassi }}</a>
                  </li>
                  } @if(veiculo.renavam){
                  <li class="list-group-item">
                    <b>Renavam</b>
                    <a class="float-right">{{ veiculo.renavam }}</a>
                  </li>
                  } @if(veiculo.ano){
                  <li class="list-group-item">
                    <b>Ano</b>
                    <a class="float-right">{{ veiculo.ano }}</a>
                  </li>
                  } @if(veiculo.cor){
                  <li class="list-group-item">
                    <b>Cor</b>
                    <a class="float-right">{{ veiculo.cor.nome }}</a>
                  </li>
                  }

                  <li class="list-group-item">
                    <b>Proprietário</b>
                    <a class="float-right">
                      @if(veiculo.organico){ Orgânico }@else{ Locado }
                    </a>
                  </li>
                  <li class="list-group-item">
                    <b>Blindado</b>
                    <a class="float-right">
                      @if(veiculo.blindado){ Sim }@else{ Não }
                    </a>
                  </li>
                  @if(veiculo.data_baixa){ 
                    <li class="list-group-item">
                      <b>Data Baixa</b>
                      <a class="float-right">
                        {{veiculo.data_baixa | date: 'dd/MM/yyyy'}}
                      </a>
                    </li>
                  }

                  <li class="list-group-item">
                    <b>Subunidade</b>
                    <a class="float-right"
                      >{{ veiculo.subunidade.abreviatura }} -
                      {{ veiculo.subunidade.unidade.abreviatura }}</a
                    >
                  </li>
                </ul>
                <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="#informacoes"
                      data-bs-toggle="tab"
                      >Informações</a
                    >
                  </li>
                  @if(user.perfil.veiculos_policiais){
                  <li class="nav-item">
                    <a class="nav-link" href="#emprestimos" data-bs-toggle="tab"
                      >Empréstimos</a
                    >
                  </li>
                  }@if(user.perfil.veiculos_oficinas){
                  <li class="nav-item">
                    <a class="nav-link" href="#manutencoes" data-bs-toggle="tab"
                      >Manutenções</a
                    >
                  </li>
                  }
                </ul>
              </div>
              <div class="card-body table-responsive p-2">
                <div class="tab-content">
                  <!--INICIO TAB INFORMACOES-->
                  <div class="active tab-pane" id="informacoes">
                    <!--div inicio row-->
                    <div class="row">
                      <div class="col-sm-12">


                        <div class="row mt-2">
                          @if(veiculo.km_inicial >= 0){
                            <div class="col-sm-3 offset-sm-3">
                              <div class="description-block border-right">
                                <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                <h5 class="description-header">{{ veiculo.km_inicial }}</h5>
                                <span class="description-text">KM Inicial</span>
                              </div>
                            </div>
                          }
                          @if(veiculo.km_atual >= 0){
                            <div class="col-sm-2">
                              <div class="description-block border-right">
                                <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                <h5 class="description-header">{{ veiculo.km_atual }}</h5>
                                <span class="description-text">KM Atual</span>
                              </div>
                            </div>
                          }
                        </div> 
                        <div class="row">
                          @if(veiculo.km_troca_oleo ){
                            <div class="col-sm-2 offset-sm-3">
                              <div class="description-block border-right">
                                <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                <h5 class="description-header">{{ veiculo.km_troca_oleo }}</h5>
                                <span class="description-text">KM Troca Óleo</span>
                              </div>
                            </div>
                          }
                          @if(veiculo.km_revisao ){
                            <div class="col-sm-2">
                              <div class="description-block border-right">
                                <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                <h5 class="description-header">{{ veiculo.km_revisao  }}</h5>
                                <span class="description-text">KM Revisão</span>
                              </div>
                            </div>
                          }
                          @if(veiculo.data_revisao){
                            <div class="col-sm-2">
                              <div class="description-block border-right">
                                <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                                <h5 class="description-header">{{ veiculo.data_revisao  | date: 'dd/MM/yyyy' }}</h5>
                                <span class="description-text">Data Revisão</span>
                              </div>
                            </div>
                          }
                        </div> 
                      </div>
                    </div>
                    @if(veiculo.observacoes){
                      <h5 class="mt-4">Observações</h5>
                      <div [innerHTML]="veiculo.observacoes"></div>
                    }
                    <!--div fim row-->
                  </div>
                  <!--FIM TAB INFORMACOES-->
                  @if(user.perfil.veiculos_policiais){
                  <!--INICIO TAB EMPRESTIMOS-->
                  <div class="tab-pane" id="emprestimos">
                    <!-- -------------------------------------------- -->

                     <!--INICIO TABLE-->
                     <table datatable
                     [dtOptions]="dtOptions"
                     class="table table-hover table-head-fixed text-nowrap">
                       <thead>
                         <tr>
                           <th>#</th>
                           <th>Graduação</th>
                           <th>Numeral</th>
                           <th>Nome de Guerra</th>
                           <th>Matrícula</th>
                           <th>Setor</th>
                           <th>Data Inicial</th>
                           <th>Km Inicial</th>
                           <th>Data Final</th>
                           <th>Km Final</th>
                           <th>Ver Empréstimo</th>
                         </tr>
                       </thead>
                       <tbody>
                         @for(row of
                         veiculo.veiculos_policiais; track row){
                         <tr class="optionshover2">
                          <td>{{ row.id }}</td>
                          <td>{{ row.policial.graduacao.abreviatura }}</td>
                          <td>{{ row.policial.numeral }}</td>
                          <td>{{ row.policial.nome_guerra }}</td>
                          <td>{{ row.policial.matricula }}</td>
                          <td>{{ row.policial.setor.nome }}</td>
                          <td>
                            {{ row.data_inicial | date : "dd/MM/yyyy HH:mm" }}
                          </td>
                          <td>{{ row.km_inicial }}</td>
                          <td>
                            {{ row.data_final | date : "dd/MM/yyyy HH:mm" }}
                          </td>
                          <td>{{ row.km_final }}</td>
                           <td class="options2">
                             <a
                               class="point btn btn-outline-primary btn-xs showbtn"
                               title="Ver Empréstimo"
                                     (click)="showVeiculoPolicial(row)"
                                     data-bs-toggle="modal"
                                     data-bs-target="#modalshowveipol"
                             >
                             Ver Empréstimo
                             </a>
                           </td>
                         </tr>
                         }
                       </tbody>
                     </table>
                     <!--FIM TABLE-->


                       <!-- INICIO MODAL SHOW EMP ARMAMENTO-->
                         <div
                         class="modal fade"
                         id="modalshowveipol"
                         style="display: none"
                         aria-hidden="true"
                       >
                         <div class="modal-dialog modal-xl">
                           <div class="modal-content">
                             <div class="modal-header border-0">
                               <h4 class="modal-title">Empréstimo</h4>
                               <button
                                 type="button"
                                 class="close"
                                 data-bs-dismiss="modal"
                                 aria-label="Close"
                               >
                                 <span aria-hidden="true">×</span>
                               </button>
                             </div>
                             <div class="modal-body">
                                @if(veiPolicial){
                                  <app-veiculos-policiais-show [veiculopolicial]="veiPolicial" />
                                }
                             </div>
                           </div>
                         </div>
                       </div>
                       <!-- FIM MODAL SHOW EMP ARMAMENTO-->
                    <!--------------------------------------------------->
                  </div>
                  <!--FIM TAB ARMAMENTOS-->
                  } @if(user.perfil.veiculos_oficinas){
                  <!--INICIO TAB OFICINAS-->
                  <div class="tab-pane" id="manutencoes">
                    <!-- -------------------------------------------- -->
                      <!--INICIO TABLE-->
                      <table datatable
                      [dtOptions]="dtOptions2"
                      class="table table-hover table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Oficina</th>
                            <th>Tipo</th>
                            <th>Data Inicial</th>
                            <th>Km Inicial</th>
                            <th>Data Final</th>
                            <th>Km Final</th>
                            <th>Ver Empréstimo</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for(row of
                          veiculo.veiculos_oficinas; track row){
                          <tr class="optionshover2">
                            <td>{{ row.id }}</td>
                            <td>{{ row.oficina.nome }}</td>
                            <td>{{ row.manutencao_tipo.nome }}</td>
                            <td>
                              {{ row.data_inicial | date : "dd/MM/yyyy HH:mm" }}
                            </td>
                            <td>{{ row.km_inicial }}</td>
                            <td>
                              {{ row.data_final | date : "dd/MM/yyyy HH:mm" }}
                            </td>
                           
                            <td>{{ row.km_final }}</td>
                            <td class="options2">
                              <a
                                class="point btn btn-outline-primary btn-xs showbtn"
                                title="Ver Empréstimo"
                                      (click)="showVeiculoOficina(row)"
                                      data-bs-toggle="modal"
                                      data-bs-target="#modalshowveiofi"
                              >
                              Ver Empréstimo
                              </a>
                            </td>
                          </tr>
                          }
                        </tbody>
                      </table>
                      <!--FIM TABLE-->
 
 
                        <!-- INICIO MODAL SHOW EMP ARMAMENTO-->
                          <div
                          class="modal fade"
                          id="modalshowveiofi"
                          style="display: none"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                              <div class="modal-header border-0">
                                <h4 class="modal-title">Empréstimo</h4>
                                <button
                                  type="button"
                                  class="close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                 @if(veiOficina){
                                   <app-veiculos-oficinas-show [veiculooficina]="veiOficina" />
                                 }
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- FIM MODAL SHOW EMP ARMAMENTO-->

                   
                    <!--------------------------------------------------->
                  </div>
                  <!--FIM TAB MANUTENCOES-->
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--FIM SECTION content-->
  }
</div>
