/* You can add global styles to this file, and also import other style files */
.hovers:hover td span{
    display: block;
}

.editdata{
    display: none;
}

.point{
    cursor: pointer;
}

.margin5{
    margin-left: 5px;;
}

.ae-font .ae-picker-label {
    height: 6.4% !important;
}

@media print {
    .noprint{
        display: none;
    }

    body{
        -webkit-print-color-adjust: exact; 
    }
}
