<form id="formdev" name="formdev" [formGroup]="form">
    <!--INICIO TABLE-->
    <table class="table table-hover table-head-fixed text-nowrap">
      <thead>
        <tr>
          <th>#</th>
          <th>Tipo</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Serial</th>
          <th>Quantidade</th>
          <th>Quant. Recebida</th>
        </tr>
      </thead>
      <tbody>
        @for(item of materialPolicial.materiais_policiais_itens; track
        item){
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.material.material_tipo.nome }}</td>
          <td>
            @if(item.material.modelo.marca){{{item.material.modelo.marca.nome}}}
          </td>
          <td>{{ item.material.modelo.nome }}</td>
          <td>{{ item.material.serial }}</td>
          <td>{{ item.quantidade }}</td>
          <td>
            <input class="form-control" type="number" min="0" max="{{item.quantidade}}" id="{{item.id}}" [value]="item.quantidade" />
          </td>
        </tr>
        }
      </tbody>
    </table>
    <!--FIM TABLE-->
  
    <div class="row" style="height: 350px">
      <input-textarea
        class="col-sm-12"
        formControlName="observacoes"
        label="Observações"
        id="observacoes"
      />
    </div>
  
    <div class="d-flex justify-content-end">
      <a data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
      <button
        type="button"
        (click)="cadastrar()"
        data-bs-dismiss="modal"
        class="btn btn-primary"
      >
        Receber
      </button>
    </div>
  </form>
        <!-- data-bs-dismiss="modal" -->