<!--<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>-->
    <!--INICIO CONTENT WRAPPER-->
    <div class="content-wrapper" *ngIf="user" style="min-height: 1604.44px">
      <!--INICIO SECTION HEADER-->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Escalas</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/Inicio']">Início</a>
                </li>
                <li class="breadcrumb-item active">Escalas</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <!--FIM SECTION HEADER-->
      <!--INICIO SECTION TABELA-->
      <section class="content">
        <!--INICIO CARD-->
        <div class="card card-outline card-orange">
          <!--INICIO HEADER CARD-->
          <div class="card-header">
            <div class="row">
              <div class="col-sm-1">
                <button
                *ngIf="user.perfil.escalas_cad"
                  data-bs-toggle="modal"
                  data-bs-target="#modalcad"
                  type="button"
                  class="btn btn-block btn-outline-primary"
                  (click)="formcad.reset()"
                >
                  <i class="nav-icon fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <!--FIM HEADER CARD-->
          <!--INICIO BODY CARD-->
          <div class="card-body table-responsive p-2" >
            <!--INICIO TABLE CARD-->
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table table-hover table-head-fixed text-nowrap"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>DATA</th>
                  <th>CÓDIGO</th> 
                  <th>MODELO</th> 
                  <!--<th>ESCALAR</th> -->
                  <th>DISPENSAS</th>
                  <th>OPÇÕES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of data$" class="hovers">
                  <td>{{ data.id }}</td>
                  <td>{{ data.data | date: 'dd/MM/yyyy' }}</td>
                  <td><a target="_blank" [routerLink]="['/Escala', data.id]">{{ data.codigo }}/{{ data.created_at | date: 'yyyy' }}</a></td>
                  <td>{{ data.escala_modelo.nome }}</td>
                  <!--<td>
                    <a target="_blank" [routerLink]="['/Escala', data.id]">
                      <i                                                                       
                        class="right fas fa-align-justify text-primary point"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Escalar"
                      ></i>
                    </a>
                  </td>-->
                  <td>
                    
                      <i            
                        [ngClass]="
                          data.dispensas[0] ? 'text-primary' : 'text-secondary'
                        "          
                        (click)="showDispensas(data)"
                        data-bs-toggle="modal"
                        data-bs-target="#modaldisp"                                               
                        class="right fa fa-user-times  point"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Dispensas"
                      ></i>
                    
                  </td>
                  <td>
                    <span class="editdata">
                      <i
                      *ngIf="user.perfil.escalas_edt"
                        (click)="editar(data)"
                        data-bs-toggle="modal"
                        data-bs-target="#modalcad"
                        class="right fas fa-edit text-primary point"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Editar"
                      ></i>
                      <i
                      *ngIf="user.perfil.escalas_del"
                        (click)="deletar(data)"
                        data-bs-toggle="modal"
                        data-bs-target="#modaldel"
                        class="right fas fa-trash text-danger point margin5"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Excluir"
                      ></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--FIM TABLE CARD-->
          </div>
          <!--FIM BODY CARD-->
        </div>
        <!--FIM CARD-->
  
        <!--INICIO MODAL CADASTRO-->
        <div class="modal fade" id="modalcad" aria-modal="true" role="dialog">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Cadastrar</h4>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <!--FORM CADASTRO-->
              <form [formGroup]="formcad" (ngSubmit)="salvar()">
                <div class="modal-body">
                  <!--INICIO ROW 1-->
                  <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="escala_modelo"
                            >Modelo Escala<span class="text-danger">*</span></label>
                            <ngx-select-dropdown 
                                [config]="config" 
                                [options]="escalasmodelos$"
                                formControlName="escala_modelo"
                                
                                >
                                
                            </ngx-select-dropdown>
                        </div>
                      </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="data"
                          >Data<span class="text-danger">*</span></label
                        >
                        <input
                          formControlName="data"
                          required
                          type="date"
                          class="form-control form-control-border"
                          id="data"
                          placeholder="Data"
                          [ngClass]="{
                            'is-invalid':
                              formcad.controls.data.invalid &&
                              (formcad.controls.data.dirty ||
                                formcad.controls.data.touched)
                          }"
                        />
                      </div>
                    </div>
                  </div>
                  <!--FIM ROW 1-->
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    [disabled]="!formcad.valid"
                    data-bs-dismiss="modal"
                    type="submit"
                    class="btn btn-success"
                  >
                    Salvar
                  </button>
                </div>
              </form>
              <!--FIM FORM CADASTRO-->
            </div>
          </div>
        </div>
        <!--FIM MODAL CADASTRO-->
  
        <!--INICIO MODAL DELETE-->
        <div class="modal fade" id="modaldel" aria-modal="true" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Excluir</h4>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
  
              <div class="modal-body">
                <p>
                  Tem certeza que deseja excluir a escala
                  <b>{{ excluir$?.codigo }}</b
                  >?
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button
                  (click)="confirm()"
                  data-bs-dismiss="modal"
                  type="button"
                  class="btn btn-danger"
                >
                  Excluir
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--FIM MODAL DELETE-->

        <!--INICIO MODAL DISPENSAS-->
      <div class="modal fade" id="modaldisp" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                Dispensas
                <button
                  type="button"
                  class="btn  btn-outline-primary"
                  (click)="caddispe()"
                >
                  <i class="nav-icon fas fa-plus"></i>
                </button>
              </h4>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal-body" *ngIf="escala$">

              <div class="card card-olive" *ngIf="caddisp">
                <div class="card-header">
                  <h3 class="card-title">Cadastrar Policial</h3>                 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="disps">Usuário</label>
                              <ngx-select-dropdown 
                                [config]="config2" 
                                [options]="usuarios$"
                                [multiple]="true"
                                [(ngModel)]="disps"
                                >
                                
                              </ngx-select-dropdown>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <button
                              [disabled]="!disps[0]"
                                style="margin-top: 30px;"
                                type="button"
                                class="btn btn-success"
                                (click)="cadastrardisp()"
                            >
                                Cadastrar
                            </button>
                          </div>
                    </div>
                </div>
              </div>

              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>MATRÍCULA</th>
                    <th>OPÇÕES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of escala$.dispensas" class="hovers">
                    <td>{{ data.pivot.id }}</td>
                    <td>{{ data.nome }}</td>
                    <td>{{ data.matricula | mask: "000.000-0-0" }}</td>
                    <td>
                      <span class="editdata">
                        <i
                          (click)="deletardisp(data)"
                          class="right fas fa-trash text-danger point margin5"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Excluir"
                        ></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-bs-dismiss="modal"
              >
                Fechar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--FIM MODAL DISPENSAS-->
          
      </section>
      <!--FIM SECTION TABELA-->
    </div>
    <!--FIM CONTENT WRAPPER-->
    <!--<app-footer></app-footer>
  </div>-->
  