<aside class="main-sidebar sidebar-dark-orange elevation-4">
  <a [routerLink]="['Inicio']" class="brand-link">
    <img
      src="assets/casamil.png"
      alt="Casa Militar"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">SISAC</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="true"
      >
        <li class="nav-item">
          <a
            [routerLink]="['Inicio']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-home"></i>
            <p>Início</p>
          </a>
        </li>
        @if(user.perfil.policiais_atestados){
        <li class="nav-item">
          
          <a
            [routerLink]="['Atestados']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-ambulance"></i>
            <p>Atestados</p>
          </a>
        </li>
        } @if(user.perfil.armamentos){
        <li class="nav-item">
          <a
            [routerLink]="['Armamentos']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-crosshairs"></i>
            <p>Armamentos</p>
          </a>
        </li>
        } @if(user.perfil.armamentos_emprestimos){
        <li class="nav-item">
          <a
            [routerLink]="['ArmamentosEmprestimos']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-briefcase"></i>
            <p>Emp. de Armamentos</p>
          </a>
        </li>
        } @if(user.perfil.policiais_ferias){
        <li class="nav-item">
          <a
            [routerLink]="['Ferias']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-plane"></i>
            <p>Férias</p>
          </a>
        </li>
        } @if(user.perfil.policiais){
        <li class="nav-item">
          <a
            [routerLink]="['Policiais']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-users"></i>
            <p>Policiais</p>
          </a>
        </li>
        } @if(user.perfil.policiais_publicacoes){
        <li class="nav-item">
          <a
            [routerLink]="['Publicacoes']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-folder-open"></i>
            <p>Publicações</p>
          </a>
        </li>
        } @if(user.perfil.gestor){
        <li
          class="nav-item point"
          (click)="openMenuGestor()"
          [ngClass]="{ 'menu-is-opening menu-open': menuGestor }"
        >
          <a class="nav-link">
            <i class="nav-icon fa fa-cog"></i>
            <p>
              Gestor
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul
            class="nav nav-treeview"
            [ngStyle]="{ 'display: block;': menuGestor }"
          >
            <li class="nav-item">
              <a
                [routerLink]="['Usuarios']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Usuários</p>
              </a>
            </li>
          </ul>
        </li>
        } @if(user.perfil.administrador){
        <li
          class="nav-item point"
          (click)="openMenuAdmin()"
          [ngClass]="{ 'menu-is-opening menu-open': menuAdmin }"
        >
          <a class="nav-link">
            <i class="nav-icon fa fa-cogs"></i>
            <p>
              Administrador
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul
            class="nav nav-treeview"
            [ngStyle]="{ 'display: block;': menuAdmin }"
          >
            <li class="nav-item">
              <a
                [routerLink]="['ArmamentosCalibres']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Calibres de Armamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Cidades']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Cidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Cores']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Cores</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Estados']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Estados</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Graduacoes']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Graduações</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Marcas']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Marcas</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Modelos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Modelos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Oficinas']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Oficinas</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Paises']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Países</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Perfis']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Perfis</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Setores']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Setores</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Sexos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Sexos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Subunidades']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Subunidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['ArmamentosTamanhos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Tamanhos de Armamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['ArmamentosTipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Tipos de Armamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['ManutencoesTipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Tipos de Manutenções</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['PublicacoesTipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Tipos de Publicações</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['VeiculosTipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Tipos de Veículos</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a
                [routerLink]="['Unidades']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fa fa-circle nav-icon"></i>
                <p>Unidades</p>
              </a>
            </li>
          </ul>
        </li>
        }
      </ul>
    </nav>
  </div>
</aside>
