<aside class="main-sidebar sidebar-dark-orange elevation-4">
  <a [routerLink]="['Inicio']" class="brand-link">
    <img
      src="assets/casamil.png"
      alt="Casa Militar"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">SISAC</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
          [routerLink]="['Inicio']"
          routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-home"></i>
            <p>Início</p>
          </a>
        </li>
        <li class="nav-item">
          <a
          [routerLink]="['Usuarios']"
          routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-users"></i>
            <p>Usuários</p>
          </a>
        </li>
        <li class="nav-item">
          <a
          [routerLink]="['Perfis']"
          routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-users"></i>
            <p>Perfis</p>
          </a>
        </li>
      
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-file"></i>
            <p>
              Relatórios
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" >
            <li class="nav-item" >
              <a
                [routerLink]="['Graduacoes']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Graduações</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>