<div class="content-wrapper">
    <app-title titulo="Materiais de Consumo" />
  
    <!--INICIO SECTION content-->
    <section class="content">
      <!-- INICIO CARD-->
      <div class="card">
        <!-- INICIO CARD HEADER-->
        <div class="card-header border-0">
          <h3 class="card-title">
            @if(user.perfil.materiais_consumo_cad){
              <button
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalcad"
                title="Cadastrar"
                (click)="cadastrar()"
              >
                <i class="fa fa-plus"></i> Cadastrar
              </button>
            }
          </h3>
          <div class="card-tools">
            
          </div>
        </div>
        <!-- FIM CARD HEADER-->
        <!-- INICIO CARD BODY-->
        <div class="card-body table-responsive p-1">
          @if(data$ | async; as data){
            <!--INICIO TABLE-->
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover table-head-fixed text-nowrap"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tipo</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Serial</th>
                  <th>Quantidade</th>
                  <th>Quant. Alerta</th>
                  <th>Dt Validade</th>
                  <th>Dt Baixa</th>
                  <th>Opções</th>
                </tr>
              </thead>
    
              <tbody>
                @for(row of data; track row){
                <tr class="optionshover2">
                  <td>{{ row.id }}</td>
                  <!-- <td>{{ row.subunidade.abreviatura }} - {{ row.subunidade.unidade.abreviatura }}</td> -->
                  <td><a [routerLink]="['/MaterialConsumo',  encodeId(row.id)]">{{ row.material_consumo_tipo.nome }}</a></td>
                  <td>{{ row.modelo.marca.nome }}</td>
                  <td>{{ row.modelo.nome }}</td>
                  <td>{{ row.serial }}</td>
                  <td>{{ row.quantidade }}</td>
                  <td>{{ row.quantidade_alerta }}</td>
                  <td>{{ row.data_validade | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ row.data_baixa | date: 'dd/MM/yyyy' }}</td>
                  <td class="options2">
                    <div class="btn-group">
                      @if(user.perfil.materiais_consumo_edt){
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-xs"
                          (click)="editar(row)"
                          data-bs-toggle="modal"
                          data-bs-target="#modalcad"
                          title="Editar"
                        >
                          Editar
                        </button>
                      }
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-hover dropdown-icon"
                        data-bs-toggle="dropdown"
                      >
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu" role="menu">
                        @if(user.perfil.materiais_consumo_del){
                          <a
                            class="dropdown-item point"
                            (click)="delete(row)"
                            data-bs-toggle="modal"
                            data-bs-target="#modaldel"
                            title="Excluir"
                            >Excluir</a
                          >
                        }
                      </div>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <!--FIM TABLE-->
            }
        </div>
        <!-- FIM CARD BODY-->
      </div>
      <!--FIM CARD-->
    </section>
    <!--FIM SECTION content-->
  
    <!-- INICIO MODAL CADASTRO-->
    <div
      class="modal fade"
      id="modalcad"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Cadastrar</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(cadastrando){
              <app-materiais-consumo-form (refresh)="refresh()" (cancel)="resetForm()" />
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL CADASTRO-->
  
    <!-- INICIO MODAL exclusao-->
    <div
      class="modal fade"
      id="modaldel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Excluir</h4>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            @if(excluir){ Tem certeza que deseja excluir:
            <b>{{ excluir.material_consumo_tipo.nome }}</b>
            <div class="d-flex justify-content-end">
              <a data-bs-dismiss="modal" class="btn btn-link text-primary"
                >Cancelar</a
              >
              <button
                type="button"
                (click)="confirm()"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Excluir
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!--FIM MODAL exclusao-->
  </div>
  