<form [formGroup]="form">

    <div class="row">
     
        <input-text
          class="col-sm-2"
          formControlName="quantidade"
          label="Quantidade"
          id="quantidade"
          tipo="number"
        />

        
      
    </div>
  
    <div class="d-flex justify-content-end">
      <a
        (click)="cancelar()"
        data-bs-dismiss="modal"
        class="btn btn-link text-danger"
        >Cancelar</a
      >
      <button
        [disabled]="form.invalid"
        type="button"
        (click)="cadastrar()"
        data-bs-dismiss="modal"
        class="btn btn-primary"
      >
        Cadastrar
      </button>
    </div>
  </form>
  