<form [formGroup]="form">

    <div class="row">
     
        <input-text
          class="col-sm-6"
          formControlName="quantidade"
          label="Quantidade"
          id="quantidade"
          tipo="number"
        />

      
        <div class="col-sm-6">

          <div class="form-group">
            <label class="col-form-label" for="inputSuccess">Tipo</label>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" value="1" type="radio" name="tipo" formControlName="tipo" checked="">
                <label class="form-check-label">Para mais</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="2" type="radio" name="tipo" formControlName="tipo" >
                <label class="form-check-label">Para menos</label>
              </div>
            </div>
          </div>

          
        </div>
        
      
    </div>
  
    <div class="d-flex justify-content-end">
      <a
        (click)="cancelar()"
        data-bs-dismiss="modal"
        class="btn btn-link text-danger"
        >Cancelar</a
      >
      <button
        [disabled]="form.invalid"
        type="button"
        (click)="cadastrar()"
        data-bs-dismiss="modal"
        class="btn btn-primary"
      >
        Cadastrar
      </button>
    </div>
  </form>
  