<div class="form-group">
    <label for="{{ id }}">
      {{ label }}
      <span *ngIf="control?.errors?.['required']" class="text-danger">*</span>
    </label>
  
    <input
      *ngIf="!mascara && tipo != 'textarea' && tipo != 'checkbox' && !max"
      [(ngModel)]="inputvalor"
      (ngModelChange)="change()"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
      type="{{ tipo }}"
      class="form-control"
      id="{{ id }}"
      placeholder="{{ label }}"
      autofocus="autofocus"
    />

    <input
      *ngIf="max"
      [(ngModel)]="inputvalor"
      (ngModelChange)="change()"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
      type="{{ tipo }}"
      class="form-control"
      id="{{ id }}"
      placeholder="{{ label }}"
      max="{{max}}"
      min="{{min}}"
    />
  
    <input
      *ngIf="mascara && tipo != 'textarea'"
      [(ngModel)]="inputvalor"
      (ngModelChange)="change()"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
      mask="{{ mascara }}"
      type="{{ tipo }}"
      class="form-control"
      id="{{ id }}"
      placeholder="{{ label }}"
      autofocus="autofocus"
    />
    
    <div *ngIf="control.invalid && (control.dirty || control.touched)">
      <span *ngIf="control?.errors?.['required']" class="text-danger"
        >{{ label }} é obrigatório</span
      >
  
      <span *ngIf="control?.errors?.['minlength']">
        {{ label }} deve ter no mínimo
        {{control.errors?.['minlength'].requiredLength}} caracteres
      </span>
      <span *ngIf="control?.errors?.['maxlength']">
        {{ label }} deve ter no máximo
        {{control.errors?.['maxlength'].requiredLength}} caracteres
      </span>
  
      <span *ngIf="control?.errors?.['email']">
        O texto informado precisa ser um e-mail.
      </span>
  
      <span *ngIf="control?.errors?.['min']">
        {{ label }} deve ser no mínimo
        {{control.errors?.['min'].min}}
      </span>
      <span *ngIf="control?.errors?.['max']">
        {{ label }} deve ser no máximo
        {{control.errors?.['max'].max}}
      </span>
    </div>
  </div>